<template>
  <div class="cart">
    <div class="e-section-header -breadcrumbs e-section">
      <h2 class="_text">
        <router-link class="_text"
                     :to="{ name: 'catalog' }">Каталог</router-link>
        <span>➾</span>
        <span>Оформление заказа</span>
      </h2>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'Cart'
  }
</script>
