<template>
  <div class="cart-check">
    <div class="e-section cart-header">
      <h5 class="_caption -default w-75">1. Проверка</h5>
      <h5 class="_caption -sub w-25">Итого</h5>
    </div>
    <div class="e-section cart-content">
      <p class="info" v-if="containersCount === 0">Корзина пуста</p>
      <div class="cart-table w-75" v-else>
        <p class="_element -rect -header">Вид</p>
        <p class="_element -rect -header">Описание и продавец</p>
        <p class="_element -rect -header">Доставка или самовывоз</p>
        <div class="containers" v-for="c in containers" :key="c.container.id">
          <container-preview-slider class="slider _element -rect"
                                    :id="c.container.id"
                                    :content="c.container.images">
          </container-preview-slider>
          <div class="_element -rect e-preview"
               @click.self="$router.push({ name: 'container-sale', params: { id: c.container.id } })">
            <div class="top">
              <p class="name _text -sub -s">{{ c.container.name }}</p>
              <p class="_text -sub -s">
                {{ c.container.property_json[pr.type.name].short_name }}
              </p>
            </div>
            <p class="size _text -def -name -l">{{ c.container.property_json[pr.size.name] }} </p>
            <p class="_text -def -m">
              {{ c.container.property_json[pr.state.name] }}, {{ c.container.property_json[pr.year.name] }} г.
              <span class="number">№{{ c.container.property_json[pr.number.name] }}</span>
            </p>
            <p class="price" v-if="c.action === 'sale'">
              <span class="_text -def -xl">
                {{ formatPrice(c.container.property_json[pr.priceSale.name]
                || c.container.property_json[pr.price.name]) }}</span>
              <span class="_text -def -l">₽</span>
              <span class="_text -stroke -l"
                    v-show="c.container.property_json[pr.discount.name]">
                {{ formatPrice(c.container.property_json[pr.price.name]) }}
              </span>
            </p>
            <div class="price" v-else>
              <label class="e-radio" v-if="rent">
                <input class="_input"
                       type="radio"
                       value="rent_month"
                       v-model="rent[c.container.id]"/>
                <span class="_label -left">
                  <span class="_caption">в месяц</span>
                  <span class="_text -def -xl">
                    {{ formatPrice(c.container.property_json[pr.rentPriceMonth.name]) }}</span>
                  <span class="_text -def -l">₽</span>
                </span>
              </label>
              <label class="e-radio" v-if="rent">
                <input class="_input"
                       type="radio"
                       value="rent_year"
                       v-model="rent[c.container.id]"/>
                <span class="_label -left">
                  <span class="_caption">в год</span>
                  <span class="_text -def -xl">
                    {{ formatPrice(c.container.property_json[pr.rentPriceYear.name]) }}</span>
                  <span class="_text -def -l">₽</span>
                </span>
              </label>
            </div>
            <div class="manager">
              <div class="_container">
                <img class="e-image"
                     :src="root + c.container.manager.photo"
                     alt="Фото"/>
              </div>
              <p class="_name _text -def -m">
                {{ c.container.manager.first_name + ' ' + c.container.manager.last_name }}</p>
            </div>
            <p class="_text -sub -location -s">
              {{ getFullAddress(c.container.property_json) }}</p>
          </div>
          <cart-delivery-block class="_element -rect e-preview"
                               :action="c.action"
                               :address="getFullAddress(c.container.property_json)"
                               :phone="c.container.manager.phone">
            <button class="_delete"
                    @click="addOrRemoveContainers({ remove: [ {
                      container: c.container.id,
                      action: c.action
                    } ] })">
              Удалить
            </button>
          </cart-delivery-block>
        </div>
        <div class="table-button">
          <router-link class="e-button -shadowed"
                       :to="{ name: 'cart-execute' }">Оформить</router-link>
        </div>
        <div class="_element -header">Бонусы от продавцов</div>
        <bonus-panel :bonusArray="orderInfo.bonuses"></bonus-panel>
      </div>
      <div class="price-block w-25" id="price-block">
        <p class="_title">Покупка</p>
        <div class="_line">
          <p class="_text -type">Стоимость</p>
          <p class="_text -value">
            {{ formatPrice(orderInfo.price) }}
            <span class="_text -symbol"> ₽</span>
          </p>
        </div>
        <div class="_line">
          <p class="_text -type">Скидка</p>
          <p class="_text -value">
            - {{ formatPrice(orderInfo.price - orderInfo.priceWithDiscount) }}
            <span class="_text -symbol"> ₽</span>
          </p>
        </div>
        <div class="_line">
          <p class="_text -type">К оплате</p>
          <p class="_text -value">
            {{ formatPrice(orderInfo.priceWithDiscount) }}
            <span class="_text -symbol"> ₽</span>
          </p>
        </div>
        <p class="_title"
           v-show="orderInfo.rentPriceMonth || orderInfo.rentPriceYear">Аренда</p>
        <div class="_line" v-show="orderInfo.rentPriceMonth">
          <p class="_text -type">К оплате в месяц</p>
          <p class="_text -value">
            {{ formatPrice(orderInfo.rentPriceMonth) }}
            <span class="_text -symbol"> ₽</span>
          </p>
        </div>
        <div class="_line" v-show="orderInfo.rentPriceYear">
          <p class="_text -type">К оплате в год</p>
          <p class="_text -value">
            {{ formatPrice(orderInfo.rentPriceYear) }}
            <span class="_text -symbol"> ₽</span>
          </p>
        </div>
        <router-link class="e-button" :to="{ name: 'cart-execute' }">
          К оформлению</router-link>
        <p class="cart-message">Помните!</p>
        <p class="cart-message">
          Оформляя заказ, вы резервируете за собой контейнер на 48 часов.<br/>
          В течение рабочего дня вам позвонит продавец для обсуждения условий сделки.
        </p>
        <p class="cart-message">
          Если вы выбрали несколько контейнеров от разных продавцов, то с вами свяжется продавец каждого из них.
        </p>
        <p class="cart-message">
          Компания «Рефтерминал» не несёт ответственности за сторонних продавцов и не обещает от них вежливое обслуживание.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { root } from '@/config';
  import CartDeliveryBlock from "./CartDeliveryBlock";
  const ContainerPreviewSlider = () => import("../Container/ContainerPreviewSlider");
  const BonusPanel = () => import("../Manager/BonusPanel");
  
  export default {
    name: 'CartCheck',
    data () {
      return {
        isFixed: false,
        cartElementTop: 0,
        root: root,
        rent: null
      }
    },
    computed: {
      containers () {
        return [ ...this.saleContainers, ...this.rentContainers ];
      },
      ...mapState('container', {
        pr: state => state.property
      }),
      ...mapState('cart', [
        'orderInfo',
        'saleContainers',
        'rentContainers',
        'containersCount'
      ])
    },
    components: {
      CartDeliveryBlock,
      ContainerPreviewSlider,
      BonusPanel
    },
    watch: {
      rentContainers () {
        if (this.rent) return;
        this.setRent();
      },
      rent: {
        handler (rent, old) {
          if (!old) return;
          let change = [];
          for (let key in rent) {
            if (rent.hasOwnProperty(key)) {
              change.push({ container: key, action: rent[key] });
            }
          }
          this.addOrRemoveContainers({
            add: change,
            mute: true
          })
        },
        deep: true
      }
    },
    methods: {
      getFullAddress (container) {
        return 'г.' + container[this.pr.city.name][this.pr.city.name] + ', '
          + container[this.pr.city.custom] || container[this.pr.city.name].address;
      },
      formatPrice (value) {
        return (+value || 0).toLocaleString('ru-RU');
      },
      setRent () {
        if (this.rentContainers.length <= 0) return;
        let c = this.rentContainers;
        let rent = {};
        for (let i = 0, l = this.rentContainers.length; i < l; i++) {
          rent[c[i].container.id] = c[i].action;
        }
        this.rent = rent;
      },
      ...mapActions('cart', [ 'addOrRemoveContainers' ])
    },
    mounted () {
      this.setRent();
    }
  }
</script>

<style lang="scss" scoped>
  .w-75 {
    width: 74%;
  }
  .w-25 {
    width: 24%;
  }
  .cart-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .info {
    width: 100%;
    text-align: center;
  }
  .cart-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    ._element {
      &.-rect {
        width: 32%;
        margin-bottom: 1rem;
      }
      &.-header {
        margin: 2rem 0 .5rem;
        color: #93b7d2;
        font-size: 1rem;
      }
    }
  }
  .containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .table-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
    
    .e-button {
      $h: 3rem;
      width: 30%;
      height: $h;
      line-height: $h;
      min-width: 8rem;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .name {
    margin-right: 5%;
  }
  .size {
    margin: .5rem 0;
  }
  .price {
    margin: 1rem 0;
  }
  .number {
    margin-bottom: .6rem;
  }
  .manager {
    $a: 3.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    
    ._container {
      width: $a;
      height: $a;
      line-height: $a;
      margin-right: .5rem;
      border-radius: 100%;
      overflow: hidden;
      font-size: .875rem;
    }
    ._name {
      height: $a;
      line-height: $a;
      font-size: .875rem;
    }
  }
  .vue-affix {
    background-color: #c5e1f6;
  }
  .price-block {
    padding-bottom: 2rem;
    
    ._line {
      display: flex;
      justify-content: space-between;
    }
    ._title {
      margin: 2rem 0 .5rem;
      color: #93b7d2;
      font-size: 1rem;
    }
    ._text {
      margin: .15rem 0;
      
      &.-type {
        font-size: .875rem;
      }
      &.-value {
        font-size: 1.5rem;
      }
      &.-symbol {
        font-size: 1.125rem;
      }
    }
    .e-button {
      $h: 3.5rem;
      width: 100%;
      height: $h;
      line-height: $h;
      margin: 2rem 0 5rem;
    }
  }
</style>

<style lang="scss" src="../../styles/cart.scss"></style>
