<template>
  <div class="cart-execute">
    <div class="e-section cart-header">
      <h5 class="_caption -sub">1. Проверка</h5>
      <router-link class="_button e-button"
                   :to="{ name: 'cart-check' }">изменить</router-link>
    </div>
    <div class="e-section cart-header">
      <h5 class="_caption -default">2. Оформление</h5>
    </div>
    <form class="e-section" autocomplete="on" @submit.prevent="goToPayment" novalidate>
      <label class="e-radio"
             v-for="t in customerTypes"
             :class="order.type === t.value ? '-blue' : '-grey'">
        <input class="_input"
               type="radio"
               :value="t.value"
               v-model="order.type"/>
        <span class="_label">{{ t.name }}</span>
      </label>
      <div class="_row">
        <div class="last-wrap">
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.org_name.$error }"
                 v-show="isOrg">
            <span class="_label">Название организации</span>
            <input class="_input"
                   type="text"
                   v-model.trim="order.org_name"
                   @input="$v.order.org_name.$touch()"/>
          </label>
        </div>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.inn.$error }">
          <span class="_label">ИНН</span>
          <the-mask class="_input"
                    mask="##########"
                    type="tel"
                    v-model.trim="order.inn"
                    @input="$v.order.inn.$touch()"></the-mask>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.snils.$error }"
               v-show="isPP">
          <span class="_label">СНИЛС</span>
          <the-mask class="_input"
                    type="text"
                    mask="###-###-### ##"
                    v-model.trim="order.snils"
                    @input="$v.order.snils.$touch()"></the-mask>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.ogrnip.$error }"
               v-show="isIP">
          <span class="_label">ОГРНИП</span>
          <input class="_input"
                 type="text"
                 v-model.trim="order.ogrnip"
                 @input="$v.order.ogrnip.$touch()"/>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.kpp.$error }"
               v-show="isOrg">
          <span class="_label">КПП</span>
          <the-mask class="_input"
                    type="tel"
                    mask="#########"
                    v-model.trim="order.kpp"
                    @input="$v.order.kpp.$touch()"></the-mask>
        </label>
        <div class="last-wrap" v-show="isOrg">
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.okved.$error }">
            <span class="_label">ОКВЭД</span>
            <the-mask class="_input"
                      type="tel"
                      mask="********************************************"
                      :tokens="numsAndDots"
                      v-model.trim="order.okved"
                      @input="$v.order.okved.$touch()"></the-mask>
          </label>
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.okpo.$error }">
            <span class="_label">ОКПО</span>
            <the-mask class="_input"
                      type="tel"
                      :mask="['########', '##########']"
                      v-model.trim="order.okpo"
                      @input="$v.order.okpo.$touch()"></the-mask>
          </label>
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.oktmo.$error }">
            <span class="_label">ОКТМО</span>
            <the-mask class="_input"
                      type="tel"
                      mask="####################################"
                      v-model.trim="order.oktmo"
                      @input="$v.order.oktmo.$touch()"></the-mask>
          </label>
        </div>
      </div>
      <div class="_row">
        <p class="last-wrap _title -m">Контактные данные</p>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.fio.$error }"
               v-show="isPP || isIP">
          <span class="_label">Ваше ФИО</span>
          <the-mask class="_input"
                    type="text"
                    mask="****************************************"
                    :tokens="letters"
                    v-model.trim="order.fio"
                    @input="$v.order.fio.$touch()"></the-mask>
        </label>
        <div class="last-wrap" v-show="isOrg">
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.city.$error }">
            <span class="_label">Город</span>
            <input class="_input"
                   type="text"
                   v-model.trim="order.city"
                   @input="$v.order.city.$touch()"/>
          </label>
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.address.$error }">
            <span class="_label">Адрес</span>
            <input class="_input"
                   type="text"
                   v-model.trim="order.address"
                   @input="$v.order.address.$touch()"/>
          </label>
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.post_adress.$error }">
            <span class="_label">Индекс</span>
            <the-mask class="_input"
                      type="tel"
                      mask="########"
                      v-model.trim="order.post_adress"
                      @input="$v.order.post_adress.$touch()"></the-mask>
          </label>
        </div>
        <div class="input-wrapper">
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.phone.$error }">
            <span class="_label">Ваш номер телефона</span>
            <the-mask class="_input"
                      type="tel"
                      mask="+7 (###) ###-##-##"
                      :masked="true"
                      v-model.trim="order.phone"
                      @input="$v.order.phone.$touch()"></the-mask>
          </label>
          <p class="_subtext" v-show="isOrg">
            По нему с вами свяжется продавец контейнера и обсудит детали сделки.
          </p>
        </div>
        <div class="input-wrapper">
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.email.$error }">
            <span class="_label">Электронная почта</span>
            <input class="_input"
                   type="email"
                   name="email"
                   autocomplete="email home"
                   v-model.trim="order.email"
                   @input="$v.order.email.$touch()"/>
          </label>
          <p class="_subtext" v-show="isOrg">
            Нужна для согласования договора, реквизитов и отправки счёта.<br/>
            Не спамим.
          </p>
        </div>
      </div>
      <div class="_row" v-show="isPP || isIP">
        <p class="last-wrap _title -m">Адрес и паспортные данные</p>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.address.$error }">
          <span class="_label">Место фактического нахождения</span>
          <input class="_input"
                 type="text"
                 v-model.trim="order.address"
                 @input="$v.order.address.$touch()"/>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.pasport.$error }">
          <span class="_label">Серия и номер паспорта</span>
          <the-mask class="_input"
                    type="tel"
                    mask="#### ######"
                    v-model.trim="order.pasport"
                    @input="$v.order.pasport.$touch()"></the-mask>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.propiska.$error }">
          <span class="_label">Прописка</span>
          <input class="_input"
                 type="text"
                 v-model.trim="order.propiska"
                 @input="$v.order.propiska.$touch()"/>
        </label>
      </div>
      <div class="_row" v-show="isOrg">
        <p class="last-wrap _title -m">Реквизиты банка</p>
        <div class="last-wrap">
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.bank.$error }">
            <span class="_label">Банк</span>
            <input class="_input"
                   type="text"
                   v-model.trim="order.bank"
                   @input="$v.order.bank.$touch()"/>
          </label>
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.bik_bank.$error }">
            <span class="_label">БИК</span>
            <the-mask class="_input"
                      type="tel"
                      mask="#########"
                      v-model.trim="order.bik_bank"
                      @input="$v.order.bik_bank.$touch()"></the-mask>
          </label>
          <label class="e-input -shadowed"
                 :class="{ '-error': $v.order.kpp_bank.$error }">
            <span class="_label">КПП</span>
            <the-mask class="_input"
                      type="tel"
                      mask="#########"
                      v-model.trim="order.kpp_bank"
                      @input="$v.order.kpp_bank.$touch()"></the-mask>
          </label>
        </div>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.correspondent_account.$error }">
          <span class="_label">Кор. счёт</span>
          <the-mask class="_input"
                    type="tel"
                    mask="####################"
                    v-model.trim="order.correspondent_account"
                    @input="$v.order.correspondent_account.$touch()"></the-mask>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.checking_account.$error }">
          <span class="_label">Счёт получателя</span>
          <the-mask class="_input"
                    type="tel"
                    mask="##############################"
                    v-model.trim="order.checking_account"
                    @input="$v.order.checking_account.$touch()"></the-mask>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.foreign_currency_account.$error }">
          <span class="_label">Валютный счёт</span>
          <the-mask class="_input"
                    type="tel"
                    mask="##############################"
                    v-model.trim="order.foreign_currency_account"
                    @input="$v.order.foreign_currency_account.$touch()"></the-mask>
        </label>
      </div>
      <div class="_row" v-show="isOrg">
        <p class="last-wrap _title -m">Руководитель</p>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.fio.$error }">
          <span class="_label">ФИО</span>
          <the-mask class="_input"
                    type="text"
                    mask="************************************************"
                    :tokens="letters"
                    v-model.trim="order.fio"
                    @input="$v.order.fio.$touch()"></the-mask>
        </label>
        <label class="e-input -shadowed"
               :class="{ '-error': $v.order.dolznost.$error }">
          <span class="_label">Должность</span>
          <input class="_input"
                 type="text"
                 v-model.trim="order.dolznost"
                 @input="$v.order.dolznost.$touch()"/>
        </label>
      </div>
      <div class="_row">
        <div>
          <label class="e-checkbox -flag">
            <input class="_input" type="checkbox" v-model="policyAgreement"/>
            <span class="_label">
              Я согласен с
              <a class="_link"
                 href="https://refterminal.ru/static/documents/9%29%20%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8.docx">политикой конфиденциальности</a>
            </span>
          </label>
          <label class="e-checkbox -flag">
            <input class="_input"
                   type="checkbox"
                   v-model="personalDataAgreement"/>
            <span class="_label">
              Я согласен на
              <a class="_link"
                 href="https://refterminal.ru/static/documents/6%2C7%29%20%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.docx">обработку персональных данных</a>
            </span>
          </label>
        </div>
        <div class="input-wrapper -margined" v-show="isIP || isPP">
          <p class="_subtext">
            По номеру с вами свяжется продавец контейнера и обсудит детали сделки.
          </p>
        </div>
      </div>
      <div>
        <p class="_title -l">Ваши бонусы</p>
        <bonus-panel :bonusArray="orderInfo.bonuses"></bonus-panel>
      </div>
      <div class="_row">
        <button class="e-button" type="submit">Перейти к оплате</button>
      </div>
    </form>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { SnotifyService } from 'vue-snotify';
  import { TheMask } from 'vue-the-mask';
  import { validationMixin } from 'vuelidate';
  import { required, requiredIf, email } from 'vuelidate/lib/validators';
  const BonusPanel = () => import("../Manager/BonusPanel");
  
  export default {
    name: 'CartExecute',
    data () {
      return {
        order: {
          org_name: '',
          inn: '',
          snils: '',
          ogrnip: '',
          type: 'private',
          kpp: '',
          pasport: '',
          propiska: '',
          checking_account: '',
          correspondent_account: '',
          foreign_currency_account: '',
          bank: '',
          bik_bank: '',
          kpp_bank: '',
          address: '',
          city: '',
          post_adress: '',
          phone: '',
          email: '',
          fio: '',
          dolznost: '',
          okved: '',
          okpo: '',
          oktmo: ''
        },
        policyAgreement: false,
        personalDataAgreement: false,
        customerTypes: [
          { name: 'Частное лицо', value: 'private' },
          { name: 'Организация', value: 'organization' },
          { name: 'ИП', value: 'ip' }
        ],
        watcher: null,
        letters: {
          '*': { pattern: /[a-zA-Zа-яА-Я ]/ }
        },
        numsAndDots: {
          '*': { pattern: /[\d.]/ }
        }
      }
    },
    computed: {
      isPP () {
        return this.order.type === this.customerTypes[0].value;
      },
      isOrg () {
        return this.order.type === this.customerTypes[1].value;
      },
      isIP () {
        return this.order.type === this.customerTypes[2].value;
      },
      ...mapState('container', {
        pr: state => state.property
      }),
      ...mapState('cart', [
        'orderInfo',
        'containers',
        'containersCount'
      ])
    },
    components: {
      BonusPanel,
      TheMask
    },
    mixins: [ validationMixin ],
    validations: {
      order: {
        org_name: { requiredIf: requiredIf(function () { return this.isOrg; }) },
        inn: { required },
        snils: { required: requiredIf(function () { return this.isPP; }) },
        ogrnip: { required: requiredIf(function () { return this.isIP; }) },
        kpp: { required: requiredIf(function () { return this.isOrg; }) },
        pasport: { required: requiredIf(function () { 
          return this.isPP || this.isIP; 
        }) },
        propiska: { required: requiredIf(function () {
          return this.isPP || this.isIP;
        }) },
        checking_account: { required: requiredIf(function () {
          return this.isOrg;
        }) },
        correspondent_account: { required: requiredIf(function () {
          return this.isOrg;
        }) },
        foreign_currency_account: { required: requiredIf(function () {
          return this.isOrg;
        }) },
        bank: { required: requiredIf(function () {
          return this.isOrg;
        }) },
        bik_bank: { required: requiredIf(function () { return this.isOrg; }) },
        kpp_bank: { required: requiredIf(function () { return this.isOrg; }) },
        address: { required },
        city: { required: requiredIf(function () { return this.isOrg; }) },
        post_adress: { required: requiredIf(function () {
          return this.isOrg;
        }) },
        phone: { required },
        email: { required, email },
        fio: { required },
        dolznost: { required: requiredIf(function () { return this.isOrg; }) },
        okved: { required: requiredIf(function () { return this.isOrg; }) },
        okpo: { required: requiredIf(function () { return this.isOrg; }) },
        oktmo: { required: requiredIf(function () { return this.isOrg; }) },
      }
    },
    methods: {
      currency (suffix) {
        return {
          precision: 0,
          thousands: '',
          suffix,
          masked: false
        }
      },
      goToPayment () {
        if (this.$v.order.$invalid) {
          this.$v.order.$touch();
          return;
        }
        let exit = false;
        if (!this.policyAgreement) {
          SnotifyService.error('', 'Пожалуйста, ознакомьтесь с политикой конфиденциальности и отметьте ваше согласие.');
          exit = true;
        }
        if (!this.personalDataAgreement) {
          SnotifyService.error('', 'Пожалуйста, дайте согласие на обработку персональных данных.');
          exit = true;
        }
        if (exit) { return; }
        this.updateOrderInfo(this.order);
        this.$router.push({ name: 'cart-pay' });
      },
      updateInfo () {
        Object.assign(this.order, this.orderInfo.properties);
        if (Object.keys(this.orderInfo.properties).length !== 0) {
          this.policyAgreement = this.personalDataAgreement = true;
        }
      },
      ...mapActions('cart', [ 'updateOrderInfo' ])
    },
    mounted () {
      this.updateInfo();
      this.watcher = this.$store.watch(
        (state) => state.cart.orderInfo,
        this.updateInfo,
        { deep: true }
      );
    },
    destroyed () {
      this.watcher();
    }
  }
</script>

<style lang="scss" scoped>
  .e-checkbox {
    display: block;
    margin-bottom: .5rem;
    font-size: 1rem;
    
    ._link {
      color: #2c2a29;
    }
  }
  .e-button {
    $h: 3.5rem;
    width: 25%;
    min-width: 16rem;
    height: $h;
    line-height: $h;
    font-size: 1.25rem;
  }
  .e-radio {
    $h: 2rem;
    width: 10rem;
    height: $h;
    line-height: $h;
    margin: 3rem .5rem 2rem 0;
  }
  .e-input {
    width: 16rem;
    height: 3.2rem;
    margin: 0 1.25rem 1.25rem 0;
  }
  .cart-execute {
    ._row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.875rem;
    }
    ._title {
      margin: 1rem 0 .5rem;
      color: #93b7d2;
      
      &.-m {
        font-size: .875rem;
      }
      &.-l {
        font-size: 1.25rem;
      }
    }
    ._subtext {
      line-height: 1rem;
      margin: 0;
      color: #93b7d2;
      font-size: .875rem;
    }
  }
  .last-wrap {
    display: flex;
    flex-basis: 100%;
  }
  .input-wrapper {
    width: 16rem;
    margin: 0 1.25rem 1.25rem 0;
    
    &.-margined {
      margin-left: 5rem;
    }
  }
</style>

<style lang="scss" src="../../styles/cart.scss" scoped></style>
