<template>
  <div>
    <div class="labels">
      <label class="e-radio" v-for="t in deliveryTypes[type]">
        <input class="_input"
               type="radio"
               :value="t.value"
               v-model="currentDelivery"/>
        <span class="_label">{{ t.name }}</span>
      </label>
    </div>
    <div class="delivery" v-show="currentDelivery === 'delivery'">
      <m-select class="select"
                input-label="Адрес доставки"
                options-label="fullName"
                :support-custom="true"
                :use-textarea="true"
                :custom-filter="true"
                :options="addressOptions"
                v-model="selectedAddress"
                @search-change="getAddresses"></m-select>
      <label class="e-checkbox -flag">
        <input class="_input" type="checkbox"/>
        <span class="_label">Срочная доставка</span>
      </label>
    </div>
    <p class="address _text -def -m"
       v-show="currentDelivery !== 'delivery'">{{ address }}</p>
    <p class="_text -def -m">{{ phone }}</p>
    <slot></slot>
  </div>
</template>

<script>
  const MSelect = () => import("../Elements/MSelect");
  
  export default {
    name: 'CartDeliveryBlock',
    data () {
      return {
        selectedAddress: '',
        addressOptions: [],
        currentDelivery: '',
        deliveryTypes: {
          sale: [
            { name: 'Самовывоз', value: 'self-delivery' },
            { name: 'Доставка', value: 'delivery' }
          ],
          rent: [
            { name: 'Аренда на терминале', value: 'rent-at' },
            { name: 'Самовывоз', value: 'self-delivery' },
            { name: 'Доставка', value: 'delivery' }
          ]
        },
        protocol: window.location.protocol,
      }
    },
    computed: {
      type () {
        return this.action === 'sale' ? 'sale' : 'rent';
      }
    },
    props: [ 'action', 'address', 'phone' ],
    components: { MSelect },
    methods: {
      getAddresses (query) {
        if (!query) { return; }
        this.$http.jsonp(this.protocol + '//kladr-api.ru/api.php', {
          params: { query, oneString: 1, limit: 10 },
          headers: {}
        }).then(function(response) {
          this.addressOptions = response.body.result || [];
        });
      }
    },
    mounted () {
      this.currentDelivery = this.deliveryTypes[this.type][0].value;
    }
  }
</script>

<style lang="scss" scoped>
  .e-radio {
    $h: 1.65rem;
    min-width: 48%;
    height: $h;
    line-height: $h;
    margin-bottom: .5rem;
    
    ._label {
      padding: 0 .5rem;
    }
  }
  .e-checkbox {
    margin: 1rem 0;
  }
  .labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .select {
    font-size: .85rem;
  }
  .address {
    margin: 2rem 0 1rem;
  }
</style>
