<template>
  <div class="cart-pay">
    <div class="e-section cart-header">
      <h5 class="_caption -sub">1. Проверка</h5>
      <router-link class="_button e-button"
                   :to="{ name: 'cart-check' }">изменить</router-link>
    </div>
    <div class="e-section cart-header">
      <h5 class="_caption -sub">2. Оформление</h5>
      <router-link class="_button e-button"
                   :to="{ name: 'cart-execute' }">изменить</router-link>
    </div>
    <div class="e-section cart-header">
      <h5 class="_caption -default">3. Оплата</h5>
    </div>
    <div class="e-section main">
      <div class="download" v-if="false">
        <p>Скачать договор купли-продажи контейнера компании «РЕФТЕРМИНАЛ»</p>
        <a href="#">WORD, 1,5 МБ</a>
      </div>
      <div class="pay">
        <div v-if="orderInfo.price">
          <p class="_title">Сумма оплаты покупки</p>
          <div class="price">
            <p class="_text -title">Оплата покупки 100%</p>
            <p class="_text -total">{{ formatPrice(orderInfo.price) }} <span class="_text -symbol">₽</span></p>
          </div>
          <p class="_sale -title">Скидка:</p>
          <p class="_sale -total">
            - {{ formatPrice(orderInfo.price - orderInfo.priceWithDiscount) }}
            <span class="_sale -symbol">₽</span>
          </p>
        </div>
        <div v-if="orderInfo.rentPriceMonth || orderInfo.rentPriceYear">
          <p class="_title">Сумма оплаты аренды</p>
          <div class="price">
            <div v-if="orderInfo.rentPriceMonth">
              <p class="_text -type">Оплата аренды в месяц</p>
              <p class="_text -total">111000 <span class="_text -symbol">₽</span></p>
            </div>
            <div v-if="orderInfo.rentPriceYear">
              <p class="_text -type">Оплата аренды в год</p>
              <p class="_text -total">122100 <span class="_text -symbol">₽</span></p>
            </div>
          </div>
        </div>
        <label class="e-checkbox -flag">
          <input class="_input" type="checkbox" v-model="personalDataAgreement"/>
          <span class="_label">
              Я согласен на
              <a class="_link"
                 href="https://refterminal.ru/static/documents/6%2C7%29%20%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.docx">обработку персональных данных</a>
            </span>
        </label>
        <button class="e-button" @click="pay">Оплатить</button>
        <p class="cart-message">
          Оформляя заказ, вы резервируете за собой контейнер на 48 часов.<br/>
          В течение рабочего дня вам позвонит продавец для обсуждения условий сделки.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { SnotifyService } from 'vue-snotify';
  
  export default {
    name: 'CartPay',
    data () {
      return {
        personalDataAgreement: false
      }
    },
    computed: {
      ...mapState('container', {
        pr: state => state.property
      }),
      ...mapState('cart', [
        'orderInfo',
        'containers',
      ])
    },
    methods: {
      formatPrice (value) {
        return (value || 0).toLocaleString('ru-RU');
      },
      pay () {
        if (!this.personalDataAgreement) {
          SnotifyService.error('', 'Пожалуйста, дайте согласие на обработку персональных данных.');
          return;
        }
        this.payForOrder();
      },
      ...mapActions('cart', [ 'payForOrder' ])
    }
  }
</script>

<style lang="scss" scoped>
  .e-checkbox {
    display: block;
    margin: 1rem 0;
    font-size: 1rem;
    
    ._link {
      color: #2c2a29;
    }
  }
  .e-button {
    $h: 3.5rem;
    width: 100%;
    height: $h;
    line-height: $h;
    margin: .5rem 0;
    font-size: 1.25rem;
  }
  .pay {
    width: 30%;
    margin: 0 auto 3rem;
    
    ._title {
      margin: 1rem 0 .5rem;
      color: #93b7d2;
      font-size: 1.25rem;
    }
    ._text {
      margin: 0;
      color: #2c2a29;
      
      &.-title {
        margin-top: .5rem;
        font-size: 1rem;
      }
      &.-total {
        margin: .5rem 0 1rem;
        font-size: 1.5rem;
      }
      &.-symbol {
        font-size: 1.125rem;
      }
    }
    ._sale {
      margin: 0;
      
      &.-title {
        margin-top: 1rem;
        font-size: .875rem;
      }
      &.-total {
        margin: .5rem 0 2rem;
        font-size: 1.125rem;
      }
      &.-symbol {
        font-size: .875rem;
      }
    }
  }
  .price {
    height: auto;
    background-color: #fff;
    padding: .5rem;
    border-radius: .25rem;
  }
</style>

<style lang="scss" src="../../styles/cart.scss" scoped></style>
