<template>
  <div class="side-cart" id="side-cart">
    <affix id="affix" relative-element-selector="#side-cart">
      <div v-if="containersCount > 0">
        <p class="_caption">Вы выбрали {{ containersCountString }}:</p>
        <div class="e-preview"
             v-for="c in containers"
             @click="$router.push({ name: 'container-sale', params: { id: c.container.id } })">
          <p class="name _text -sub -xs">{{ c.container.name }}</p>
          <p class="size _text -def -name -m">
            {{ c.container.property_json[pr.size.name] }}</p>
          <p class="_text -def -s">
            {{ c.container.property_json[pr.state.name] }},
            {{ c.container.property_json[pr.year.name] }} г.
            <span class="number _text -m">
              {{ c.container.property_json[pr.number.name] }}</span>
          </p>
          <p class="price" v-if="c.action === 'sale'">
            <span class="_text -def -l">
              {{ formatPrice(c.container.property_json[pr.priceSale.name]
              || c.container.property_json[pr.price.name]) }}</span>
            <span class="_text -def -m">₽</span>
            <span class="_text -stroke -m"
                  v-show="c.container.property_json[pr.discount.name]">
              {{ formatPrice(c.container.property_json[pr.price.name]) }}
            </span>
          </p>
          <div class="rent" v-else>
            <p class="price">
              <span class="_title">в месяц</span>
              <span class="_text -def -l">
              {{ formatPrice(c.container.property_json[pr.rentPriceMonth.name]) }}
              </span>
              <span class="_text -def -m">₽</span>
            </p>
            <p class="price">
              <span class="_title">в год</span>
              <span class="_text -def -l">
                {{ formatPrice(c.container.property_json[pr.rentPriceYear.name]) }}
              </span>
              <span class="_text -def -m">₽</span>
            </p>
          </div>
          <p class="_text -sub -location -xs">
            г. {{ c.container.property_json[pr.city.name][pr.city.name] }},
            {{ c.container.property_json[pr.city.custom]
            || c.container.property_json[pr.city.name].address }}
          </p>
          <button class="_remove"
                  @click.stop="addOrRemoveContainers({ remove: [ {
                    container: c.container.id, action: c.action
                  } ]})">×</button>
        </div>
        <router-link class="e-button -shadowed"
                     :to="{ name: 'cart-check' }">К оформлению</router-link>
      </div>
    </affix>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  
  export default {
    name: 'SideCart',
    data () {
      return {
        cartElement: '',
        cartElementTop: 0,
      }
    },
    computed: {
      containers () {
        return [ ...this.saleContainers, ...this.rentContainers ];
      },
      ...mapState('container', {
        pr: state => state.property
      }),
      ...mapState('cart', [
        'saleContainers',
        'rentContainers',
        'containersCount'
      ]),
      ...mapGetters('cart', [ 'containersCountString' ])
    },
    methods: {
      formatPrice (value) {
        return (+value || 0).toLocaleString('ru-RU');
      },
      setAffixWidth () {
        let cart = document.getElementById('side-cart').getBoundingClientRect();
        let affix = document.getElementById('affix');
        affix.style.width = cart.width + 'px';
      },
      ...mapActions('cart', [ 'addOrRemoveContainers' ])
    },
    mounted () {
      this.setAffixWidth();
      window.addEventListener('resize', this.setAffixWidth);
    },
    destroyed () {
      window.removeEventListener('resize', this.setAffixWidth);
    }
  }
</script>

<style lang="scss" scoped>
  .e-preview {
    margin-bottom: .65rem;
    height: auto;
  }
  .e-button {
    $h: 5rem;
    width: 100%;
    height: $h;
    line-height: $h;
    margin: 2rem 0;
    font-size: 1.25rem;
  }
  .side-cart {
    width: 23%;
    padding: 1rem 0;
    
    ._caption {
      margin: 1rem 0 1.735rem;
      color: #4285f4;
      font-size: 1.25rem;
    }
    ._remove {
      position: absolute;
      top: -.3rem;
      right: -.2rem;
      border: none;
      background-color: transparent;
      color: #a4c9e5;
      font-size: 2rem;
      cursor: pointer;
    }
    .name {
      margin-top: .2rem;
      width: 90%;
    }
    .size {
      margin: .35rem 0;
    }
    .number {
      margin-left: 1rem;
    }
    .price {
      margin: .45rem 1.5rem .65rem 0;
    }
    .rent {
      display: flex;
      
      ._title {
        display: block;
        color: #81a6c2;
        font-size: .625rem;
        letter-spacing: .125rem;
        text-transform: uppercase;
      }
    }
  }
</style>
