<template>
  <div v-if="isFilterListLoaded">
    <filter-panel header="Каталог контейнеров"></filter-panel>
    <div class="e-section">
      <div class="container-section">
        <sort-panel type="catalog"></sort-panel>
        <container-list></container-list>
      </div>
      <side-cart></side-cart>
    </div>
  </div>
  <div class="e-loader -default" v-else>
    <div class="_loader"></div>
  </div>
</template>

<script>
  const FilterPanel = () => import("./Filters/FilterPanel");
  const ContainerList = () => import("../Container/ContainerList");
  const SideCart = () => import("../Cart/SideCart");
  const SortPanel = () => import("../Catalog/SortPanel");
  
  export default {
    name: 'Catalog',
    computed: {
      isFilterListLoaded () {
        return this.$store.state.filter.isFilterListLoaded;
      }
    },
    components: {
      SideCart,
      SortPanel,
      ContainerList,
      FilterPanel
    }
  }
</script>

<style lang="scss" scoped>
  .e-section {
    display: flex;
    justify-content: space-between;
  }
  .e-loader {
    height: 30rem;
    
    ._loader {
      width: 7rem;
      height: 7rem;
      border-width: .6rem;
    }
  }
  .container-section {
    width: 75%;
  }
</style>
