<template>
  <div class="empty-catalog">
    <p class="_text">По выбранным параметрам контейнеров не найдено.</p>
    <p class="_text">Пожалуйста, измените условия подбора контейнеров.</p>
  </div>
</template>

<script>
  export default {
    name: 'EmptyCatalog'
  }
</script>

<style lang="scss" scoped>
  .empty-catalog {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 35rem;
    margin: -.125rem 0 1.25rem 0;
    padding-top: 10rem;
    @include background('../../assets/images/404', auto 70%, top);
    
    ._text {
      margin: .3125rem 0;
      color: #4285f4;
      font-size: 1.5rem;
      text-align: center;
    }
  }
</style>
