<template>
  <div class="sort-panel">
    <p class="_caption">Показать сначала:</p>
    <label class="e-mul-checkbox"
           v-for="sort in sortList">
      <input class="_input"
             type="checkbox"
             :checked="selectedSort === sort.field.translate"
             @click="chooseSort(sort.field.translate)"/>
      <span class="_label">{{ sort.name }}</span>
    </label>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex';
  
  export default {
    name: 'SortPanel',
    computed: {
      selectedSort: {
        get () {
          return this.activeParams.sort;
        },
        set (value) {
          this.setActiveSort(value);
        }
      },
      ...mapState('catalog', [ 'activeParams' ]),
      ...mapState('sort', [ 'sortList' ])
    },
    props: [ 'type' ],
    methods: {
      chooseSort (value) {
        if (this.selectedSort === value) {
          this.selectedSort = null;
        } else {
          this.selectedSort = value;
        }
      },
      ...mapMutations('catalog', [ 'setActiveSort' ]),
      ...mapActions('sort', [ 'getSortList' ])
    },
    mounted () {
      this.getSortList();
    }
  }
</script>

<style lang="scss" scoped>
  .e-mul-checkbox {
    $h: 2rem;
    height: $h;
    line-height: $h;
    margin-right: .5rem;
    
    ._label {
      padding: 0 .6rem;
    }
  }
  .sort-panel {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    
    ._caption {
      margin-right: 1rem;
      color: #93b7d2;
    }
  }
</style>
