$success: #c8e6c9;
$info: #bbdefb;
$warning: #ffccbc;
$error: #ffcdd2;
$async: $info;

.snotify-icon {
  position: absolute;
  top: 50%;
  right: .9375rem;
  max-width: 3rem;
  max-height: 3rem;
  line-height: 0;
  transform: translate(0, -50%);
}

.snotify-icon__error {
  fill: $error;
}

.snotify-icon__warning {
  fill: $warning;
}

.snotify-icon__info {
  fill: $info;
}

.snotify-icon__success {
  fill: $success;
}

.snotify-icon__async {
  fill: $async;
  animation: async 3s infinite linear;
  transform-origin: 50% 50%;
}


@keyframes async {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

