$backdrop-color: #000000;

.snotify {
  display: block;
  position: fixed;
  max-width: 31.25rem;
  z-index: 9999;
  box-sizing: border-box;
  pointer-events: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  * {
    box-sizing: border-box;
  }
}

.snotify-leftTop,
.snotify-leftCenter,
.snotify-leftBottom {
  left: .625rem;
}

.snotify-rightTop,
.snotify-rightCenter,
.snotify-rightBottom {
  right: 2.5rem;
}

.snotify-centerTop,
.snotify-centerCenter,
.snotify-centerBottom {
  left: calc(50% - 300px/2);
}

.snotify-leftTop,
.snotify-centerTop,
.snotify-rightTop {
  top: 1.875rem;
}
.snotify-leftCenter,
.snotify-rightCenter,
.snotify-centerCenter {
  top: 50%;
  transform: translateY(-50%);
}
.snotify-leftBottom,
.snotify-rightBottom,
.snotify-centerBottom {
  bottom: .625rem;
}

.snotify-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-color;
  opacity: 0;
  z-index: 9998;
  transition: opacity .3s;
}
