<template>
  <footer>
    <div class="content">
      <div class="column">
        <p class="_text">© 2001-2017. Рефтерминал — интернет-терминал контейнеров.</p>
        <p class="_text">Все права защищены.</p>
      </div>
      <div class="column">
        <router-link class="_text"
                     :to="{ name: 'landing' }">О компании</router-link>
        <a class="_text"
           href="https://refterminal.ru/static/documents/6%2C7%29%20%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.docx">
          Согласие на обработку персональных данных
        </a>
        <a class="_text"
           href="https://refterminal.ru/static/documents/8%29%20%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8%20%D0%B8%20%D0%B7%D0%B0%D1%89%D0%B8%D1%82%D1%8B%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD.docx">
          Политика обработки персональных данных
        </a>
      </div>
      <div class="column">
        <a class="_text"
           href="https://refterminal.ru/static/documents/АКТ Сдачи-приема (услуг).docx">
          Акт сдачи-приема (услуг)
        </a>
        <a class="_text" href="https://refterminal.ru/static/documents/АКТ-приема передача (купля).docx">
          Акт приема-передачи (купля)
        </a>
        <a class="_text" href="https://refterminal.ru/static/documents/АКТ-прием передачи (аренда).docx">
          Акт приема-передачи (аренда)
        </a>
      </div>
      <div class="column">
        <a class="_text" href="https://refterminal.ru/static/documents/9%29%20%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8.docx">
          Положение о конфиденциальности
        </a>
        <a class="_text"
           href="https://refterminal.ru/static/documents/5%29%20%D0%9F%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%BE%D0%B5%20%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D0%B5%20.docx">
          Пользовательское соглашение
        </a>
        <router-link class="_text"
                     :to="{ name: 'faq' }">Часто задаваемые вопросы</router-link>
      </div>
      <div>
        <a class="_title" href="#">Служба поддержки:</a>
        <a class="_phone" href="tel:8-800-250-26-55">8-800-250-26-55</a>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'LandingFooter'
  }
</script>

<style lang="scss" scoped>
  footer {
    padding: 3rem 0 2rem;
    background-color: #4086f5;
    
    ._text {
      display: block;
      margin: .125rem;
      color: #231f20;
      font-size: 1rem;
      font-family: $pt;
      text-decoration: none;
    }
    ._title {
      color: #231f20;
      font-size: 1rem;
      font-family: $pt;
    }
    ._phone {
      display: block;
      margin: .35rem 0;
      color: #fff;
      font-size: 1.75rem;
      font-family: $exo;
      font-weight: 700;
      text-decoration: none;
    }
    .column {
      margin-right: .5rem;
    }
    .content {
      display: flex;
      justify-content: space-between;
    }
  }
</style>
