<template>
  <div>
    <landing-header></landing-header>
    <div class="landing-container">
      <div class="top">
        <div class="content">
          <div class="_triangle -n1"></div>
          <div class="_triangle -n2"></div>
          <div class="_triangle -n3"></div>
          <div class="_triangle -n4"></div>
          <div class="_triangle -n5"></div>
          <div class="_triangle -n6"></div>
          <div class="_triangle -n7"></div>
          <div class="_triangle -n8"></div>
          <div class="_content">
            <div class="_containers"></div>
            <h1 class="-black">Покупайте или берите в аренду контейнеры</h1>
            <p class="f-default">Выбирайте среди десятков вариантов, сравнивайте предложения по цене и характеристикам, оплачивайте удобным вам способом или оформляйте покупку в лизинг</p>
            <router-link class="l-link" :to="{ name: 'catalog' }">
              <span>Выбрать контейнер</span>
            </router-link>
            <div class="_addon">
              <p class="f-default">К каждому контейнеру прилагается:</p>
              <div class="_elem">
                <div class="_1 l-circle -sm"></div>
                <p>Акт технического состояния контейнера</p>
              </div>
              <div class="_elem">
                <div class="_2 l-circle -sm"></div>
                <p>Технический паспорт контейнера</p>
              </div>
              <div class="_elem">
                <div class="_3 l-circle -sm"></div>
                <p>Гарантия до 36 месяцев</p>
              </div>
              <div class="_elem">
                <div class="_4 l-circle -sm"></div>
                <p>Доставка по РФ и из-за рубежа</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="about">
        <div class="content">
          <h1 class="-white -fill-black">Что такое Интернет-терминал?</h1>
          <div>
            <p class="f-default">Интернет - терминал - это онлайн платформа, совмещающая в себе <b>сотни предложений</b> от лидеров рынка и частных продавцов. Вам <b>больше не нужно</b> ездить по терминалам, просматривать газеты и доски объявлений, <b>тратить время</b>, бензин на поездки, силы на общение  с множеством продажников. Здесь вы <b>всегда сможете подобрать</b> новый или БУ  контейнер, который будет соответствовать вашим параметрам.</p>
            <div class="_elem">
              <div class="_1 l-circle -left -sm"></div>
              <p class="f-caption">Экономьте время</p>
              <p class="f-default">Не нужно обзванивать всех поставщиков, не нужно сравнивать цены по городам - всё в одном месте. Просматривайте сразу все компании и их предложения, не выходя из дома/офиса.</p>
            </div>
            <div class="_elem">
              <div class="_2 l-circle -left -sm"></div>
              <p class="f-caption">Сравнивайте по параметрам</p>
              <p class="f-default">Можно увидеть в чем разница между дешевыми и дорогими контейнерами. Можно сравнить их по цене, качеству и условиям поставки, что позволит принять правильный выбор.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="info">
        <div class="content">
          <h1 class="-white">Ежедневно пополняемая база контейнеров</h1>
          <p class="f-default">Какие контейнеры можно приобрести или взять в аренду?</p>
          <div>
            <div class="_elem">
              <div class="_1 l-circle -md"></div>
              <p class="f-default">Новые и Б/У</p>
            </div>
            <div class="_elem">
              <div class="_2 l-circle -md"></div>
              <p class="f-default">10/20/40/45 - футовые</p>
            </div>
            <div class="_elem">
              <div class="_3 l-circle -md"></div>
              <p class="f-default">Рефрижераторные, сухогрузные</p>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="content">
          <h1 class="-white -fill-blue">Новые поступления</h1>
          <router-link class="_link" :to="{ name: 'catalog' }">Посмотреть все</router-link>
          <div>
            <div class="_elem"
                 v-for="c in containers"
                 @click="$router.push({ name: 'container-sale', params: { translate: c.translate } })">
              <img :src="root + c.images[0].full_image" alt="Фото"/>
              <p class="_caption">{{ c.name }}</p>
              <p class="_text">
                {{ c.property_json[pr.state.name] }}, {{ c.property_json[pr.year.name] }} г.
              </p>
              <div>
                <div class="_tag" v-show="c.property_json[pr.sale.name]"><span>Покупка</span></div>
                <div class="_tag" v-show="c.property_json[pr.rent.name]"><span>Аренда</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="rent">
        <div class="content">
          <h1 class="-black">Планируете приобрести контейнер в Аренду?</h1>
        </div>
        <div class="_terminal">
          <div class="_bg"></div>
          <div class="content">
            <div class="_elements">
              <div class="_elem">
                <div class="_1 l-circle -sm"></div>
                <p class="f-default">Подключим оборудование к электросети и проведем PTI (Pre-trip inspection)</p>
              </div>
              <div class="_elem">
                <div class="_2 l-circle -sm"></div>
                <p class="f-default">Контролируем и поддерживаем заданный температурный режим</p>
              </div>
              <div class="_elem">
                <div class="_3 l-circle -sm"></div>
                <p class="f-default">Установка контейнера на вашей территории или аренда на терминале</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <router-link class="l-link" :to="{ name: 'catalog' }">
            <span>Перейти в каталог</span>
          </router-link>
        </div>
      </section>
      <section class="advantage">
        <div class="content">
          <h1 class="-black">Преимущества Интернет - терминала</h1>
          <p class="f-default">8 важных преимуществ интернет-терминала, которые кардинально поменяют
            ваше представление о процессе покупки контейнера</p>
          <div class="_advantages">
            <div class="_left">
              <div>
                <p class="_caption2">Не нужно договариваться с каждым</p>
                <p class="_text">У вас есть личный единый менеджер для всех продавцов контейнеров. Как следствие Вы получаете не гору документов, а единый Договор и счет,  даже если вы выбрали продавцов из разных уголков страны.
                </p>
                <div class="_2 _image"></div>
              </div>
              <div>
                <p class="_caption">Реальная тщательная диагностика, ремонт и предпродажная подготовка каждого контейнера</p>
                <p class="_text">Каждый контейнер, размещенный в интернет - терминале, осматривается опытными рефмеханиками на предмет наличия повреждений или неисправностей.</p>
                <p class="_caption">Что проверяется?</p>
                <p class="_text">
                  - Общий внешний вид (наличие сколов, шелушения краски, царапин, вмятин, трещин или отверстий)<br/>
                  - Внешний вид компрессора и теплообменника на коррозию и изоляцию<br/>
                  - Работоспособность оборудования и отдельных узлов, проверка давления в системе (CPT, HPT, TXV, электродвигатели, конденсатор, испаритель и др.)<br/>
                  - Проверка герметичности системы (наличие утечки, газоанализатор)
                </p>
                <div class="_4 _image"></div>
              </div>
              <div>
                <p class="_caption">Получайте расчеты и документы быстрее, чем заварится ваш кофе</p>
                <p class="_text">Все документы заполняются автоматически и приходят вам сразу после оформления. Больше нет необходимости ждать от нескольких часов до нескольких дней ответа от разных организаций. Информация об условиях и полной сумме сделки доступна сразу и направляется на указаную вами электронную почту.</p>
                <div class="_6 _image"></div>
              </div>
              <div>
                <p class="_caption">Юридическая безопасность сделки</p>
                <p class="_text">
                  Перед размещением в интернет - терминале все продавцы проходят обязательную проверку. Они обязаны предоставить пакет требуемых документов (согласно «Должной осмотрительности»), подтверждающих их деятельность как организации, а наша служба юридической безопасности проверяет их на состоятельность и факт наличия предложенных контейнеров.  Это позволяет исключить мошенников и фирмы-однодневки.<br/>
                  Мы гарантируем, что каждый контрагент качественно и в срок доставит вам контейнер.
                </p>
                <div class="_8 _image"></div>
              </div>
            </div>
            <div class="_right">
              <div>
                <div class="_1 _image"></div>
                <p class="_caption">Гарантия на контейнеры</p>
                <p class="_text">При выборе контейнера, вы сразу можете видеть, на какие предоставляется гарантия, а на какие - нет.  Гарантия на все контейнеры компании Рефтерминал составляет в среднем от 3 месяцев до 3 лет и зависит от технического состояния и происхождения контейнера. В течение всего гарантийного периода производим бесплатную замену неисправных деталей, кроме случаев, когда поломка вызвана нарушением правил эксплуатации, превышением предельной весовой нагрузки или физическими повреждениями на установках или контейнерах. </p>
              </div>
              <div>
                <div class="_3 _image"></div>
                <p class="_caption">Акт технического состояния и техпаспорт у каждого контейнера</p>
                <p class="_text">После диагностики и ремонта контейнера мы составляем лист технического обслуживания, где фиксируются каждая устраненная неисправность. По итогу предпродажной подготовки составляется паспорт контейнера, в котором указаны его полные технические характеристики и состояние.</p>
              </div>
              <div>
                <div class="_5 _image"></div>
                <p class="_caption">Контейнеры без сомнительных историй</p>
                <p class="_text">Проверяем подлинность информации о каждом размещённом контейнере. Вы увидите какие контейнеры имеют полный набор документов, прошли таможенное оформление и ввезены официально, а какие имеют меньшую стоимость из-за пробелов.<br/>
                  Зачем это Вам:<br/>
                  1) актуально для компаний в случае налоговых проверок;<br/>
                  2) в случае судебных разбирательств и споров вокруг контейнеров (у кого на руках таможенная декларация, тот и прав) (это не обязательно поставщик и производитель, это было как пример);<br/>
                  3) для избежания проблем с перевозками за границу
                </p>
              </div>
              <div>
                <div class="_7 _image"></div>
                <p class="_caption">Контролируем BIC каждого контейнера</p>
                <p class="_text">
                  Регистрации BIC сегодня является обязательным условием для всех владельцев контейнеров. Имея собственный BIC Вы никогда не потеряете свой контейнер среди тысяч остальных при перевозке грузов.<br/>
                  Поможем с регистрацией, формированием документов на контейнер и замене текущего BIC на Ваш. Зная уникальный идентификационный номер Вашего контейнера Вы никогда не столкнётесь с риском подмены контейнеров или несоответствия итоговых характеристик и Акта технического состояния.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="catalog">
        <div class="content">
          <h1 class="-white">Готовы выбрать контейнер?</h1>
          <router-link class="l-link" :to="{ name: 'catalog' }">
            <span>Перейти в каталог</span>
          </router-link>
        </div>
      </section>
      <section class="service">
        <div class="content">
          <h1 class="-black">Дополнительные услуги</h1>
          <div>
            <div class="_elem">
              <div class="_1 l-circle -sm"></div>
              <p class="_text">Ремонт</p>
            </div>
            <div class="_elem">
              <div class="_2 l-circle -sm"></div>
              <p class="_text">Продажа и поиск запчастей</p>
            </div>
            <div class="_elem">
              <div class="_3 l-circle -sm"></div>
              <p class="_text">Брендирование и покраска</p>
            </div>
            <div class="_elem">
              <div class="_4 l-circle -sm"></div>
              <p class="_text">Контейнер под заказ</p>
            </div>
            <div class="_elem">
              <div class="_5 l-circle -sm"></div>
              <p class="_text">Логистика</p>
            </div>
            <div class="_elem">
              <div class="_6 l-circle -sm"></div>
              <p class="_text">Стоянка и хранение</p>
            </div>
          </div>
        </div>
      </section>
      <section class="last content">
        <h1 class="-white -fill-black">
          Остались вопросы?
          <span @click="show({ type: 'landing', params: { type: 'question' } })">
            Задайте их менеджеру</span>
        </h1>
      </section>
    </div>
    <landing-footer></landing-footer>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { root } from '@/config';
  import LandingHeader from "./LandingHeader";
  const LandingFooter = () => import("./LandingFooter");
  
  export default {
    name: 'LandingContainer',
    data () {
      return {
        root: root
      }
    },
    computed: {
      ...mapState('catalog', [ 'containers' ]),
      ...mapState('filter', [ 'isFilterListLoaded' ]),
      ...mapState('container', {
        pr: state => state.property
      })
    },
    components: { LandingFooter, LandingHeader },
    methods: {
      loadContainers () {
        if (this.isFilterListLoaded) {
          this.getContainers({ limit: 4, offset: 0, filter: true, parent: '' });
        } else {
          setTimeout(this.loadContainers, 100)
        }
      },
      ...mapActions('catalog', [ 'getContainers' ]),
      ...mapActions('filter', [ 'getFilterList'] ),
      ...mapActions('modal', [ 'show'] )
    },
    mounted () {
      this.getFilterList().then(() => {
        this.loadContainers();
      });
    }
  }
</script>

<style lang="scss" scoped>
  .f-default {
    color: #000;
    font-size: 1.6rem;
    font-family: $pt;
    letter-spacing: .04rem;
  }
  .f-caption {
    color: #000;
    font-size: 1.75rem;
    font-family: $exo;
    font-weight: 700;
  }
  .landing-container {
    h1 {
      padding: .625rem 0;
      font-size: 3.3rem;
      font-family: $exo;
      letter-spacing: .085rem;
      
      &.-white {
        color: #fff;
      }
      &.-black {
        color: #000;
      }
      &.-fill-black,
      &.-fill-blue {
        display: inline-block;
        padding: 0 1.2rem .825rem;
      }
      &.-fill-black {
        background-color: black;
      }
      &.-fill-blue {
        background-color: #06afe9;
      }
      a {
        margin-left: 1.25rem;
        font-size: 1.5rem;
        font-family: $pt;
        
        &:visited {
          color: white;
        }
      }
    }
    .l-link {
      display: inline-block;
      width: 17.15rem;
      height: 4.25rem;
      line-height: 4rem;
      border-radius: .3125rem;
      background: #ffcb05;
      color: #000;
      font-size: 1.65rem;
      font-family: $pt;
      letter-spacing: .03rem;
      text-align: center;
      text-decoration: none;
      
      &:visited {
        color: #000;
      }
      &:hover {
        background: #e9b805;
      }
      span {
        vertical-align: middle;
      }
    }
    .l-circle {
      margin: 0 auto;
      
      &.-left {
        margin: 0;
      }
      &.-sm {
        width: 6.6rem;
        height: 6.6rem;
      }
      &.-md {
        width: 9.35rem;
        height: 9.35rem;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .top {
      position: relative;
      overflow: hidden;
      background-color: #ebebeb;
      
      h1 {
        width: 48%;
        line-height: 4.1rem;
        margin-bottom: 2rem;
      }
      p {
        width: 55%;
        margin-left: .3%;
      }
      .l-link {
        margin-top: 1.35rem;
        margin-left: .3%;
      }
      ._triangle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 43.75rem;
        margin-top: 6.25rem;
        opacity: .5;
        animation-fill-mode: forwards;
  
        &.-n1 {
          transform: rotate(50deg);
          @include background('../../assets/images/landing/top/triangle', 10% auto, 30% 80%);
          animation: triangle-1 10s linear infinite;
        }
        &.-n2 {
          transform: rotate(-15deg);
          @include background('../../assets/images/landing/top/triangle', 5% auto, 10% 60%);
          animation: triangle-2 10s linear infinite;
        }
        &.-n3 {
          transform: rotate(40deg);
          @include background('../../assets/images/landing/top/triangle', 9% auto, 40% 60%);
          animation: triangle-3 10s linear infinite;
        }
        &.-n4 {
          transform: rotate(-30deg);
          @include background('../../assets/images/landing/top/triangle', 4% auto, 75% 40%);
          animation: triangle-4 10s linear infinite;
        }
        &.-n5 {
          @include background('../../assets/images/landing/top/triangle', 6% auto, 60% 55%);
          animation: triangle-5 10s linear infinite;
        }
        &.-n6 {
          transform: rotate(35deg);
          @include background('../../assets/images/landing/top/triangle', 8% auto, 77% 0%);
          animation: triangle-6 10s linear infinite;
        }
        &.-n7 {
          transform: rotate(10deg);
          @include background('../../assets/images/landing/top/triangle', 7% auto, 90% 40%);
          animation: triangle-7 10s linear infinite;
        }
        &.-n8 {
          transform: rotate(60deg);
          @include background('../../assets/images/landing/top/triangle', 4% auto, 75% 0%);
          animation: triangle-8 10s linear infinite;
        }
      }
      ._content {
        position: relative;
        z-index: 5;
        margin-top: -8.65rem;
        padding-top: 10rem;
        padding-bottom: 6.25rem;
        width: 100%;
      }
      ._containers {
        position: absolute;
        top: -24.35rem;
        width: 36.5rem;
        height: 70.625rem;
        margin-left: 57%;
        @include background('../../assets/images/landing/top/back', 100% auto, right bottom);
        animation: move 3s ease-in-out infinite;
        @include media(mobile) {
          margin-left: 50%;
        }
      }
      ._addon {
        display: flex;
        justify-content: space-between;
        margin-top: 2.95rem;
        
        p {
          width: 30%;
        }
        ._elem {
          width: 15%;
          margin-top: 1.75rem;
          text-align: center;
          
          p {
            width: 100%;
            line-height: 1.75rem;
            margin-top: .45rem;
            font-size: 1.5rem;
            font-family: $pt;
          }
        }
        ._elem:last-child {
          width: 12%;
          margin-left: 2%;
        }
      }
      ._1 {
        @include background('../../assets/images/landing/top/1');
      }
      ._2 {
        @include background('../../assets/images/landing/top/2');
      }
      ._3 {
        @include background('../../assets/images/landing/top/3');
      }
      ._4 {
        @include background('../../assets/images/landing/top/4');
      }
    }
    .about {
      margin-top: -5.85rem;
      padding-top: 8.75rem;
      padding-bottom: 1.25rem;
      @include background('../../assets/images/landing/about', 100% auto, 1.25rem .5rem);
  
      @include media(mobile) {
        background-position: center 6rem;
      }
      @include media(tablet) {
        background-position: center 2rem;
        
        @media screen and (max-width: 750px) {
          background-position: center 10rem;
        }
      }
      @include media(wide) {
        background-position: center -10rem;
      }
      @include media(x-wide) {
        background-position: center -15rem;
      }
      h1 {
        text-align: center;
      }
      .content > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: flex-end;
        width: 58%;
      }
  
      p {
        width: 100%;
      }
      ._elem {
        width: 40%;
        margin-top: 2.15rem;
  
        .f-caption {
          height: 4.085rem;
          margin: 1.375rem 0 0;
        }
      }
      ._1 {
        @include background('../../assets/images/landing/about/1');
      }
      ._2 {
        @include background('../../assets/images/landing/about/2');
      }
    }
    .info {
      min-height: 47rem;
      @include background('../../assets/images/landing/info', auto 100%, center);
      text-align: center;
      padding-top: 5.5rem;
      padding-bottom: 6.5rem;
  
      h1 {
        line-height: 3.25rem;
        margin-bottom: .85rem;
      }
      .content > p {
        margin-top: 0;
        letter-spacing: .055rem;
      }
      .content > div {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin-top: 1.85rem;
      }
      ._elem {
        width: 30%;
        text-align: center;
        
        p {
          margin-top: 1.535rem;
        }
      }
      ._1 {
        @include background('../../assets/images/landing/info/1');
      }
      ._2 {
        @include background('../../assets/images/landing/info/2');
      }
      ._3 {
        @include background('../../assets/images/landing/info/3');
      }
    }
    .container {
      margin-top: -1.35rem;
      
      h1 {
        margin-bottom: 2.45rem;
      }
      .content > div {
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin-top: .665rem;
        margin-bottom: 5.5rem;
      }
      ._elem {
        display: flex;
        flex-direction: column;
        width: 24%;
        cursor: pointer;
        
        > div {
          display: flex;
        }
        img {
          width: 100%;
          height: 14rem;
          @include object-fit(cover);
        }
      }
      ._caption {
        flex-grow: 1;
        margin: .765rem 0 0;
        font-size: 1.75rem;
        font-family: $exo;
      }
      ._text {
        margin: 1rem 0 1.625rem;
        color: #000;
        font-size: 1.25rem;
        font-family: $pt;
      }
      ._tag {
        width: 5.55rem;
        height: 2.1rem;
        line-height: 1.95rem;
        margin-right: .625rem;
        background-color: #a1a1a1;
        text-align: center;
        
        span {
          font-size: 1.25rem;
          vertical-align: middle;
          color: #fff;
          font-family: $pt;
        }
      }
      ._link {
        width: 94%;
        color: #00aeef;
        font-size: 1.325rem;
        font-family: $pt;
        text-align: right;
      }
    }
    .rent {
      margin-bottom: 3.3rem;
      text-align: center;
      
      h1 {
        margin-top: 0;
        margin-bottom: 0;
      }
      .content {
        position: relative;
      }
      ._terminal {
        position: relative;
        height: 37.5rem;
        @include background('../../assets/images/landing/rent', auto 75%, center 5.5rem);
        
        .content {
          height: 100%;
        }
      }
      ._bg {
        position: absolute;
        top: -3.65rem;
        left: 0;
        width: 100%;
        height: 52.5rem;
        @include background('../../assets/images/landing/terminal', auto 90%, center top);
      }
      ._elements {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        width: 76%;
        margin: 5% auto 0;
      }
      ._elem {
        width: 30%;
        text-align: center;
        
        p {
          margin-top: 2.915rem;
          color: #fff;
          font-size: 1.65rem;
  
          @include media(mobile) {
            margin-top: .5rem;
          }
          @include media(tablet) {
            margin-top: 1rem;
          }
        }
      }
      ._1 {
        @include background('../../assets/images/landing/rent/1');
      }
      ._2 {
        @include background('../../assets/images/landing/rent/2');
      }
      ._3 {
        @include background('../../assets/images/landing/rent/3');
      }
    }
    .advantage {
      @include media(desktop, wide) {
        @include background('../../assets/images/landing/advantage', 150% auto, center 7.5rem);
      }
      @include media(x-wide) {
        @include background('../../assets/images/landing/advantage', 100% auto, top);
      }
      h1 {
        margin-bottom: 1.05rem;
        text-align: center;
      }
      .content > div {
        display: flex;
        justify-content: space-between;
        
        > div {
          width: 50%;
  
          > div {
            margin-top: .625rem;
            margin-bottom: 2.5rem;
          }
        }
      }
      .content > p {
        margin-top: 0;
        width: 60%;
        text-align: center;
      }
      ._left p {
        margin-right: 6.5%;
      }
      ._right p {
        margin-left: 6.5%;
      }
      ._advantages {
        width: 100%;
      }
      ._text, ._caption {
        color: #000;
        margin-top: 0;
      }
      ._text {
        font-size: 1.25rem;
        font-family: $pt;
      }
      ._caption2 {
        margin-top: 9.5rem;
        font-size: 1.75rem;
        font-family: $exo;
        font-weight: 700;
      }
      ._caption {
        margin-top: 2rem;
        font-size: 1.75rem;
        font-family: $exo;
        font-weight: 700;
      }
      ._image {
        height: 37.5rem;
      }
      ._1 {
        margin-top: 0;
        @include background('../../assets/images/landing/advantage-1', contain);
      }
      ._2 {
        margin-bottom: 10%;
        @include background('../../assets/images/landing/advantage-2', contain);
      }
      ._3 {
        margin-top: -10%;
        margin-bottom: 10%;
        @include background('../../assets/images/landing/advantage-3', contain);
      }
      ._4 {
        margin-top: -10%;
        @include background('../../assets/images/landing/advantage-4', contain);
      }
      ._5 {
        @include background('../../assets/images/landing/advantage-5', contain);
      }
      ._6 {
        width: 60%;
        margin-bottom: 10%;
        @include background('../../assets/images/landing/advantage-6', contain);
      }
      ._7 {
        margin-top: -10%;
        margin-bottom: 5%;
        @include background('../../assets/images/landing/advantage-7', contain);
      }
      ._8 {
        margin-top: -8%;
        @include background('../../assets/images/landing/advantage-8', contain);
      }
    }
    .catalog {
      height: 31rem;
      @include background('../../assets/images/landing/catalog', auto 100%, 41% center);
  
      h1 {
        margin: 7.25rem 0 3.5rem;
      }
    }
    .service {
      margin-top: -1rem;
      padding-bottom: 5.35rem;
      
      h1 {
        margin: 0 0 2.2rem;
      }
      .content > div {
        width: 100%;
        padding: 0 .35%;
        display: flex;
        justify-content: center;
      }
      ._elem {
        width: 20%;
        height: 15rem;
        padding: 2rem .9475rem .9475rem;
        border-top: solid 1px #00aeef;
        border-bottom: solid 1px #00aeef;
        border-right: solid 1px #00aeef;
        text-align: center;
        cursor: pointer;
  
        &:first-child {
          border-left: solid 1px #00aeef;
        }
        p {
          margin-top: 1.25rem;
        }
      }
      ._text {
        font-size: 1.25rem;
        font-family: $exo;
      }
      ._1 {
        @include background('../../assets/images/landing/service/1');
      }
      ._2 {
        @include background('../../assets/images/landing/service/2');
      }
      ._3 {
        @include background('../../assets/images/landing/service/3');
      }
      ._4 {
        @include background('../../assets/images/landing/service/4');
      }
      ._5 {
        @include background('../../assets/images/landing/service/5');
      }
      ._6 {
        @include background('../../assets/images/landing/service/6');
      }
    }
    .last {
      h1 {
        margin: 0 0 -.85rem;
        padding: .35rem 1.2rem .85rem;
      }
      span {
        margin: 0 .5rem;
        font-size: 1.5rem;
        font-family: $pt;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  
  @keyframes move {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }
  @keyframes triangle-1 {
    0%, 100% {
      background-position: 30% 80%;
    }
    25% {
      background-position: 45% 20%;
    }
    50% {
      background-position: 75% 10%;
    }
    75% {
      background-position: 60% 60%
    }
  }
  @keyframes triangle-2 {
    0%, 100% {
      background-position: 10% 60%;
    }
    25% {
      background-position: 10% 0%;
    }
    50% {
      background-position: 40% 10%;
    }
    75% {
      background-position: 40% 70%
    }
  }
  @keyframes triangle-3 {
    0%, 100% {
      background-position: 40% 60%;
    }
    25% {
      background-position: 70% 65%;
    }
    50% {
      background-position: 75% 10%;
    }
    75% {
      background-position: 45% 0%
    }
  }
  @keyframes triangle-4 {
    0%, 100% {
      background-position: 75% 40%;
    }
    25% {
      background-position: 45% 30%;
    }
    50% {
      background-position: 15% 50%;
    }
    75% {
      background-position: 45% 60%
    }
  }
  @keyframes triangle-5 {
    0%, 100% {
      background-position: 60% 55%;
    }
    25% {
      background-position: 30% 30%;
    }
    50% {
      background-position: 10% 70%;
    }
    75% {
      background-position: 30% 100%
    }
  }
  @keyframes triangle-6 {
    0%, 100% {
      background-position: 77% 0%;
    }
    25% {
      background-position: 80% 60%;
    }
    50% {
      background-position: 50% 70%;
    }
    75% {
      background-position: 50% 10%
    }
  }
  @keyframes triangle-7 {
    0%, 100% {
      background-position: 90% 40%;
    }
    25% {
      background-position: 65% 10%;
    }
    50% {
      background-position: 45% 60%;
    }
    75% {
      background-position: 70% 90%
    }
  }
  @keyframes triangle-8 {
    0%, 100% {
      background-position: 75% 0%;
    }
    25% {
      background-position: 70% 60%;
    }
    50% {
      background-position: 45% 0%;
    }
    75% {
      background-position: 50% 40%
    }
  }
</style>
