<template>
  <header>
    <div class="content">
      <router-link class="logo" :to="{ name: 'catalog' }">
        <div class="_image">
          <a class="_link" href="https://refterminal.ru">Refterminal.ru</a>
        </div>
        <p class="_caption">Рефтерминал</p>
      </router-link>
      <div class="contacts">
        <p class="_text">Служба поддержки:</p>
        <a class="_link -def"
           href="tel:8-800-250-26-55">8-800-250-26-55</a>
        <p class="_text">Звонок по России бесплатный</p>
        <p class="_link -thin"
           @click="show({ type: 'landing', params: { type: 'call' } })">
          Заказать звонок</p>
      </div>
    </div>
    <modal></modal>
  </header>
</template>

<script>
  import Modal from "../Modal/Modal";
  
  export default {
    name: 'LandingHeader',
    components: { Modal },
    methods: {
      show (value) {
        this.$store.dispatch('modal/show', value);
      }
    }
  }
</script>

<style lang="scss" scoped>
  header {
    position: relative;
    z-index: 10;
    padding: 1.125rem 0;
    background-color: #4086f5;
    
    .content {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      width: 30rem;
      min-width: 30rem;
      text-decoration: none;

      ._image {
        float: left;
        width: 13rem;
        height: 8.5rem;
        @include background('../../assets/images/logo', auto 125%, left top);
      }
      ._caption {
        margin: 3rem 0 0;
        color: #2c2a29;
        font-size: 2.25rem;
        font-family: $exo;
        font-weight: 700;
      }
      ._link {
        display: block;
        margin-top: 6.85rem;
        color: #2c2a29;
        font-size: 1.475rem;
        font-family: $exo;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .contacts {
      margin-top: .5rem;
      
      ._text {
        margin: 0;
        color: #231f20;
        font-family: $pt;
        font-size: 1.25rem;
      }
      ._link {
        display: block;
        height: 2rem;
        margin: 0 0 .5rem;
        padding: .3rem 0;
        color: #fff;
        font-size: 1.75rem;
        white-space: nowrap;
        
        &.-def {
          font-family: $exo;
          font-weight: 700;
          text-decoration: none;
        }
        &.-thin {
          font-family: $pt;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
</style>
