<template>
<div class="container">
  <div class="content">
    <container-preview-slider class="slider" :id="container.id" :content="container.images"></container-preview-slider>
    <div class="e-preview">
      <div class="top">
        <p class="name _text -sub -s">{{ container.name }}</p>
      </div>
      <p class="price">
        <span class="_text -def -xl">
          {{ formatPrice(total_cost) }}</span>
        <span class="_text -def -l">₽</span>
      </p>
      <div class="bottom" v-if="hasTrack">
        <router-link class="e-button" :to="{ name: 'container-tracking', params: { id: container.id } }">
          <span class="_label">Отследить контейнер</span>
        </router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
const ContainerPreviewSlider = () => import("./ContainerPreviewSlider");

export default {
  name: "ContainerInfo",
  data() {
    return {};
  },
  props: {
    hasTrack: Boolean,
    total_cost: Number,
    container: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  components: {
    ContainerPreviewSlider
  },
  methods: {
    formatPrice(value) {
      if (isNaN(value)) {
        return "";
      }
      return new Intl.NumberFormat("ru").format(value);
    }
  }
};
</script>

<style lang="scss" scoped>

.e-preview {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-height: 7rem;
  justify-content: space-between;

  .top {
    display: flex;
    justify-content: space-between;

      .name {
        margin-right: 5%;
      }
  }
  .price {
    margin: 1rem 0;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.5rem;
  }
}
.e-button {
  font-size: 1rem;
  background-color: #4fcfff;
  $h: 2rem;
  width: 49%;
  min-width: 14rem;
  height: $h;
  line-height: $h;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  width: 32%;
  margin-bottom: 2rem;

    .content {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

        .slider {
          background-color: #fff;
          height: 16rem;
          margin-bottom: 0.3rem;
        }
    }
}
</style>
