<template>
  <div class="e-slider">
    <swiper ref="slider" :options="sliderOptions">
      <swiper-slide class="carousel-cell" v-for="image in content" :key="image.id">
        <div class="_container">
          <img class="e-image" :src="root + image.full_image"/>
        </div>
      </swiper-slide>
    </swiper>
    <button class="_arrow -left"
            :class="'slider-' + id"
            @click.stop></button>
    <button class="_arrow -right"
            :class="'slider-' + id"
            @click.stop></button>
  </div>
</template>

<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper';
  import { root } from '@/config';
  
  export default {
    name: 'ContainerPreviewSlider',
    data () {
      return {
        sliderOptions: {
          loop: true,
          initialSlide: 0,
          setWrapperSize: true,
          prevButton:'.slider-' + this.id,
          nextButton:'.slider-' + this.id
        },
        root: root
      }
    },
    props: {
      id: Number,
      content: Array
    },
    components: {
      swiper,
      swiperSlide,
    },
    methods: {
      previousSlide () {
        this.$refs.flickity.previous();
      },
      nextSlide () {
        this.$refs.flickity.next();
      }
    }
  }
</script>

<style lang="scss" scoped>
  .e-image {
    @include object-fit(cover);
  }
  .e-slider {
    height: 16rem;
  
    ._container {
      width: 100%;
      height: 16rem;
    }
    ._arrow {
      width: 3.5rem;
      height: 4rem;
    }
  }
</style>

<style>
  .swiper-wrapper {
    display: flex;
  }
</style>
