<template>
  <div class="e-unauthorized" v-if="!isAuthorized">
    <p class="_text">
      Для доступа к запрашиваемой странице необходима авторизация
    </p>
  </div>
  <div v-else>
    <div class="e-section-header -breadcrumbs e-section">
      <h2 class="_text">
        <router-link class="_text"
                     :to="{ name: 'manager' }">Карточка клиент-менеджера</router-link>
        <span>➾</span>
        <span>{{ $route.params.id === 'add'
          ? 'Создание контейнера' : 'Изменение контейнера' }}</span>
      </h2>
    </div>
    <form class="e-container" @submit.prevent="save">
      <div v-if="!isModeratePassed" class="is-moderated">
        <p>Проходит модерацию</p>
      </div>
      <div class="_main e-section -underlined">
        <container-gallery class="_gallery"
                           type="manager"
                           :save="save"></container-gallery>
        <div class="_description">
          <h3 class="_caption">{{ name }}</h3>
          <div class="_parameters">
            <label class="area e-input -shadowed _field -xl">
              <span class="_label">Описание</span>
              <textarea class="_textarea _input"
                        maxlength="500"
                        :required="p.published && property.description.required"
                        v-model="p.description"></textarea>
            </label>
            <m-select class="_field -l"
                      input-label="Тип"
                      options-label="name"
                      :options="typeList"
                      v-model="p.type"></m-select>
            <m-select class="_field -m"
                      input-label="Размер"
                      options-label="name"
                      :options="sizeList"
                      v-model="p.size"></m-select>
            <label class="e-input -shadowed _field -s">
              <span class="_label">Выпуск</span>
              <money class="_input"
                     type="tel"
                     maxlength="4"
                     :required="p.published && property.year.required"
                     v-model="p.year"
                     v-bind="currency()"></money>
            </label>
            <m-select class="_field -l"
                      input-label="Модель рефрижераторной установки"
                      options-label="name"
                      :support-custom="true"
                      :options="modelList"
                      v-model="p.model"></m-select>
            <label class="e-input -shadowed -multiple _field -m">
              <span class="_label">Внутренние размеры</span>
              <money class="_input"
                     type="tel"
                     maxlength="5"
                     v-bind="currency('', 2)"
                     v-model="p.innerSize1"></money><!--
              !--><span class="_div">x</span><!--
              !--><money class="_input"
                     type="tel"
                     maxlength="5"
                     v-bind="currency('', 2)"
                     v-model="p.innerSize2"></money><!--
              !--><span class="_div">x</span><!--
              !--><money class="_input"
                     type="tel"
                     maxlength="5"
                     v-bind="currency('', 2)"
                     v-model="p.innerSize3"></money>
            </label>
            <label class="e-input -shadowed _field -s">
              <span class="_label">Вес</span>
              <money class="_input"
                     type="tel"
                     maxlength="8"
                     :required="p.published && property.weight.required"
                     v-model="p.weight"
                     v-bind="currency(' кг')"></money>
            </label>
            <label class="e-input -shadowed _field -l">
              <span class="_label">Уникальный номер</span>
              <input class="_input"
                     type="text"
                     maxlength="24"
                     :required="p.published && property.number.required"
                     v-model="p.number" />
            </label>
            <m-select class="_field -m"
                      input-label="Состояние"
                      options-label="name"
                      :options="stateList"
                      v-model="p.state"></m-select>
            <label class="e-input -shadowed _field -s">
              <span class="_label">Вместимость</span>
              <money class="_input"
                     type="tel"
                     maxlength="9"
                     :required="p.published && property.volume.required"
                     v-model="p.volume"
                     v-bind="currency(' м³', 1)"></money>
            </label>
            <m-select class="_field -xl"
                      input-label="Город"
                      options-label="name"
                      :options="cityList"
                      v-model="p.city"
                      @input="clearAddress"></m-select>
            <m-select class="_field -xl"
                      input-label="Адрес"
                      options-label="name"
                      :support-custom="true"
                      :options="addressList"
                      v-model="p.address"></m-select>
            <label class="e-checkbox -flag">
              <input class="_input" type="checkbox" v-model="p.published"/>
              <span class="_label">Опубликован</span>
            </label>
            <label class="e-checkbox -flag">
              <input class="_input" type="checkbox" v-model="p.usedInRF"/>
              <span class="_label">Использовался в РФ</span>
            </label>
            <label class="e-checkbox -flag">
              <input class="_input" type="checkbox" v-model="p.guarantee"/>
              <span class="_label">Гарантия</span>
            </label>
          </div>
          <div class="_info">
            <div class="manager">
              <button class="e-button -shadowed"
                      type="button"
                      @click="showStatementModal">Акт технического состояния</button>
              <manager-information manager="self"></manager-information>
            </div>
            <transition name="fade">
              <div class="guarantee" v-show="p.guarantee">
                <label class="e-input -shadowed _field -l">
                  <span class="_label">Срок</span>
                  <money class="_input"
                         type="tel"
                         maxlength="9"
                         v-model="p.gTime"
                         v-bind="currency(' дней')"></money>
                </label>
                <label class="area e-input -shadowed">
                  <span class="_label">Описание</span>
                  <textarea class="_textarea _input"
                            maxlength="500"
                            v-model="p.gDescription"></textarea>
                </label>
              </div>
            </transition>
          </div>
          <div>
            <label class="e-radio"
                   v-for="s in statusList"
                   :class="p.status === s ? '-blue' : '-grey'">
              <input class="_input"
                     type="radio"
                     :value="s"
                     v-model="p.status"/>
              <span class="_label">{{ s.name }}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="price e-section">
        <transition-group class="input" name="fade" tag="div">
          <div class="_elem" v-show="p.sale" key="sale">
            <div class="e-input -shadowed _field -l">
              <span class="_label">Стоимость</span>
              <money class="_input"
                     type="tel"
                     maxlength="10"
                     v-model="p.price"
                     v-bind="currency(' ₽', 0, ' ')"
                     @blur.native="managePrice"></money>
            </div>
            <div class="e-input -shadowed _field -l">
              <span class="_label">Цена со скидкой</span>
              <money class="_input"
                     type="tel"
                     maxlength="10"
                     v-model="p.priceSale"
                     v-bind="currency(' ₽', 0, ' ')"></money>
            </div>
          </div>
          <div class="_elem" v-show="p.rent" key="rent">
            <label class="e-input -shadowed _field -l">
              <span class="_label">Стоимость аренды в месяц</span>
              <money class="_input"
                     type="tel"
                     maxlength="9"
                     v-model="p.rentPriceMonth"
                     v-bind="currency(' ₽', 0, ' ')"></money>
            </label>
            <div class="e-input -shadowed _field -l">
              <span class="_label">Стоимость аренды в год</span>
              <money class="_input"
                     type="tel"
                     maxlength="9"
                     v-model="p.rentPriceYear"
                     v-bind="currency(' ₽', 0, ' ')"></money>
            </div>
          </div>
          <div class="_elem" v-show="p.auction" key="auction">
            <label class="e-input -shadowed _field -l">
              <span class="_label">Начальная цена</span>
              <money class="_input"
                     type="tel"
                     maxlength="10"
                     v-model="p.auctionStartPrice"
                     v-bind="currency(' ₽', 0, ' ')"></money>
            </label>
            <div class="e-input -shadowed _field -l">
              <span class="_label">Минимальная ставка</span>
              <money class="_input"
                     type="tel"
                     maxlength="10"
                     v-model="p.auctionMinPrice"
                     v-bind="currency(' ₽', 0, ' ')"></money>
            </div>
            <div class="e-input -shadowed _field -l">
              <span class="_label">Цена выкупа</span>
              <money class="_input"
                     type="tel"
                     maxlength="10"
                     v-model="p.auctionRedemptionPrice"
                     v-bind="currency(' ₽', 0, ' ')"></money>
            </div>
            <div class="e-input -shadowed _field -l">
              <span class="_label">Время проведения аукциона (в часах)</span>
              <money class="_input"
                     type="tel"
                     maxlength="9"
                     v-model="p.auctionTime"
                     v-bind="currency(' ч.', 0, ' ')"></money>
            </div>
          </div>
        </transition-group>
        <label class="e-checkbox -color">
          <input class="_input" type="checkbox" v-model="p.sale" v-on:change="p.auction = false"/>
          <span class="_label">В продажу</span>
        </label>
        <label class="e-checkbox -color">
          <input class="_input" type="checkbox" v-model="p.rent" v-on:change="p.auction = false"/>
          <span class="_label">В аренду</span>
        </label>
        <label class="e-checkbox -color">
          <input class="_input" type="checkbox" v-model="p.auction" v-on:change="p.sale = false; p.rent = false"/>
          <span class="_label">Аукцион</span>
        </label>
      </div>
      <div class="save e-section">
        <button class="e-button" type="submit">Сохранить</button>
      </div>
    </form>
    <div class="e-loader -full-screen" v-show="isLoading">
      <div class="_loader"></div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';
  import { SnotifyService } from 'vue-snotify';
  import { Money } from 'v-money';
  const MSelect = () => import("../Elements/MSelect");
  const ContainerGallery = () => import("./ContainerGallery");
  const ManagerInformation = () => import("../Manager/ManagerInformation");

  export default {
    name: 'ContainerEdit',
    data () {
      return {
        p: {
          description: '',
          type: '',
          size: '',
          year: '',
          model: '',
          innerSize: '',
          innerSize1: '',
          innerSize2: '',
          innerSize3: '',
          weight: '',
          number: '',
          state: '',
          status: '',
          volume: '',
          city: '',
          address: '',
          gTime: 0,
          gDescription: '',
          priceGeneral: 0,
          price: 0,
          priceSale: 0,
          rentPriceMonth: 0,
          rentPriceYear: 0,
          auctionStartPrice: 0,
          auctionMinPrice: 0,
          auctionRedemptionPrice: 0,
          auctionTime: 0,
          published: false,
          usedInRF: false,
          guarantee: false,
          discount: false,
          rent: false,
          sale: false,
          auction: false,
          statementTC: null,
        }
      }
    },
    computed: {
      name () {
        return (this.p.type ? this.p.type.name + ' ' : '') +
          (this.p.size ? this.p.size.name + ' ' : '') +
          (typeof(this.p.model) === 'object' ? this.p.model.name : this.p.model);
      },
      addressList () {
        return this.p.city ? this.p.city.content : [];
      },
      isModeratePassed () {
        return !this.container.hasOwnProperty("moderation_passed") || this.container.moderation_passed;
      },
      ...mapState('field', [
        'typeList',
        'sizeList',
        'stateList',
        'statusList',
        'modelList',
        'cityList',
      ]),
      ...mapState('container', [
        'container',
        'property',
        'isLoading'
      ]),
      ...mapState('filter', [ 'isFilterListLoaded' ]),
      ...mapGetters('auth', [ 'isAuthorized' ])
    },
    components: {
      MSelect,
      ManagerInformation,
      Money,
      ContainerGallery
    },
    watch: {
      p: {
        handler () {
          let p = this.p;
          p.name = this.name;
          this.manageParams();
          this.setData(p);
        },
        deep: true
      },
      isAuthorized () {
        this.initPage();
      }
    },
    methods: {
      currency (suffix = '', precision = 0, thousands = '') {
        return {
          precision,
          suffix,
          thousands,
          masked: false
        }
      },
      save () {
        let exit = false;
        if (this.p.published) {
          if ((!this.p.city && !this.container[this.property.city.name]) ||
            !this.p.address) {
            SnotifyService.error('', 'Добавьте местоположение контейнера!');
            exit = true;
          }
          if (this.p.priceSale > this.p.price) {
            SnotifyService.error('', 'Цена со скидкой должна быть меньше цены по умолчанию!');
            exit = true;
          }
          if (exit) {
            return;
          }
        }
        this.manageParams();
        this.setLoadingFlag(true);
        if (this.$route.params.id === 'add') {
          this.addContainer().then(() => { this.setLoadingFlag(false); });
        } else {
          this.updateContainer().then(() => { this.setLoadingFlag(false); });
        }
      },
      setProperties () {
        let add = this.$route.params.id === 'add';
        if (!this.isFilterListLoaded) {
          setTimeout(this.setProperties, 50);
        } else {
          this.getFieldList().then(() => {
            for (let key in this.property) {
              if (this.property[key].type === 'file_fields') {
                this.p[key] = null;
                continue;
              }
              if (this.property[key].type === 'select_fields'
                && this[key + 'List']) {
                if (key !== 'city' && this.property[key].custom && this.container[this.property[key].custom]) {
                  this.p[key] = this.container[this.property[key].custom];
                } else {
                  let content = '';
                  if (!add) {
                    if (key === 'city') {
                      content = this[key + 'List'].filter((obj) => {
                        return obj.name ===
                          this.container[this.property[key].name][this.property[key].name];
                      })[0];
                      if (this.container[this.property[key].custom] !== '') {
                        this.p.address = this.container[this.property[key].custom];
                      } else {
                        this.p.address = content.content.filter((obj) => {
                          return obj.name === this.container[this.property[key].name].address;
                        })[0];
                      }
                    } else {
                      content = this[key + 'List'].filter((obj) => {
                        if (key === 'type') {
                          return obj.name === this.container[this.property[key].name].name;
                        }
                        return obj.name === this.container[this.property[key].name];
                      })[0];
                    }
                  } else {
                    content = (this[key + 'List'])[0];
                  }
                  this.p[key] = content;
                }
              } else if (!add) {
                if (key === 'innerSize') {
                  this.parseInnerSize(this.container[this.property[key].name]);
                }
                if (this.property[key].custom) {
                  this.p[key + 'Custom'] = this.container[this.property[key].custom];
                }
                else {
                  this.p[key] = this.container[this.property[key].name];
                }
              }
            }
          });
        }
      },
      managePrice () {
        if (!this.p.priceSale) {
          this.p.priceSale = this.p.price;
        }
      },
      manageParams () {
        this.p.discount = this.p.priceSale > 0 && this.p.priceSale < this.p.price;
        this.p.innerSize = this.p.innerSize1 + 'x' + this.p.innerSize2 + 'x' + this.p.innerSize3;
        this.p.generalPrice = this.p.priceSale > 0 ? this.p.priceSale : this.p.rentPriceYear;
      },
      showStatementModal () {
        this.show({ type: 'statement' });
      },
      parseInnerSize (value) {
        if (!value) { return; }
        let x1 = value.indexOf('x');
        let x2 = value.lastIndexOf('x');
        this.p.innerSize1 = value.substring(0, x1);
        this.p.innerSize2 = value.substring(x1 + 1, x2);
        this.p.innerSize3 = value.substring(x2 + 1, value.length);
      },
      initPage () {
        if (!this.isAuthorized) { return; }
        let id = this.$route.params.id;
        if (id === 'add') {
          this.initContainer();
          this.setProperties();
        } else {
          this.getEditContainer(id).then(() => {
            this.setProperties();
          });
        }
      },
      clearAddress () {
        this.p.address = '';
      },
      ...mapMutations('container', [
        'initContainer',
        'setData',
        'setLoadingFlag'
      ]),
      ...mapActions('container', [
        'addContainer',
        'getEditContainer',
        'updateContainer'
      ]),
      ...mapActions('field', [ 'getFieldList' ]),
      ...mapActions('modal', [ 'show' ])
    },

    mounted () {
      this.initPage();
    }
  }
</script>

<style lang="scss" scoped>
  .e-loader {
    ._loader {
      width: 10rem;
      height: 10rem;
      border-width: 1rem;
    }
  }
  .e-radio {
    width: 9rem;
    height: 2rem;
    margin-right: .9375rem;
    margin-bottom: .625rem;

    ._label {
      line-height: 2.1875rem;
    }
  }
  .e-input {
    &.-multiple {
      ._input:nth-child(2) {
        width: 29%;
      }
      ._input:not(:nth-child(2)) {
        text-align: center;
        width: 30%;
      }
    }
    &:not(.area) {
      min-height: 3.25rem;
    }
    ._div {
      color: #81a6c2;
    }
    ._textarea {
      width: 100%;
      resize: none;
    }
  }
  ._parameters {
    ._textarea {
      height: 7.5rem;
    }
    .e-checkbox {
      margin-top: .625rem;

      &:last-child {
        width: 40%;
      }
      &:not(:last-child) {
        width: 27%;
      }
    }
  }
  ._info {
    width: 100%;
    min-height: 11.25rem;
    margin-bottom: .625rem;

    .manager {
      width: 60%;

      .e-button {
        width: 70%;
        min-height: 1.875rem;
        margin-bottom: 1.875rem;
        font-size: 1rem;
      }
    }
    .guarantee {
      width: 40%;

      .e-input:not(.area) {
        max-height: 3.125rem;
      }
      .area {
        height: 6.875rem;

        ._textarea {
          height: 5.125rem;
        }
      }
    }
  }
  .price {
    margin: 1.25rem 0;

    .e-checkbox {
      width: 9.375rem;
      height: 1.875rem;
      line-height: 2rem;
      margin-right: .3125rem;

      ._input {
        &:checked + ._label {
          background-color: #0ab0ef;
          box-shadow: .0625rem .1rem 0 0 #4285f4;
        }
        &:not(checked) + ._label {
          background-color: #9bbad1;
          box-shadow: inset .09rem .1625rem .4375rem 0 rgba(0, 0, 0, .05),
                      .0625rem .1rem 0 0 #4285f4;
        }
        &[disabled] + ._label {
          background-color: #b8b8b8;
          box-shadow: none;
        }
      }
      ._label {
        border-radius: .375rem;
      }
    }
    .input {
      width: 100%;
      display: flex;
      margin-bottom: .625rem;

      ._elem {
        width: 50%;

        .e-input {
          vertical-align: top;
          height: auto;
          margin-right: 4%;
        }
      }
    }
  }
  .save {
    margin-bottom: 3.125rem;

    .e-button {
      min-height: 3.75rem;
      padding: 0 1.875rem;
      font-size: 1.25rem;
    }
  }

  .e-container {
    .is-moderated {
      padding: 1px 20px;
      background-color: rgb(255, 101, 114);
      font-size: 1.2rem;
    }
  }
</style>
