<template>
  <div class="e-add -bordered" v-if="type === 'add'"
       @click="$router.push({ name: 'container-edit', params: { id: 'add' } })">
    <div class="_plus"></div>
    <p class="_label">Добавить контейнер</p>
  </div>
  <div class="container" v-else-if="type === 'empty'"></div>
  <div class="container -full" :class="{ '-shadowed': isDisabled }" v-else @click="showContainer">
    <div class="content">
      <container-preview-slider class="slider"
                                :id="container.id"
                                :content="container.images"></container-preview-slider>
      <div class="e-preview">
        <div class="top">
          <p class="name _text -sub -s">{{ container.name }}</p>
          <p class="_text -sub -s">{{ p[pr.type.name].short_name }}</p>
        </div>
        <div class="size">
          <p class="_text -def -name -l">{{ p[pr.size.name] }}</p>
        </div>
        <p class="_text -def -m">
          {{ p[pr.state.name] }}, {{ p[pr.year.name] }} г.</p>
        <p class="price" v-if="type.includes('sale')">
        <span class="_text -def -xl">
          {{ formatPrice(p[pr.priceSale.name] || p[pr.price.name]) }}</span>
          <span class="_text -def -l">₽</span>
          <span class="_text -stroke -l"
                v-show="p[pr.discount.name]">
          {{ formatPrice(p[pr.price.name]) }}</span>
        </p>
        <p class="price" v-else-if="type.includes('auction')">
        <span class="_text -sub -l" v-if="!isDisabled">Минимальная ставка</span>
        <span class="_text -sub -l" v-else>Последняя ставка</span><br>
        <span class="_text -def -xl" v-if="!isDisabled">{{ formatPrice(minBetValue) }}</span>
        <span class="_text -def -xl" v-else>{{ formatPrice(currentBetValue) }}</span>
        <span class="_text -def -l">₽</span>
        </p>
        <p class="price" v-else>
        <span class="_text -def -xl">
          {{ formatPrice(p[pr.rentPriceMonth.name]) }}</span>
          <span class="_text -def -l">₽</span>
          <span class="_text -stroke -l" v-if="type === 'rent'">в месяц</span>
        </p>
        <p class="number _text -def -m">{{ p[pr.number.name] }}</p>
        <p class="location _text -sub -location -s" v-if="p[pr.city.name]">
          г. {{ p[pr.city.name][pr.city.name] }}, {{ p[pr.city.custom] || p[pr.city.name].address }}</p>
        <div class="bottom" v-if="parent === 'self'">
          <button class="e-button"
                  @click.stop="changeContainer">Изменить</button>
          <p class="status _text -sub -m">{{ p[pr.status.name] }}</p>
        </div>
        <div class="bottom">
          <p v-if="!isModeratePassed"><b>Проходит модерацию</b></p>
          <div v-else-if="!isDisabled">
            <label class="e-checkbox -color"
                   v-show="type.includes('sale')"
                   @click.stop>
              <input class="_input"
                     type="checkbox"
                     v-model="isSaleSelected"/>
              <span class="_label">Купить</span>
            </label>
            <label class="e-checkbox -color"
                   v-show="type.includes('rent')"
                   @click.stop>
              <input class="_input"
                     type="checkbox"
                     v-model="isRentSelected"/>
              <span class="_label">Арендовать</span>
            </label>
            <label class="e-checkbox -color"
                   v-show="type.includes('auction')">
              <input class="_input"
                     type="checkbox"/>
              <span class="_label">Сделать ставку</span>
            </label>
          </div>
          <p v-else-if="!this.container.hasOwnProperty('auction_params')">
            <b>{{ this.p[this.pr.status.name] }}</b>
          </p>
        </div>
        <button class="_delete"
                v-show="parent === 'self'"
                @click.stop="deleteContainer(container.id)">Удалить</button>
      </div>
      </div>
    
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  const ContainerPreviewSlider = () => import("./ContainerPreviewSlider");
  
  export default {
    name: 'ContainerPreview',
    data () {
      return {
        p: this.container.property_json
      }
    },
    computed: {
      isSaleSelected: {
        get () {
          return this.saleContainersId.includes(this.container.id);
        },
        set () {
          this.addToCard('sale');
        }
      },
      isRentSelected: {
        get () {
          return this.rentContainersId.includes(this.container.id);
        },
        set () {
          this.addToCard('rent_month');
        }
      },
      isModeratePassed () {
        return !this.p.hasOwnProperty("moderation_passed") || this.p.moderation_passed;
      },
      isDisabled () {
        let value = this.container.hasOwnProperty('auction_params') && !this.container.auction_params.can_bet;
        value = value
          || (this.parent !== 'self'
            && this.p[this.pr.status.name]
            && this.p[this.pr.status.name] !== 'Свободен'
            && this.p[this.pr.status.name] !== 'reserved');
        return value;
      },
      currentBetValue() {
        return this.container.auction_params.current_bet_amount;
      },
      minBetValue() {
        if (this.pr === undefined) return 0;
        return this.container.auction_params.current_bet_amount + this.p[this.pr.auctionMinPrice.name];
      },
      ...mapState('container', {
        pr: state => state.property
      }),
      ...mapState('cart', [
        'saleContainersId',
        'rentContainersId'
      ])
    },
    props: {
      type: [ Array, String ],
      parent: String,
      container: {
        type: Object,
        default () {
          return {};
        }
      }
    },
    components: { ContainerPreviewSlider },
    methods: {
      showContainer () {
        this.$router.push({ name: 'container-sale', params: { translate: this.container.translate } });
      },
      changeContainer () {
        this.$router.push({ name: 'container-edit', params: { id: this.container.id } });
      },
      addToCard (type) {
        let action = this.isSaleSelected && type === 'sale'
          || this.isRentSelected && type === 'rent_month'
          ? 'remove' : 'add';
        let data = {};
        data[action] = [ { container: this.container.id, action: type } ];
        this.addOrRemoveContainers(data);
      },
      formatPrice (value) {
        if (isNaN(value)) { return ''; }
        return (new Intl.NumberFormat("ru")).format(value);
      },
      ...mapActions('catalog', [ 'deleteContainer' ]),
      ...mapActions('cart', [ 'addOrRemoveContainers' ])
    }
  }
</script>

<style lang="scss" scoped>
  .e-add {
    width: 32%;
    min-height: 32.5rem;
    margin-bottom: 2rem;
    
    ._plus {
      $s: 3rem;
      width: $s;
      height: $s;
    }
  }
  .e-preview {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    min-height: 16rem;
  }
  .e-button {
    font-size: 1rem;
    background-color: #4fcfff;
  }
  .e-button,
  .e-checkbox {
    $h: 2rem;
    width: 49%;
    min-width: 8rem;
    height: $h;
    line-height: $h;
    margin-bottom: .5rem;
  }
  .e-checkbox {
    ._input {
      &:checked + ._label {
        background-color: #fff
      }
      &:not(checked) + ._label {
        background-color: #4fcfff;
      }
      &[disabled] + ._label {
        background-color: #b8b8b8;
      }
    }
    ._label {
      border: solid 1px #4fcfff;
      border-radius: .25rem;
    }
  }
  .container {
    display: flex;
    width: 32%;
    margin-bottom: 2rem;
    
    &.-full {
      cursor: pointer;
    }
    &.-shadowed {
      opacity: .5;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    
  }
  .slider {
    background-color: #fff;
    height: 16rem;
    margin-bottom: .3rem;
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .name {
    margin-right: 5%;
  }
  .size {
    margin: .5rem 0;
    ._text {
      display: inline;
      line-height: 1.5rem;
    }
  }
  .price {
    margin: 1rem 0;
  }
  .number {
    margin-bottom: .6rem;
  }
  .location {
    flex-grow: 1;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: .5rem;
  }
  .status {
    line-height: 2.2rem;
    margin-left: 5%;
  }
</style>
