<template>
  <div>
    <div class="e-section-header -breadcrumbs e-section">
      <h2 class="_text">
        <router-link class="_text" :to="{ name: 'catalog' }">Каталог</router-link>
        <span>➾</span>
        <span v-if="isLoaded">{{ container.name }}</span>
      </h2>
    </div>
    <div class="e-container" v-if="isLoaded">
      <div v-if="!isModeratePassed" class="is-moderated">
        <p>Проходит модерацию</p>
      </div>
      <div class="_main e-section -underlined">
        <container-gallery class="_gallery"></container-gallery>
        <div class="_description">
          <h3 class="_caption">{{ container.name }}</h3>
          <div class="_parameters">
            <div class="_field -xl">
              <p class="_text -s">{{ p[pr.description.name] }}</p>
            </div>
            <div class="_field -l">
              <p class="_title">Тип</p>
              <p class="_text -m">{{ p[pr.type.name].name }}</p>
            </div>
            <div class="_field -m">
              <p class="_title">Размер</p>
              <p class="_text -l">{{ p[pr.size.name] }}</p>
            </div>
            <div class="_field -s">
              <p class="_title">Выпуск</p>
              <p class="_text -m">{{ p[pr.year.name] }} г.</p>
            </div>
            <div class="_field -l">
              <p class="_title">Модель рефрижираторной установки</p>
              <p class="_text -l">{{ p[pr.model.custom] || p[pr.model.name] }}</p>
            </div>
            <div class="_field -m">
              <p class="_title">Внутренние размеры</p>
              <p class="_text -l">{{ p[pr.innerSize.name] }}</p>
            </div>
            <div class="_field -s">
              <p class="_title">Вес</p>
              <p class="_text -l">{{ p[pr.weight.name] }}</p>
            </div>
            <div class="_field -l">
              <p class="_title">Уникальный номер</p>
              <p class="_text -l">{{ p[pr.number.name] }}</p>
            </div>
            <div class="_field -m">
              <p class="_title">Состояние</p>
              <p class="_text -m">{{ p[pr.state.name] }}</p>
            </div>
            <div class="_field -s">
              <p class="_title">Вместимость</p>
              <p class="_text -l">{{ p[pr.volume.name] }} м<sup>3</sup></p>
            </div>
            <div class="_field" :class="p[pr.guarantee.name] ? '-l' : '-xl'">
              <p class="_title -location">Контейнер находится</p>
              <p class="_text -m">{{ address }}</p>
            </div>
            <div class="guarantee _field -ms" v-show="p[pr.guarantee.name]">
              <p class="_title">Гарантия</p>
              <p class="_text -l">
                {{ p[pr.gTime.name] }} дней {{ p[pr.gDescription.name] }}
              </p>
            </div>
            <div class="_field -l">
              <button class="e-button -shadowed"
                      type="button"
                      @click="show({ type: 'statement' })">
                Акт технического состояния</button>
            </div>
            <p class="_text _field -ms">
              <span class="_sign">✓</span> Не использовался в РФ
            </p>
            <manager-information class="_field -xl"></manager-information>
          </div>
        </div>
      </div>
      <div class="e-section">
        <p class="_bonus-caption">Ваши бонусы</p>
        <bonus-panel :manager="p.manager.id"></bonus-panel>
      </div>
      <div class="price e-section" v-if="['Свободен', 'Зарезервирован'].indexOf(p.status) !== -1">
        <div class="_elem" v-if="p[pr.sale.name]">
          <div class="_line">
            <p class="_text -sm">Стоимость</p>
            <p class="_text -l">
              {{ formatPrice(p[pr.price.name]) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
          <div class="_line">
            <p class="_text -sm">Скидка</p>
            <p class="_text -l">
              {{ formatPrice(p[pr.priceSale.name] - p[pr.price.name]) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
          <div class="_line">
            <p class="_text -sm">К оплате</p>
            <p class="_text -l">
              {{ formatPrice(p[pr.priceSale.name]) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
        </div>
        <div class="_elem" v-if="p[pr.rent.name]">
          <div class="_line">
            <p class="_text -sm">Стоимость аренды в месяц</p>
            <p class="_text -l">
              {{ formatPrice(p[pr.rentPriceMonth.name]) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
          <div class="_line">
            <p class="_text -sm">Стоимость аренды в год</p>
            <p class="_text -l">
              {{ formatPrice(p[pr.rentPriceYear.name]) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
        </div>
        <div class="_elem" v-if="p[pr.auction.name]">
          <div class="_line">
            <p class="_text -sm">
              <span v-if="can_bet">Текущая цена</span>
              <span v-else>Последняя ставка</span>
            </p>
            <p class="_text -l">
              {{ formatPrice(currentBetValue) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
          <div class="_line" v-show="can_bet">
            <p class="_text -sm">Минимальная ставка</p>
            <p class="_text -l">
              {{ formatPrice(minBetValue) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
          <div class="_line" v-if="p[pr.auctionRedemptionPrice.name]" v-show="can_bet">
            <p class="_text -sm">Цена выкупа</p>
            <p class="_text -l">
              {{ formatPrice(p[pr.auctionRedemptionPrice.name]) }}
              <span class="_text -m"> ₽</span>
            </p>
          </div>
          <div class="_line" v-show="can_bet">
            <p class="_text -sm">Окончание аукциона</p>
            <p class="_text -l">
              {{ formatDate(container.auction_params.end_time) }}
            </p>
          </div>
          <div class="_line">
            <p class="_text -sm">Всего ставок</p>
            <p class="_text -l">
              {{ container.auction_params.orders_count }}
            </p>
          </div>

        </div>
      </div>
      <div class="e-section" v-if="['Свободен', 'Зарезервирован'].indexOf(p.status) !== -1">
        <div class="controls" v-if="isModeratePassed">
          <label class="e-checkbox -color" v-show="p[pr.sale.name]">
            <input class="_input"
                   type="checkbox"
                   :disabled="isDisabled"
                   v-model="isSaleSelected"/>
            <span class="_label">Купить</span>
          </label>
          <label class="e-checkbox -color" v-show="p[pr.rent.name]">
            <input class="_input"
                   type="checkbox"
                   :disabled="isDisabled"
                   v-model="isRentSelected"/>
            <span class="_label">Арендовать</span>
          </label>
          <p v-show="!can_bet">
            Аукцион окончен. Ставки больше не принимаются.
          </p>
          <button class="e-button" type="button" v-show="p[pr.auction.name] && can_bet"
                      @click="show({ type: 'bet', params: { betAmount: minBetValue, container: container.id } })">
                Сделать ставку</button>
        </div>
      </div>
      <div class="e-section" v-else>
        <div class="controls">
          <p>{{ p.status }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  const ContainerGallery = () => import("./ContainerGallery");
  const ManagerInformation = () => import("../Manager/ManagerInformation");
  const BonusPanel = () => import("../Manager/BonusPanel");

  export default {
    name: 'ContainerSale',
    data () {
      return {
        isLoaded: false,
        p: { name: '' }
      }
    },
    computed: {
      isSaleSelected: {
        get () {
          return this.saleContainersId.includes(this.container.id);
        },
        set () {
          this.addToCard('sale');
        }
      },
      isRentSelected: {
        get () {
          return this.rentContainersId.includes(this.container.id);
        },
        set () {
          this.addToCard('rent_month');
        }
      },
      isDisabled () {
        let value = this.container.hasOwnProperty('auction_params') && !this.container.auction_params.can_bet;
        value = value
          || (this.parent !== 'self'
            && this.p[this.pr.status.name]
            && this.p[this.pr.status.name] !== 'Свободен'
            && this.p[this.pr.status.name] !== 'Зарезервирован'
            && this.p[this.pr.status.name] !== 'reserved');
        return value;
      },
      address () {
        if (!this.isLoaded) return '';
        return 'г. ' + this.p[this.pr.city.name][this.pr.city.name] +
          ', ' + this.p[this.pr.city.custom]
          || this.p[this.pr.city.name].address
      },
      isModeratePassed () {
        return !this.container.hasOwnProperty("moderation_passed") || this.container.moderation_passed;
      },
      currentBetValue() {
        return this.container.auction_params.current_bet_amount;
      },
      minBetValue() {
        if (this.pr === undefined) return 0;
        return this.currentBetValue + this.p[this.pr.auctionMinPrice.name];
      },
      can_bet() {
        return this.container.auction_params.can_bet;
      },
      ...mapState('container', {
        container: state => state.container,
        pr: state => state.property
      }),
      ...mapState('cart', [
        'saleContainersId',
        'rentContainersId'
      ])
    },
    components: {
      BonusPanel,
      ManagerInformation,
      ContainerGallery
    },
    head: {
      title () {
        return {
          inner: this.p.name
        }
      },
      meta () {
        if (!this.isLoaded) return [
          { n: 'Title' }, { n: 'Description' }, { n: 'Keywords' }
        ];
        let c = this.p;
        let p = this.pr;
        return [
          {
            name: 'Title',
            content: c.seo_title
          },
          {
            name: 'Description',
            content: c.seo_description
          },
          {
            name: 'Keywords',
            content: c.seo_keywords
          }
        ]
      }
    },
    methods: {
      addToCard (type) {
        let action = this.isSaleSelected && type === 'sale'
          || this.isRentSelected && type === 'rent_month' ? 'remove' : 'add';
        let data = {};
        data[action] = [ { container: this.container.id, action: type } ];
        this.addOrRemoveContainers(data);
      },
      formatPrice (value) {
        return (+value || 0).toLocaleString('ru-RU');
      },
      formatDate (value) {
        if (value) {
          var [h, mn, s] = value.split('T')[1].split(':');
          var [y, m, d] = value.split('T')[0].split('-');
          return [h, mn].join(':') + ' ' + [d, m, y].join('.');
        }
      },
      ...mapActions('container', [ 'getContainer' ]),
      ...mapActions('modal', [ 'show' ]),
      ...mapActions('cart', [ 'addOrRemoveContainers' ])
    },
    mounted () {
      this.p.name = '';
      this.getContainer(this.$route.params.translate).then(() => {
        this.p = this.container;
        this.isLoaded = true;
        this.$emit('updateHead');
      });
    },
    watch: {
      container() {
        this.p = this.container;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .e-checkbox {
    $height: 4.5rem;
    width: 47%;
    height: $height;
    line-height: $height;
  
    ._input {
      &:checked + ._label {
        background-color: #fff;
        box-shadow: .0625rem .1rem 0 0 #4285f4;
      }
      &:not(checked) + ._label {
        background-color: #0ab0ef;
        box-shadow: inset .09rem .1625rem .4375rem 0 rgba(0, 0, 0, .05),
                    .0625rem .1rem 0 0 #4285f4;
      }
      &[disabled] + ._label {
        background-color: #b8b8b8;
        box-shadow: none;
      }
    }
    ._label {
      border-radius: .25rem;
    }
  }
  .e-container {
    .e-button {
      width: 90%;
      min-height: 1.875rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }
    ._title {
      margin: 0;
      color: #81a6c2;
      font-size: .75rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
      
      &.-location {
        $height: 1.2rem;
        height: $height;
        line-height: $height;
        padding-left: 1rem;
        @include background('../../assets/images/icon-pin', auto 80%, left top);
      }
    }
    ._text {
      margin: .3rem 0 1rem;
      color: #231f20;
      
      &.-s {
        font-size: 1rem;
      }
      &.-m {
        font-size: 1.25rem;
      }
      &.-l {
        font-size: 1.5rem;
      }
    }
    ._sign {
      color: #81a6c2;
      font-size: inherit;
    }
    ._bonus-caption {
      color: #93b7d2;
      font-size: 1.25rem;
    }
    .is-moderated {
      padding: 1px 20px;
      background-color: rgb(255, 101, 114);
      font-size: 1.2rem;
    }
  }
  $block-width: 24rem;
  .price {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    
    ._elem {
      width: $block-width;
      margin-right: 5%;
    }
    ._line {
      display: flex;
      justify-content: space-between;
    }
    ._text {
      margin: .25rem 0;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    width: $block-width;
    margin-bottom: 5rem;
  }
</style>
