<template>
  <div class="container-list">
    <transition-group class="catalog"
                      name="fade"
                      tag="div">
      <container-info v-for="container in containers"
                         :container="container.hasOwnProperty('container') ? container.container : container"
                         :total_cost="container.hasOwnProperty('container') ? container.total_cost : container.property_json['tsena']"
                         :key="container.hasOwnProperty('container') ? container.container.id : container.id"
                         v-bind:hasTrack=hasTrack
                         >
      </container-info>
    </transition-group>

  </div>
</template>

<script>
const ContainerInfo = () => import("../Container/ContainerInfo");

export default {
  name: "ContainerInfoList",
  data() {
    return {};
  },
  props: {
    containers: Array,
    hasTrack: Boolean
  },
  components: {
    ContainerInfo
  }
};
</script>

<style lang="scss" scoped>
.container-list {
  min-height: 35rem;

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
</style>
