<template>
  <div class="container-gallery">
    <transition name="fade">
      <canvas class="zoom" id="zoom" v-show="isZoomActive"></canvas>
    </transition>
    <canvas id="image" v-show="false"></canvas>
    <div class="e-slider -default"
         id="slider"
         @mousemove="manageZoom($event)"
         @mouseleave="disableZoom">
      <div class="rect" id="rect" v-show="isZoomActive"></div>
      <swiper :options="sliderOptions" ref="slider" v-show="images.length > 0">
        <swiper-slide v-for="image in images" :key="image.id">
          <div class="_container">
            <img class="e-image" :src="root + image.full_image" />
          </div>
        </swiper-slide>
      </swiper>
      <div class="e-slider -background" v-show="images.length === 0">
        <p v-if="type === 'manager'">Добавьте фотографии контейнера</p>
        <p v-else>Фотографии отсутствуют</p>
      </div>
    </div>
    <div class="buttons" v-show="type === 'manager'" v-if="images.length > 0">
      <button class="e-button -shadowed"
              type="button"
              @click="setMainImage(selectedImage)">Сделать главной</button>
      <button class="e-button -shadowed"
              type="button"
              @click="show({ type: 'delete-image', params: { id: selectedImage } })">
        Удалить
      </button>
    </div>
    <div class="e-slider -nav"
         :class="{ '-thin': type === 'manager' }"
         v-if="images.length > 0">
      <swiper :options="navOptions" ref="nav">
        <swiper-slide class="slide" v-for="(image, index) in images" :key="image.id">
          <div class="_container">
            <img class="e-image"
                 :class="{ '-active': selectedIndex === index }"
                 :src="root + image.thumbnail_image"/>
          </div>
        </swiper-slide>
      </swiper>
      <button class="_arrow -left" id="nav-left" type="button"></button>
      <button class="_arrow -right" id="nav-right" type="button"></button>
    </div>
    <label class="e-add" v-show="type === 'manager'">
      <input class="_input"
             type="file"
             id="add-image"
             multiple
             @change="loadImages"
             @click="saveIfNewContainer"/>
      <span class="_plus"></span>
    </label>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex';
  import { swiper, swiperSlide } from 'vue-awesome-swiper';
  import { root } from '@/config';
  import SwiperSlide from "../../../node_modules/vue-awesome-swiper/src/slide";
  
  export default {
    name: 'ContainerGallery',
    data () {
      return {
        selectedIndex: 0,
        root: root,
        sliderOptions: {
          loop: true,
          initialSlide: 0,
          grabCursor : true,
          setWrapperSize: true,
          mousewheelControl: true,
          notNextTick: true,
          onSlideChangeStart: this.changeSlide
        },
        navOptions: {
          setWrapperSize: true,
          prevButton:'#nav-left',
          nextButton:'#nav-right',
          mousewheelControl: true,
          notNextTick: true,
          slidesPerView: this.type === 'manager' ? 3 : 4,
          onTap: this.goToSlide
        },
        isZoomActive: false,
        zoom: null,
        zoomContext: null,
        rect: null,
        slider: null,
        imageObj: '',
        imageMul: 1
      }
    },
    computed: {
      selectedImage () {
        return this.images[this.selectedIndex].id
      },
      ...mapState('container', {
        images: state => state.container.images
      })
    },
    props: [ 'type', 'save' ],
    components: {
      swiper,
      swiperSlide
    },
    watch: {
      images () {
        this.selectedIndex = 0;
        this.$refs.slider.swiper.slideTo(1);
      }
    },
    methods: {
      goToSlide (params) {
        this.$refs.slider.swiper.slideTo(params.clickedIndex + 1);
      },
      changeSlide (swiper) {
        if (this.$refs.nav && this.$refs.nav.swiper) {
          this.$refs.nav.swiper.slideTo(swiper.realIndex);
          this.selectedIndex = swiper.realIndex;
        }
        if (this.imageObj) {
          this.imageObj.src = this.root + this.images[swiper.realIndex].full_image;
        }
      },
      saveIfNewContainer (e) {
        if (this.$route.params.id === 'add') {
          this.save();
        }
      },
      loadImages () {
        let images = document.getElementById('add-image').files;
        let length = images.length;
        this.setLoadingFlag(true);
        this.processImage(images, length, 0);
      },
      processImage (images, length, count) {
        let image = images[count];
        let formData = new FormData();
        formData.append('object_id', this.$route.params.id);
        formData.append('image', image);
        this.addImage(formData).then(() => {
          if (++count >= length) {
            this.setLoadingFlag(false);
          } else {
            this.processImage(images, length, count);
          }
        });
      },
      manageZoom (e) {
        if (this.type === 'manager' || !this.images[0]) { return; }
        let width = this.rect.clientWidth,
            height = this.rect.clientHeight,
            top = e.pageY - this.slider.top - height / 2,
            left = e.pageX - this.slider.left - width / 2,
            maxTop = this.slider.height - height,
            maxLeft = this.slider.width - width;
        top = top < 0 ? 0 : top > maxTop ? maxTop : top;
        left = left < 0 ? 0 : left > maxLeft ? maxLeft : left;
        this.isZoomActive = true;
        this.rect.style.top = top + 'px';
        this.rect.style.left = left + 'px';
        this.zoomContext.drawImage(this.image, left * this.imageMul, top * this.imageMul,
          width * this.imageMul - .1, height * this.imageMul - .1,
          0, 0, this.zoom.width, this.zoom.height);
      },
      disableZoom () {
        this.isZoomActive = false;
      },
      ...mapMutations('container', [ 'setLoadingFlag' ]),
      ...mapActions('modal', [ 'show' ]),
      ...mapActions('container', [
        'addImage',
        'setMainImage'
      ])
    },
    mounted () {
      if (this.type === 'manager' || !this.images[0]) { return; }
      this.rect = document.getElementById('rect');
      this.slider = document.getElementById('slider').getBoundingClientRect();
      this.zoom = document.getElementById('zoom');
      this.zoom.width = this.slider.height;
      this.zoom.height = this.slider.height;
      this.zoomContext = this.zoom.getContext('2d');
      this.image = document.getElementById('image');
      this.imageContext = this.image.getContext('2d');
      this.imageObj = new Image();
      this.imageObj.src = this.root + this.images[0].full_image;
      this.imageObj.onload = () => {
        let maxSide = this.imageObj.width > this.imageObj.height ? 'width' : 'height';
        this.imageMul = this.imageObj[maxSide] / this.slider[maxSide];
        this.image.width = this.slider.width * this.imageMul;
        this.image.height = this.slider.height * this.imageMul;
        this.imageContext = this.image.getContext('2d');
        let xOffset = (this.image.width - this.imageObj.width) / 2,
            yOffset = (this.image.height - this.imageObj.height) / 2;
        this.imageContext.fillStyle = "#bad4e7";
        this.imageContext.fillRect(0, 0, this.image.width, this.image.height);
        this.imageContext.drawImage(this.imageObj, xOffset, yOffset);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .e-add {
    height: 5rem;
    margin-top: 1rem;
    
    ._plus {
      width: 2rem;
      height: 2rem;
    }
  }
  .e-button {
    width: 10rem;
    min-height: 1.875rem;
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .e-slider {
    &.-default {
      height: 30rem;
      margin-bottom: 1.5rem;
    
      ._container {
        width: 100%;
        height: 30rem;
      
        .e-image {
          @include object-fit(contain);
        }
      }
    }
    &.-nav {
      height: 5rem;
      margin: 1rem 0 0 -.3rem;
      
      &.-thin {
        float: left;
        width: 75%;
      }
      ._container {
        height: 5rem;
        padding: 0 .3rem;
        
        .e-image {
          @include object-fit(cover);
          
          &.-active {
            border-radius: .15rem;
            border: solid 2px #00aeef;
          }
        }
      }
      ._arrow {
        width: 3rem;
        height: 2.5rem;
      }
    }
    &.-background {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30rem;
      background-color: #bad4e7;
      color: #00aeef;
      font-size: 1.375rem;
      text-align: center;
    }
  }
  .rect {
    $side: 10rem;
    position: absolute;
    z-index: 100;
    width: $side;
    height: $side;
    background-color: rgba(255, 255, 255, .5);
    cursor: crosshair;
  }
  .zoom {
    position: absolute;
    z-index: 100;
    margin-left: 40%;
    box-shadow: 0 0 1rem 1px rgba(0, 0, 0, .3);
  }
</style>

<style>
  .swiper-wrapper {
    display: flex;
  }
</style>
