<template>
  <div class="container-list">
    <empty-catalog key="empty-catalog"
                   v-if="containersLoaded
                 && containers.length <= 0
                 && parent !== 'self'"></empty-catalog>
    <transition-group class="catalog"
                      name="fade"
                      v-else
                      v-infinite-scroll="loadMore"
                      infinite-scroll-disabled="loading"
                      infinite-scroll-distance="100"
                      tag="div">
      <container-preview v-if="parent === 'self'"
                         type="add"
                         key="add"></container-preview>
      <container-preview v-for="container in containers"
                         :type="type === 'all' ? getType(container) : type"
                         :parent="parent"
                         :container="container"
                         :key="container.id">
      </container-preview>
      <container-preview v-for="n in emptyContainerCount"
                         type="empty"
                         :key="'empty' + n"></container-preview>
      <div class="e-loader -default" v-show="loading" key="loader">
        <div class="_loader"></div>
      </div>
    </transition-group>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex';
  import infiniteScroll from 'vue-infinite-scroll';
  import EmptyCatalog from "../Catalog/EmptyCatalog";
  const ContainerPreview = () => import("../Container/ContainerPreview");

  export default {
    name: 'ContainerList',
    data () {
      return {
        type: '',
        loading: false,
        containersInFirstRow: 6,
        containersInRow: 6,
        offset: 0,
        watcher: null,
        containersLoaded: false
      }
    },
    computed: {
      emptyContainerCount () {
        let shift = this.parent === 'self' ? 1 : 0;
        let num = window.innerWidth >= 1024 && window.innerWidth / window.innerHeight < 18/9 ? 4 : 3;
        if (this.containers.length < this.containersCount
          || (this.containers.length + shift) % num === 0) { return 0; }
        return num - (this.containers.length + shift) % num;
      },
      ...mapState('catalog', [
        'activeParams',
        'containers',
        'containersCount'
      ]),
      ...mapState('container', [ 'property' ])
    },
    props: {
      parent: String
    },
    components: {
      EmptyCatalog,
      ContainerPreview
    },
    directives: {
      infiniteScroll
    },
    methods: {
      loadMore () {
        if (this.containers.length >= this.containersCount) { return; }
        this.loadContainers(this.containersInRow, this.offset);
        this.offset += this.containersInRow;
      },
      loadFiltered () {
        this.type = this.activeParams.filters.catalog;
        if (this.parent === 'self') {
          this.containersInFirstRow = this.containersInRow - 1;
        }
        this.loadContainers(this.containersInFirstRow, 0, true);
        this.offset = this.containersInFirstRow;
      },
      loadContainers (limit, offset, filter = false) {
        this.loading = true;
        this.getContainers({ limit, offset, filter, parent: this.parent }).then(() => {
          this.loading = false;
          this.containersLoaded = true;
        });
      },
      getType (c) {
        let type = [];
        if (c.property_json[this.property.sale.name]) {
           type.push('sale');
        }
        if (c.property_json[this.property.rent.name]) {
          type.push('rent');
        }
        if (c.property_json[this.property.auction.name]) {
          type.push('auction');
        }
        return type;
      },
      ...mapMutations('catalog', [ 'setLoadParams' ]),
      ...mapActions('catalog', [ 'getContainers' ])
    },
    created () {
      this.setLoadParams({ count: 0, parent: null });
      this.containersInFirstRow = window.innerWidth >= 1024
        && window.innerWidth / window.innerHeight < 18/9 ? 8 : 6;
      this.loadFiltered();
      this.watcher = this.$store.watch(
        (state) => state.catalog.activeParams,
        this.loadFiltered,
        { deep: true }
      );
    },
    destroyed () {
      this.watcher();
    },
    
  }
</script>

<style lang="scss" scoped>
  .e-loader {
    height: 25rem;
    
    ._loader {
      width: 6rem;
      height: 6rem;
      border-width: .5rem;
    }
  }
  .container-list {
    min-height: 35rem;
    
    .catalog {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
</style>
