<template>
  <transition name="fade">
    <div class="filter-panel">
      <div class="e-section-header -default e-section">
        <h2 class="_text">{{ header }}</h2>
        <div class="_addon">
           <label class="e-radio">
              <input class="_input"
                     type="radio"
                     value="all"
                     v-model="type"/>
              <span class="_label">Любой</span>
            </label>
            <label class="e-radio">
              <input class="_input"
                     type="radio"
                     value="sale"
                     v-model="type"/>
              <span class="_label">Купить</span>
            </label>
            <label class="e-radio">
              <input class="_input"
                     type="radio"
                     value="rent"
                     v-model="type"/>
              <span class="_label">Арендовать</span>
            </label>
            <label class="e-radio">
              <input class="_input"
                     type="radio"
                     value="auction"
                     v-model="type"/>
              <span class="_label">Аукцион</span>
            </label>
            <m-select class="_select"
                      v-model="city"
                      options-label="name"
                      :options="cityList">
            </m-select>
          </div>
          <router-link class="e-link -bordered -star"
                       :to="{ name: 'cart-check' }">
            {{ containersCountString }}</router-link>
      </div>
      <filter-content></filter-content>
    </div>
  </transition>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from 'vuex';
  const MSelect = () => import("../../Elements/MSelect");
  const FilterContent = () => import("./FilterContent");
  
  export default {
    name: 'FilterPanel',
    computed: {
      type: {
        get () {
          return this.activeParams.filters.catalog;
        },
        set (catalog) {
          this.updateActiveFilters({ catalog });
        }
      },
      city: {
        get () {
          return this.activeParams.filters.city;
        },
        set (city) {
          this.updateActiveFilters({ city });
        }
      },
      ...mapState('filter', [ 'cityList' ]),
      ...mapState('catalog', [ 'activeParams' ]),
      ...mapGetters('cart', [ 'containersCountString' ])
    },
    props: {
      header: String
    },
    components: {
      MSelect,
      FilterContent
    },
    methods: mapMutations('catalog', [ 'updateActiveFilters' ])
  }
</script>
