<template>
  <div class="e-section -underlined">
    <div class="price-number">
      <form class="price" @submit.prevent="updateActiveFilters({ price })">
        <p class="_caption">{{ activeParams.filters.catalog !== 'auction' ? 'Цена': 'Начальная цена' }}</p>
        <div class="price-slider" @mouseup="updateActiveFilters({ price })">
          <vue-slider v-model="price"
                      v-bind="sliderOptions"
                      ref="slider"
                      @drag-end="updateActiveFilters({ price })"></vue-slider>
        </div>
        <span class="_text">от</span><!--
        !--><money class="e-input -shadowed"
               type="tel"
               maxlength="9"
               v-model="priceLow"
               v-bind="currency"></money><!--
        !--><span class="_text">до</span><!--
        !--><money class="e-input -shadowed"
               type="tel"
               maxlength="9"
               v-model="priceHigh"
               v-bind="currency"></money>
        <button type="submit" v-show="false"></button>
      </form>
      <form class="number" @submit.prevent="setSearchNumber(containerNumber)">
        <p class="_caption">Номер контейнера</p>
        <input class="e-input -shadowed"
               type="text"
               placeholder="RFTU"
               maxlength="10"
               v-model="containerNumber" /><!--
        !--><button class="e-button -shadowed" type="submit"></button>
      </form>
    </div>
    <div class="types">
      <p class="_caption">Фильтры</p>
      <div>
        <label class="e-mul-checkbox">
          <input class="_input"
                 type="checkbox"
                 value="all"
                 v-model="isAllTypesSelected"/>
          <span class="_label">Все</span>
        </label><!--
        !--><label class="e-mul-checkbox" v-for="f in typeList">
          <input class="_input"
                 type="checkbox"
                 :value="f"
                 v-model="selectedTypes"/>
          <span class="_label">{{ f.name }}</span>
        </label>
      </div>
      <div>
        <label class="e-mul-checkbox" v-for="f in stateList">
          <input class="_input"
                 type="checkbox"
                 :value="f"
                 v-model="selectedTypes"/>
          <span class="_label">{{ f.name }}</span>
        </label>
      </div>
      <div>
        <label class="e-mul-checkbox" v-for="f in boolList">
          <input class="_input"
                 type="checkbox"
                 :value="f"
                 v-model="selectedTypes"/>
          <span class="_label">{{ f.name }}</span>
        </label>
      </div>
    </div>
    <div class="sizes">
      <p class="_caption">Размер</p>
      <div class="_wrapper">
        <label class="e-mul-checkbox -multiline" v-for="s in sizeList">
          <input class="_input" type="checkbox" :value="s" v-model="selectedSizes"/>
          <span class="_label">
            <span class="_label-text">{{ s.name }}</span>
          </span>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  import { Money } from 'v-money'
  import VueSlider from 'vue-slider-component';
  
  export default {
    name: 'FilterContent',
    data () {
      return {
        sliderOptions: {
          min: 0,
          max: 2000000,
          width: '90%',
          class: 'price-slider',
          tooltip: false,
        },
        currency: {
          precision: 0,
          thousands: ' ',
          suffix: ' ₽',
          masked: false
        },
        containerNumber: '',
        price: []
      }
    },
    computed: {
      selectedTypes: {
        get () {
          return this.activeParams.filters.types;
        },
        set (types) {
          this.updateActiveFilters({ types })
        }
      },
      selectedSizes: {
        get () {
          return this.activeParams.filters.sizes;
        },
        set (sizes) {
          this.updateActiveFilters({ sizes })
        }
      },
      isAllTypesSelected: {
        get () {
          return this.activeParams.filters.types.length === 0;
        },
        set () {
          this.updateActiveFilters({ types: [] });
        }
      },
      priceLow: {
        get () {
          return this.price[0];
        },
        set (value) {
          if (this.price[0] !== value && value <= this.priceHigh) {
            this.$refs.slider.setValue([ value, this.price[1] ]);
          } else if (value > this.priceHigh) {
            this.price = [ this.priceHigh, this.price[1] ];
          }
        }
      },
      priceHigh: {
        get () {
          return this.price[1];
        },
        set (value) {
          if (this.price[1] !== value && value >= this.priceLow) {
            this.$refs.slider.setValue([ this.price[0], value ]);
          } else if (value > 9 && value < this.priceLow) {
            this.$refs.slider.setValue([ this.price[0], this.priceLow ]);
          }
        }
      },
      ...mapState('filter', [
        'typeList',
        'stateList',
        'boolList',
        'sizeList',
        'priceRange'
      ]),
      ...mapState('catalog', [
        'activeParams',
        'searchNumber'
      ])
    },
    components: {
      Money,
      VueSlider
    },
    methods: mapMutations('catalog', [
      'updateActiveFilters',
      'setSearchNumber'
    ]),
    mounted () {
      this.price = this.priceRange;
      this.sliderOptions.max = this.priceRange[1];
    }
  }
</script>

<style lang="scss" scoped>
  $h: 2.5rem;
  .e-button {
    width: 13%;
    height: $h;
    @include background('../../../assets/images/search', 50% auto);
  }
  .e-input {
    height: $h;
    line-height: $h;
    font-size: 1.25rem;
  }
  .e-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    
    ._caption {
      color: #93b7d2;
      font-size: 1rem;
    }
    ._text {
      color: #231f20;
      font-size: 1rem;
    }
  }
  .price-number {
    width: 25%;
    margin-right: 2%;
    
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      
      .e-input {
        width: 40%;
      }
      .price-slider {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    .number {
      .e-input {
        max-width: 85%;
        margin-right: 2%;
      }
    }
  }
  .types {
    width: 37%;
  
    .e-mul-checkbox {
      $ch: 2rem;
      height: $ch;
      line-height: $ch;
      margin: 0 .5rem .5rem 0;
      
      ._label {
        padding: 0 .5rem;
      }
    }
  }
  .sizes {
    width: 33%;
    ._wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .e-mul-checkbox {
      width: 32%;
      height: 4rem;
      display: flex;
      margin-bottom: .5rem;
      align-items: center;
      text-align: center;
      
      ._label {
        padding: 0 .5rem;
      }
    }
  }
</style>

<style lang="scss">
  .vue-slider-component {
    width: 96% !important;
  }
  .price-slider .vue-slider {
    background-color: #fff !important;
    height: .25rem !important;
    
    .vue-slider-dot {
      $a: 2rem;
      top: -1rem !important;
      width: $a !important;
      height: $a !important;
      background-image: linear-gradient(to top, #0072bc, #00aeef);
      box-shadow: none;
    }
  }
</style>
