<template>
  <div>
    <div class="e-section-header -default e-section">
      <h2 class="_text">Часто задаваемые вопросы</h2>
    </div>
    <div class="content">
      <ul>
        <li class="_item" v-for="element in list">
          <p class="_caption"
             :class="{ '-underline': active !== element }"
             @click="active = element">– {{ element.question }}</p>
          <p class="_text" v-show="active === element">{{ element.answer }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Faq',
    data () {
      return {
        active: null,
        list: [
          { question: 'Как купить контейнер?', answer: '...' },
          { question: 'Как долго ждать прибытия контейнера?', answer: 'Все зависит от того, от куда вы покупаете контейнер, В случае произвольного набора букв и длины слов ничто не отвлекает от оценки воздействия и читаемости различных шрифтов, а также от распределения текста на странице (макет или площадь набора).' },
          { question: 'Что делать, если контейнер не соответствует описанию?' , answer: 'Главное - не паниковать.' },
          { question: 'Что делать, если контейнер сломался?' , answer: 'Держать себя в руках и думать о хорошем.' },
          { question: ' Можно ли купить в рассрочку?' , answer: 'Конечно! Наверное...' },
          { question: 'Есть ли у вас свободные вакансии?' , answer: '...' }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .content {
    margin: 5rem 0 6.25rem 20%;
    
    ._caption {
      display: inline;
      line-height: 2.5rem;
      color: #4285f4;
      font-size: 1.4rem;
      cursor: pointer;
      
      &.-underline {
        border-bottom: dotted .25rem #4285f4;
      }
    }
    ._text {
      line-height: 1.875rem;
      margin: 1.25rem 10% 3.125rem 20%;
      color: #231f20;
      font-size: 1.25rem;
    }
    ._item {
      margin: 1.25rem 0;
      list-style-type: none;
    }
  }
</style>
