.cart-message {
  color: #4285f4;
  font-size: .875rem;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  align-items: center;
  border-bottom: solid 1px #4285f4;

  ._caption {
    display: inline-block;
    margin: 0;
    font-size: 1.25rem;

    &.-default {
      color: #4285f4;
    }
    &.-sub {
      color: #93b7d2;
    }
  }
  ._button {
    $h: 2rem;
    width: 7rem;
    height: $h;
    line-height: $h;
    font-size: 1rem;
    color: #fff;
  }
}
