//contains e-prefixed classes

//Label-groups

.e-input {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: .4375rem .625rem .4375rem;
  border-radius: .375rem;
  border: none;
  background-color: #a4c9e5;

  &.-default {
    box-shadow: inset 0 .125rem .625rem 0 rgba(144, 169, 188, 0.25);
    ._label {
      color: #fff;
    }
  }
  &.-shadowed {
    box-shadow: inset 0 .0625rem .625rem 0 #90a9bc;
    ._label {
      color: #4285f4;
    }
  }
  &.-error {
    border: solid 1px red;
  }
  ._label {
    display: block;
    font-size: .875rem;
  }
  ._input {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #231f20;
    font-size: inherit;
    resize: none;

    &:not(textarea) {
      font-size: 1.25rem;
    }
    &:focus {
      outline: none;
    }
  }
}

.e-radio {
  display: inline-block;

  ._input {
    display: none;

    &:checked + ._label {
      background-color: #0ab0ef;
      box-shadow: .0625rem .1rem 0 0 #4285f4;
    }
    &:not(checked) + ._label {
      background-color: #9bbad1;
      box-shadow: inset .09rem .1625rem .4375rem 0 rgba(0, 0, 0, .05),
                  .0625rem .1rem 0 0 #4285f4;
    }
  }
  ._label {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &.-left {
      margin-right: .625rem;
      padding: .625rem .625rem .3125rem;
      text-align: left;
    }
    ._caption {
      display: block;
      margin-bottom: .1875rem;
      color: #fff;
      font-size: .625rem;
      text-transform: uppercase;
      letter-spacing: .125rem;
    }
  }
}

.e-checkbox {
  display: inline-block;
  position: relative;

  ._input {
    display: none;
  }
  &.-flag {
    ._input {
      & + ._label:before {
        position: absolute;
        top: -.25rem;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.5rem;
        border-radius: .1875rem;
        box-shadow: inset 0 .3125rem .625rem 0 #90a9bc;
        background-color: #bad4e7;
        color: #231f20;
        font-size: 1.25rem;
        text-align: center;
      }
      &:checked + ._label:before {
        content: '✓';
      }
      &:not(checked) + ._label:before {
        content: '';
      }
    }
    ._label {
      vertical-align: middle;
      margin-left: 1.6875rem;
      color: #231f20;
      cursor: pointer;
    }
    &.-landing {
      &.-error {
        ._label:before {
          border-color: red;
        }
      }
      ._label {
        color: #505050;
        font-size: 1.05rem;
        font-family: $pt;

        &:before {
          top: 0;
          width: 1rem;
          height: 1rem;
          line-height: 1.25rem;
          border-radius: 0;
          border: solid 1px #505050;
          box-shadow: none;
          background-color: #fff;
          font-family: $pt;
        }
      }
    }
  }
  &.-color {
    ._input {
      &[disabled] + ._label {
        cursor: default;
      }
    }
    ._label {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.e-mul-checkbox {
  display: inline-block;

  &.-multiline {
    ._label {
      display: table;
    }
    ._label-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  ._input {
    display: none;

    &:checked + ._label {
      background-color: transparent;
    }
    &:not(checked) + ._label {
      background-color: #fff;
    }
  }
  ._label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    border: solid 1px #fff;
    font-size: 1rem;
    cursor: pointer;
  }
}

//Header

.e-section-header {
  border-bottom: solid 1px #4285f4;

  &.-default {
    display: flex;
    align-items: center;
    min-height: 4rem;
  }
  &.-breadcrumbs {
    display: block;
  }
  ._text {
    display: inline-block;
    margin: .8rem 0;
    color: #4285f4;
    font-size: 1.5rem;
    font-weight: bold;
  }
  ._addon {
    margin: 1rem auto 1rem auto;
    font-size: .875rem;
  }
  ._select {
    display: inline-block;
    min-width: 10rem;
    width: 10rem;
    height: 2.1rem;
    font-size: 1rem;

    .e-input {
      padding-top: 0;
      padding-bottom: 0;
      box-shadow: none;

      ._input {
        $height: 2rem;
        height: $height;
        line-height: $height;
        font-size: 1rem;
      }
    }
  }
  .e-radio {
    width: 9rem;
    height: 2rem;
    margin-right: .375rem;

    ._label {
      line-height: 2.15rem;
    }
  }
}

//Loader

.e-loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &.-default {
    width: 100%;
  }
  &.-full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .35);
  }
  ._loader {
    border-style: solid;
    border-color: transparent #0ab0ef transparent transparent;
    border-radius: 100%;
    animation: rotate .7s linear infinite;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

//Slider

.e-slider {
  position: relative;
  overflow: hidden;

  ._container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  ._arrow {
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    @include background('../assets/images/arrow-left');
    cursor: pointer;

    &.-left {
      left: 0;
      transform: translateY(-50%);
    }
    &.-right {
      right: 0;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

//Add

.e-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.-bordered {
    border-radius: .65rem;
    border: solid 1px #00aeef;
  }
  ._plus {
    border: none;
    border-radius: 100%;
    background-color: #fff;
    @include background('../assets/images/icon-add', 80% auto);
  }
  ._label {
    margin: .5rem 0 0;
    vertical-align: bottom;
    color: #231f20;
    font-size: 1rem;
  }
  ._input {
    display: none;
  }
}

//Container

.e-container {
  ._caption {
    margin: 1.875rem auto .625rem;
    color: #0ab0ef;
    font-size: 1.78rem;
  }
  ._field {
    margin-bottom: .625rem;
    font-size: 1.25rem;

    &.-s {
      width: 15%;
    }
    &.-m {
      width: 30%;
    }
    &.-l {
      width: 45%;
    }
    &.-xl {
      width: 80%;
    }
    &.-ms {
      width: 50%;
    }
  }
  ._main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    padding-bottom: 1.25rem;
  }
  ._gallery {
    width: 35%;
    margin: 1.875rem 0;
  }
  ._description {
    width: 55%;
    margin-right: 2%;
  }
  ._parameters,
  ._info {
    display: flex;
    justify-content: space-between;
  }
  ._parameters {
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
  }
}

//Container preview

.e-preview {
  position: relative;
  background-color: #fff;
  padding: .625rem 1.25rem .875rem;

  ._delete {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #00aeef;
    font-size: .75rem;
    text-decoration: underline;
    cursor: pointer;
  }
  ._text {
    margin: 0;

    &.-def {
      color: #231f20;
    }
    &.-sub {
      color: #aeaeae;
    }
    &.-stroke {
      color: #a4c9e5;
      text-decoration: line-through;
    }
    &.-xs {
      font-size: .75rem;
    }
    &.-s {
      font-size: .875rem;
    }
    &.-m {
      font-size: 1rem;
    }
    &.-l {
      font-size: 1.125rem;
    }
    &.-xl {
      font-size: 1.5rem;
    }
    &.-location {
      padding-left: .8rem;
      @include background('../assets/images/icon-pin', auto .8rem, left top);
    }
    &.-name {
      display: inline-block;
      border-bottom: solid 1px #c7c7c7;
    }
  }
}

//Other

.invisible {
  display: none;
}

.block {
  display: block;
}

.e-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #bad4e7;
  color: white;
  text-align: center;
}

.e-section {
  position: relative;
  padding-left: 1.5%;
  padding-right: 1.5%;

  &.-underlined {
    border-bottom: solid 1px #4285f4;
  }
}

.e-unauthorized {
  display: flex;
  justify-content: center;
  align-items: center;

  ._text  {
    color: #00aeef;
    font-size: 1.5rem;
  }
}

.e-button {
  display: inline-block;
  vertical-align: middle;
  border-radius: .375rem;
  border: none;
  background-color: #00aeef;
  color: #2c2a29;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &.-shadowed {
    box-shadow: 0 .125rem 0 0 #4285f4;
  }
  &:focus {
    outline: 0;
  }
}

.e-link {
  $height: 2.5rem;
  white-space: nowrap;

  &.-bordered {
    height: $height;
    line-height: $height;
    border-radius: 1.25rem;
    border: solid 1px #00aeef;
    font-size: 1rem;
    text-decoration: none;
  }
  &.-star {
    padding-left: 3rem;
    padding-right: 1.2rem;
    @include background('../assets/images/star', auto 60%, 10% center);
    color: #231f20;
  }
}

button:focus {
  outline: none;
}
