<template>
  <div class="bonus-panel">
    <manager-information class="self"
                         v-if="isSelf"
                         manager="self"></manager-information>
    <transition-group class="list"
                      :class="!isSelf ? '-full' : '-thin'"
                      name="fade"
                      tag="div">
      <div class="_element -bonus"
           :class="{ '-self': isSelf }"
           :key="b.pk"
           v-for="(b, i) in bonuses"
           @click="showModal('bonus', { id: b.pk, index: i })">
        <p class="description">{{ b.description }}</p>
        <p class="terms" v-if="b.activate_sum">
          Скидка
          <span class="_value">{{ formatPrice(b.discount) }}&nbsp;{{ getSymbol(b.type) }}</span>
          при покупке от
          <span class="_value">{{ formatPrice(b.activate_sum) }}&nbsp;₽</span>
        </p>
        <p class="terms" v-else>
          Условие:
          <span class="_value">{{ b.if_condition }}</span>
        </p>
        <div class="manager">
          <div class="image-container">
            <img class="e-image" :src="root + owner.photo" alt="Фото"/>
          </div>
          <div>
            <p class="name">{{ owner.name }}</p>
            <p class="position" v-if="isSelf">менеджер</p>
          </div>
        </div>
        <button class="_delete"
                v-if="isSelf"
                @click.stop="deleteBonus(b.pk)">Удалить</button>
      </div>
      <div class="_element -bonus e-add"
           key="add"
           v-if="isSelf"
           @click="showModal('bonus', 'add')">
        <div class="_plus"></div>
        <p class="_label">Добавить бонус</p>
      </div>
      <div class="_element -empty" v-for="n in emptyElementCount" :key="'empty' + n"></div>
    </transition-group>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { root } from '@/config';
  const ManagerInformation = () => import("./ManagerInformation");

  export default {
    name: 'BonusPanel',
    data () {
      return {
        root: root
      }
    },
    computed: {
      emptyElementCount () {
        let isDesktop = window.innerWidth >= 1024 && window.innerWidth / window.innerHeight < 18/9;
        let num = this.manager ? (isDesktop ? 5 : 4) : (isDesktop && this.isSelf ? 4 : 3);
        let shift = this.isSelf ? 1 : 0;
        if ((this.bonuses.length + shift) % num === 0) { return 0; }
        return num - (this.bonuses.length + shift) % num;
      },
      owner () {
        let p = this.manager || this.bonusArray ? this.bonuses[0].manager : this.person;
        p.name = p.first_name + ' ' + p.last_name;
        return p;
      },
      bonuses () {
        return this.bonusArray ? this.bonusArray : this.bonusList;
      },
      isSelf () {
        return !this.manager && !this.bonusArray;
      },
      ...mapState('auth', [ 'person' ]),
      ...mapState('bonus', {
        bonusList: (state) => state.bonuses
      })
    },
    props: [ 'manager', 'bonusArray' ],
    components: { ManagerInformation },
    watch: {
      manager () {
        this.$store.dispatch('bonus/getBonuses', this.manager);
      }
    },
    methods: {
      showModal (type, params) {
        if (this.isSelf) {
          this.$store.dispatch('modal/show', { type, params });
        }
      },
      deleteBonus (id) {
        this.$store.dispatch('bonus/deleteBonus', id);
      },
      getSymbol (type) {
        return type === 'total' ? '₽' : '%';
      },
      formatPrice (value) {
        if (isNaN(value)) { return ''; }
        return (new Intl.NumberFormat("ru")).format(value);
      },
    },
    mounted () {
      if (!this.bonusArray) {
        this.$store.dispatch('bonus/getBonuses', this.manager);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .e-add {
    ._plus {
      $s: 2.5rem;
      width: $s;
      height: $s;
    }
  }
  .e-image {
    @include object-fit(cover);
  }
  .bonus-panel {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
  .self {
    width: 25%;
    padding-right: 1%;
  }
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.-thin {
      width: 75%;

      ._element {
        width: 32%;
      }
    }
    &.-full {
      width: 100%;

      ._element {
        width: 24%;
      }
      .image-container {
        border-radius: 100%;
      }
    }
    ._element {
      display: flex;
      flex-direction: column;

      &.-bonus {
        position: relative;
        min-height: 10rem;
        padding: .8rem;
        border-radius: .65rem;
        border: solid 1px #00aeef;
        min-width: 300px;

        ._delete {
          position: absolute;
          top: .5rem;
          right: 0;
          border: none;
          background-color: transparent;
          color: #00aeef;
          font-size: .75rem;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &.-self {
        padding-top: 1.5rem;
      }
      &.-empty {
        height: 0;
      }
    }
  }
  .description {
    flex-grow: 1;
    margin: .3rem 0 0;
    font-size: 1rem;
  }
  .terms {
    margin: .5rem 0 1rem;
    font-size: .9rem;

    ._value {
      color: #00aeef;
      text-decoration: underline;
    }
  }
  .manager {
    display: flex;
    align-items: center;
  }
  .image-container {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: .5rem;
  }
  .name {
    margin: 0 0 .2rem;
    font-size: .875rem;
  }
  .position {
    margin: 0;
    font-size: .7rem;
  }
</style>
