<template>
  <div class="manager-information">
    <div>
      <div class="avatar">
        <img class="e-image" :src="root + person.photo" alt="Фото"/>
      </div>
      <label class="loader" v-if="manager === 'self'">
        <input id="add-image" type="file" v-show="false" @change="loadImage"/>
        <span class="_text -ref -default -md">Загрузить фото</span>
      </label>
    </div>
    <div @click="showModalIfSelf">
      <p class="_text -ref -default -lg" v-show="isPersonEmpty">Добавить данные менеджера</p>
      <p class="_text -ref -default -lg">
        {{ person.first_name + ' ' + person.last_name }}</p>
      <p class="_text -default -md"
         :class="this.manager === 'self' ? '-ref' : '-p'"
         v-if="person.company">Компания «{{ person.company.name }}»</p>
      <p class="_text -phone -lg"
         :class="this.manager === 'self' ? '-ref' : '-p'">{{ person.phone }}</p>
      <p class="_text -ref -default -md -break">{{ person.contact_email }}</p>
      <p class="_text -ref -default -md -break">{{ person.city }}</p>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { root } from '@/config';
  
  export default {
    name: 'ManagerInformation',
    data () {
      return {
        root: root
      }
    },
    computed: {
      person () {
        if (this.manager === 'self') {
          return this.$store.state.auth.person;
        } else {
          return this.$store.state.container.container.manager;
        }
      },
      editable () {
        return this.$route.name === 'manager';
      },
      ...mapGetters('auth', [ 'isPersonEmpty' ])
    },
    props: [ 'manager' ],
    methods: {
      showModalIfSelf (type) {
        if (this.manager === 'self') {
          this.$store.dispatch('modal/show', { type: 'manager' })
        }
      },
      loadImage (e) {
        let image = document.getElementById('add-image').files[0];
        let formData = new FormData();
        formData.append('photo', image);
        this.updatePersonalData(formData);
      },
      ...mapActions('auth', [ 'updatePersonalData' ])
    }
  }
</script>

<style lang="scss" scoped>
  .manager-information {
    display: flex;
    
    ._text {
      &.-p {
        color: #2c2a29;
      }
      &.-ref {
        color: #3ebbf1;
        text-decoration: underline;
        cursor: pointer;
      }
      &.-default {
        margin: 0 .2rem .2rem 0;
      }
      &.-phone {
        margin: 1rem .2rem .2rem 0;
      }
      &.-center {
        text-align: center;
      }
      &.-md {
        font-size: 1.05rem;
      }
      &.-lg {
        font-size: 1.125rem;
      }
      &.-break {
        word-break: break-all;
      }
    }
    $side-length: 6rem;
    .avatar {
      width: $side-length;
      min-width: $side-length;
      height: $side-length;
      margin: 0 1rem 1rem 0;
      
      .e-image {
        line-height: $side-length;
        @include object-fit(contain);
      }
    }
    .loader {
      display: block;
      text-align: center;
      width: $side-length;
    }
  }
</style>
