<template>
  <div class="e-unauthorized" v-if="!isAuthorized">
    <p class="_text">
      Для доступа к запрашиваемой странице необходима авторизация</p>
  </div>
  <div v-else-if="isFilterListLoaded">
    <filter-panel header="Карточка клиент-менеджера"></filter-panel>
    <div class="e-section">
      <bonus-panel></bonus-panel>
      <container-list class="container-list" parent="self"></container-list>
    </div>
  </div>
  <div class="e-loader -default" v-else>
    <div class="_loader"></div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  const FilterPanel = () => import("../Catalog/Filters/FilterPanel");
  const ContainerList = () => import("../Container/ContainerList");
  const BonusPanel = () => import("./BonusPanel");
  
  export default {
    name: 'ManagerCard',
    computed: {
      ...mapState('filter', [ 'isFilterListLoaded' ]),
      ...mapGetters('auth', [ 'isAuthorized' ])
    },
    components: {
      BonusPanel,
      ContainerList,
      FilterPanel
    },
  }
</script>

<style lang="scss" scoped>
  .e-loader {
    height: 30rem;
    
    ._loader {
      width: 7rem;
      height: 7rem;
      border-width: .6rem;
    }
  }
  .container-list {
    width: 75%;
    margin-left: 25%;
  }
</style>
