<template>
  <form @submit.prevent="save">
    <p class="modal-message" v-if="params.result === 'success'">
      Спасибо! Ваша ставка была принята.</p>
    <div v-else>
      <label class="e-input -default"
              :class="{ '-error': $v.p.phone.$error }">
        <span class="_label">Номер телефона</span>
        <the-mask class="_input"
                  type="tel"
                  required
                  mask="+7 (###) ###-##-##"
                  :masked="true"
                  ref="firstInput"
                  v-model.trim="p.phone"
                  @keydown="firstInputOnKeyDown($event, $refs)"
                  @input="$v.p.phone.$touch()"></the-mask>
      </label>
      <label class="e-input -default"
              :class="{ '-error': $v.p.email.$error }">
        <span class="_label">Почта</span>
        <input class="_input" type="email" v-model.trim="p.email" @input="$v.p.email.$touch()"/>
      </label>
      <label class="e-input -shadowed"
             :class="{ '-error': $v.p.city.$error }">
        <span class="_label">Город</span>
        <input class="_input"
               type="text"
               v-model.trim="p.city"
               @input="$v.p.city.$touch()"/>
      </label>
      <label class="e-input -shadowed _field -l"
              :class="{ '-error': $v.item.total_cost.$error }">
        <span class="_label">Сумма ставки</span>
        <money class="_input"
               type="tel"
               maxlength="9"
               v-model="item.total_cost"
               v-bind="currency(' ₽', 0, ' ')"
               @input="$v.item.total_cost.$touch()"></money>
      </label>
      <button class="e-button"
              type="submit"
              ref="lastInput"
              @keydown="lastInputOnKeyDown($event, $refs)">Сохранить</button>
    </div>
  </form>
</template>

<script>
  import { mapState, mapActions } from  'vuex';
  import { TheMask } from 'vue-the-mask';
  import { Money } from 'v-money';
  import { validationMixin } from 'vuelidate';
  import { required, email } from 'vuelidate/lib/validators';

  export default {
    name: 'BetModal',
    data () {
      return {
        p: {
          phone: '',
          email: '',
          city: ''
        },
        item: {
          total_cost: 0,
          container: 0,
          action: 'auction'
        }
      }
    },
    props: [ 'firstInputOnKeyDown', 'lastInputOnKeyDown' ],
    components: {
      TheMask,
      Money
    },
    computed: {
      ...mapState('auth', [ 'person' ]),
      ...mapState('modal', [ 'params' ])
    },
    mixins: [ validationMixin ],
    validations: {
      p: {
        phone: { required },
        email: { required, email },
        city: { required }
      },
      item: {
        total_cost: { required }
      }
    },
    methods: {
      ...mapActions('modal', [ 'hide' ]),
      currency (suffix = '', precision = 0, thousands = '') {
        return {
          precision,
          suffix,
          thousands,
          masked: false
        }
      },
      save() {
        var data = {properties: this.p, item: this.item};
        this.$store.dispatch('container/createAuctionBet', data);
      }
    },
    created () {
      this.item.total_cost = this.$store.state.modal.params.betAmount;
      this.p.phone = this.person.phone;
      this.p.email = this.person.contact_email;
      this.p.city = this.person.city;
      this.item.container = this.$store.state.modal.params.container;
    },
    mounted () {
      this.$refs.firstInput.focus();
    }
  }
</script>

<style lang="scss" scoped>
</style>
