<template>
  <form class="bonus-modal" @submit.prevent="addOrUpdateBonus">
    <label class="e-input -default" v-show="bonusType.name !== 'text'">
      <span class="_label">Сумма, оплаченная клиентом</span>
      <money class="_input"
             type="tel"
             maxlength="11"
             ref="firstInput"
             v-model="sum"
             v-bind="currency(' ₽')"
             @keydown.native="firstInputOnKeyDown($event, $refs)"></money>
    </label>
    <div class="line">
      <label class="bonus e-input -default">
        <span class="_label" v-if="bonusType.name === 'text'">Если</span>
        <span class="_label" v-else>Бонус клиента</span>
        <money class="_input"
               type="tel"
               maxlength="9"
               v-show="bonusType.name === 'total'"
               v-model="bonus"
               v-bind="currency('')"></money>
        <money class="_input"
               type="tel"
               maxlength="2"
               v-show="bonusType.name === 'percent'"
               v-model="bonus"
               v-bind="currency('')"></money>
        <input class="_input"
               type="text"
               maxlength="255"
               v-show="bonusType.name === 'text'"
               v-model="if_condition"/>
      </label>
      <m-select class="type"
                input-label="Тип бонуса"
                options-label="symbol"
                input-class="-default"
                :enable-search="false"
                :options="types"
                v-model="bonusType"
                @input="bonus = ''"></m-select>
    </div>
    <label class="e-input -default">
      <span class="_label" v-if="bonusType.name === 'text'">То</span>
      <span class="_label" v-else>Сопроводительный текст</span>
      <textarea class="area _input"
                required
                maxlength="85"
                v-model="text"></textarea>
    </label>
    <label class="e-checkbox -flag">
      <input class="_input"
             type="checkbox"
             name="isUnExpiration"
             v-model="isUnExpiration"/>
      <span class="_label">Безлимитное действие</span>
    </label>
    <label class="bonus e-input -default" v-show="!isUnExpiration">
        <span class="_label">Дата окончания</span>
        <the-mask class="_input"
                type="tel"
                mask="##/##/####"
                :masked="true"
                v-model="expirationDate"
                placeholder="ДД/ММ/ГГГГ"
                :required=!isUnExpiration
                ></the-mask>
      </label>
    <button class="e-button"
            type="submit"
            ref="lastInput"
            @keydown="lastInputOnKeyDown($event, $refs)">
      {{ params === 'add' ? 'Добавить' : 'Изменить' }}
    </button>
    <button class="e-button"
            v-if="this.params.id"
            type="button"
            @click.stop="deleteBonus(params.id)">
      Удалить
    </button>
  </form>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { Money } from 'v-money'
  import { TheMask } from 'vue-the-mask';
  const MSelect = () => import("../Elements/MSelect");

  export default {
    name: 'BonusModal',
    data () {
      return {
        sum: 0,
        bonus: 0,
        if_condition: '',
        bonusType: { name: 'total', symbol: '₽' },
        expirationDate: '',
        isUnExpiration: false,
        text: '',
        types: [
          { name: 'total', symbol: '₽' },
          { name: 'percent', symbol: '%' },
          { name: 'text', symbol: 'Текст' }
        ],
      }
    },
    computed: {
      ...mapState('modal', [ 'params' ]),
      ...mapState('bonus', [ 'bonuses' ])
    },
    props: [ 'firstInputOnKeyDown', 'lastInputOnKeyDown' ],
    components: {
      MSelect,
      Money,
      TheMask
    },
    methods: {
      currency (suffix) {
        return {
          precision: 0,
          thousands: ' ',
          suffix,
          masked: false
        }
      },
      addOrUpdateBonus () {
        let bonus = {
          name: 'bonus',
          activate_sum: this.sum,
          discount: this.bonus,
          type: this.bonusType.name,
          description: this.text,
          expiration_date: this.expirationDate,
          if_condition: null,
        };
        if (bonus.type == 'text') {
          bonus.activate_sum = 0;
          bonus.discount = null;
          bonus.if_condition = this.if_condition;
        }
        if (this.isUnExpiration) {
          bonus.expiration_date = null;
        }
        if (this.params === 'add') {
          this.addBonus(bonus);
        } else {
          this.updateBonus({ id: this.params.id, bonus });
        }
        this.hide();
      },
      deleteBonus (id) {
        var ok = confirm("Вы уверены, что хотите удалить бонус?");
        if (ok) {
          this.$store.dispatch('bonus/deleteBonus', id);
          this.hide();
        }
      },
      ...mapActions('bonus', [ 'addBonus', 'updateBonus' ]),
      ...mapActions('modal', [ 'hide' ])
    },
    mounted () {
      if (this.params !== 'add') {
        let b = this.bonuses[this.params.index];
        this.sum = b.activate_sum;
        this.bonus = b.discount || 0;
        this.if_condition = b.if_condition,
        this.bonusType = b.type === 'total' ? this.types[0] : (b.type === 'percent' ? this.types[1] : this.types[2]);
        this.text = b.description;
        this.expirationDate = b.expiration_date;
        this.isUnExpiration = b.expiration_date === null;
      }
      this.$refs.firstInput.$el.focus();
    },
    watch: {
      expirationDate() {
        if (this.expirationDate !== undefined) {
          var parts = this.expirationDate.split('/');
          if (parts.length > 0 && parts[0] > 31) {
            parts[0] = 31;
          }
          if (parts.length > 1 && parts[1] > 12) {
            parts[1] = 12;
          }
          if (parts.length > 0 && parts[2] > 2058) {
            parts[2] = 2058;
          }
          this.expirationDate = parts.join('/');
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }
  .bonus {
    width: 66%;
  }
  .type {
    width: 32%;
    font-size: 1.25rem;
  }
  .area {
    font-size: 1.25rem;
    height: 7rem;
  }
  .e-checkbox {
    display: block;
    margin-bottom: .5rem;
    font-size: 1rem;
  }
</style>
