<template>
  <div>
    <p class="modal-message">
      Пожалуйста, выберите контейнеры для оформления заказа!</p>
    <div class="line">
      <button class="e-button" @click="goToCatalog">Перейти в каталог</button>
    </div>
  </div>
</template>

<script>
  import { mapMutations, mapActions } from  'vuex';
  
  export default {
    name: 'CartCheckModal',
    methods: {
      goToCatalog() {
        this.hide();
        this.$router.push({ name: 'catalog' });
      },
      ...mapMutations('modal', [ 'setOnHideFunction' ]),
      ...mapActions('modal', [ 'hide' ])
    },
    mounted () {
      this.setOnHideFunction(() => {
        this.$router.push({ name: 'cart-check' });
      });
    }
  }
</script>

<style lang="scss" scoped>
  .line {
    display: flex;
    justify-content: center;
  }
</style>
