<template>
  <form @submit.prevent="save">
    <label class="e-input -default">
      <span class="_label">Текущий пароль</span>
      <input class="_input"
             type="password"
             ref="firstInput"
             v-model="p.old_password"
             @keydown="firstInputOnKeyDown($event, $refs)"/>
    </label>
    <label class="e-input -default">
      <span class="_label">Новый пароль</span>
      <input class="_input"
             type="password"
             v-model="p.new_password"/>
    </label>
    <button class="e-button"
            type="submit"
            ref="lastInput"
            @keydown="lastInputOnKeyDown($event, $refs)">Сохранить</button>
  </form>
</template>

<script>
  import { mapState } from 'vuex';
  
  export default {
    name: 'ChangePasswordModal',
    data () {
      return {
        p: {
          old_password: '',
          new_password: ''
        }
      }
    },
    computed: {
      ...mapState('modal', [ 'params' ])
    },
    props: [ 'firstInputOnKeyDown', 'lastInputOnKeyDown' ],
    methods: {
      save () {
        this.$store.dispatch('auth/updatePersonalPassword', {
          old_password: this.p.old_password,
          new_password: this.p.new_password
        });
      }
    },
    mounted () {
      this.$refs.firstInput.focus();
    }
  }
</script>
