<template>
  <div>
    <p class="modal-message">Вы уверены, что хотите удалить фото?</p>
    <div class="line">
      <button class="e-button" @click="deleteCurrentImage">Да</button>
      <button class="e-button" @click="hide">Нет</button>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  
  export default {
    name: 'DeleteImageModal',
    data () {
      return {
        processing: false
      }
    },
    computed: {
      id () {
        return this.$store.state.modal.params.id
      }
    },
    methods: {
      deleteCurrentImage () {
        if (this.processing) return;
        this.processing = true;
        this.deleteImage(this.id).then(() => {
          this.hide();
        });
      },
      ...mapActions('modal', [ 'hide' ]),
      ...mapActions('container', [ 'deleteImage' ])
    }
  }
</script>

<style lang="scss" scoped>
  .line {
    display: flex;
    justify-content: space-between;
  }
</style>