<template>
  <form @submit.prevent="send">
    <div v-if="isQuestion">
      <p class="caption">Есть вопрос?</p>
      <p class="text">
        Заполните форму, чтобы получить консультацию менеджера</p>
    </div>
    <div v-else>
      <p class="caption">Заполните форму,</p>
      <p class="text">чтобы заказать обратный звонок</p>
    </div>
    <input class="input"
           :class="{ '-error': $v.f.name.$error }"
           type="text"
           placeholder="Имя"
           ref="firstInput"
           v-model="f.name"
           @input="$v.f.name.$touch()"
           @keydown="firstInputOnKeyDown($event, $refs)"/>
    <the-mask class="input"
              :class="{ '-error': $v.f.phone.$error }"
              type="tel"
              placeholder="Телефон"
              mask="+7 (###) ###-##-##"
              :masked="true"
              v-model="f.phone"
              @input="$v.f.phone.$touch()"></the-mask>
    <textarea class="input -area"
              :class="{ '-error': $v.f.description.$error }"
              placeholder="Какой у вас вопрос?"
              v-if="params.type === 'question'"
              v-model="f.description"
              @input="$v.f.description.$touch()"></textarea>
    <button class="button" type="submit">Заказать звонок</button>
    <label class="e-checkbox -flag -landing"
           :class="{ '-error': $v.f.agreed.$error }"
           tabindex="0"
           ref="lastInput"
           @keydown.enter="f.agreed = !f.agreed"
           @keydown="lastInputOnKeyDown($event, $refs)">
      <input class="_input"
             type="checkbox"
             v-model="f.agreed"
             @input="$v.f.agreed.$touch()"/>
      <span class="_label">Даю согласие на обработку персональных данных</span>
    </label>
  </form>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { TheMask } from 'vue-the-mask';
  import { validationMixin } from 'vuelidate';
  import { required, requiredIf } from 'vuelidate/lib/validators';
  
  export default {
    name: 'LandingModal',
    data () {
      return {
        f: {
          name: '',
          phone: '',
          description: '',
          agreed: false
        }
      }
    },
    computed: {
      data () {
        let data = { name: this.f.name, phone: this.f.phone };
        if (this.isQuestion) {
          data.description = this.f.description;
        }
        return data;
      },
      isQuestion () {
        return this.params.type === 'question';
      },
      ...mapState('modal', [ 'params' ])
    },
    props: [ 'firstInputOnKeyDown', 'lastInputOnKeyDown' ],
    components: { TheMask },
    mixins: [ validationMixin ],
    validations: {
      f: {
        name: { required },
        phone: { required },
        description: { required: requiredIf(function () {
          return this.isQuestion;
        }) },
        agreed: { required }
      }
    },
    methods: {
      send () {
        if (this.$v.f.$invalid) {
          this.$v.f.$touch();
          return;
        }
        this.sendRequest(this.data).then(() => {
          this.hide();
        });
      },
      ...mapActions('modal', [ 'hide' ]),
      ...mapActions('landing', [ 'sendRequest' ])
    },
    mounted () {
      this.$refs.firstInput.focus();
    }
  }
</script>

<style lang="scss" scoped>
  .caption {
    margin: 1rem 0 .5rem;
    font-size: 2.25rem;
    font-family: $exo;
    font-weight: 700;
    text-align: center;
    color: #363636;
  }
  .text {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-family: $pt;
    text-align: center;
    color: #363636;
  }
  .button {
    display: block;
    width: 15rem;
    height: 3.75rem;
    margin: 2rem auto;
    border-radius: .3125rem;
    border: none;
    background-color: #ffcb05;
    font-size: 1.5rem;
    font-family: $pt;
    cursor: pointer;
  }
  .input {
    $h: 2.7rem;
    display: inline-block;
    width: 100%;
    height: $h;
    line-height: $h;
    margin: .5rem 0;
    padding: 0 1rem;
    border: solid 1px #505050;
    background-color: transparent;
    color: #505050;
    font-size: 1.25rem;
    font-family: $pt;
    resize: none;
    
    &.-error {
      border-color: red;
    }
    &.-area {
      height: 10rem;
    }
  }
</style>
