<template>
  <form autocomplete="on" @submit.prevent="loginAndGo({ username, password, remember })">
    <label class="e-input -default">
      <span class="_label">Имя пользователя</span>
      <input class="_input"
             id="name-input"
             type="email"
             placeholder="abc@mail.com"
             name="email"
             autocomplete="email home"
             required
             ref="firstInput"
             v-model="username"
             @keydown="firstInputOnKeyDown($event, $refs)"/>
    </label>
    <label class="e-input -default">
      <span class="_label">Пароль</span>
      <input class="_input"
             type="password"
             placeholder="********"
             required
             v-model="password"/>
    </label>
    <label class="e-checkbox -flag">
      <input class="_input"
             type="checkbox"
             name="remember"
             v-model="remember"/>
      <span class="_label">Запомнить меня</span>
    </label>
    <button class="e-button"
            type="submit"
            ref="lastInput"
            @keydown="lastInputOnKeyDown($event, $refs)">Войти</button>
  </form>
</template>

<script>
  import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
  
  export default {
    name: 'LoginModal',
    data () {
      return {
        username: '',
        password: '',
        remember: true
      }
    },
    computed: {
      ...mapState('modal', [ 'params' ]),
      ...mapState('auth', [ 'nextRoute', 'person' ]),
      ...mapGetters('auth', [ 'isAuthorized' ])
    },
    props: [ 'firstInputOnKeyDown', 'lastInputOnKeyDown' ],
    methods: {
      loginAndGo (params) {
        this.login(params).then(() => {
          this.go();
        });
      },
      go () {
        if (this.person.id) {
          if (this.isAuthorized && this.nextRoute) {
            this.$router.push(this.nextRoute);
            this.setNextRoute(null);
          }
        } else {
          setTimeout(this.go, 50);
        }
      },
      ...mapActions('auth', [ 'login' ]),
      ...mapMutations('auth', [ 'setNextRoute' ])
    },
    mounted () {
      if (this.params.email !== undefined ) {
        this.username = this.params.email;
      }
      this.$refs.firstInput.focus();
    }
  }
</script>

<style lang="scss" scoped>
  .e-checkbox {
    display: block;
    margin: 1rem 0;
    
    ._label {
      color: #fff;
    }
  }
</style>
