<template>
  <form @submit.prevent="save">
    <label class="e-input -default">
      <span class="_label">Имя</span>
      <input class="_input"
             type="text"
             ref="firstInput"
             v-model="p.fullName"
             @keydown="firstInputOnKeyDown($event, $refs)"/>
    </label>
    <label class="e-input -default">
      <span class="_label">Номер телефона</span>
      <the-mask class="_input"
                type="tel"
                required
                mask="+7 (###) ###-##-##"
                :masked="true"
                v-model="p.phone"></the-mask>
    </label>
    <label class="e-input -default">
      <span class="_label">Город</span>
      <input class="_input"
             type="text"
             v-model="p.city"/>
    </label>
    <label class="e-input -default">
      <span class="_label">Почта</span>
      <input class="_input" type="text" v-model="p.email"/>
    </label>
    <button class="e-button"
            type="submit"
            ref="lastInput"
            @keydown="lastInputOnKeyDown($event, $refs)">Сохранить</button>
  </form>
</template>

<script>
  import { mapState } from 'vuex';
  import { TheMask } from 'vue-the-mask';
  
  export default {
    name: 'ManagerModal',
    data () {
      return {
        p: {
          fullName: '',
          phone: '',
          email: ''
        }
      }
    },
    computed: {
      ...mapState('modal', [ 'params' ]),
      ...mapState('auth', [ 'person' ])
    },
    props: [ 'firstInputOnKeyDown', 'lastInputOnKeyDown' ],
    components: { TheMask },
    methods: {
      save () {
        let space = this.p.fullName.indexOf(' ');
        this.$store.dispatch('auth/updatePersonalData', {
          first_name: this.p.fullName.substr(0, space),
          last_name: this.p.fullName.substr(space + 1),
          phone: this.p.phone,
          city: this.p.city,
          contact_email: this.p.email
        });
      }
    },
    mounted () {
      let p = this.person;
      this.p = {
        fullName: p.first_name + ' ' + p.last_name,
        phone: p.phone,
        city: p.city,
        email: p.contact_email
      };
      this.$refs.firstInput.focus();
    }
  }
</script>
