<template>
  <transition name="fade">
    <div class="modal" v-show="isVisible" @click.self="hide">
      <div class="modal-window" :class="type">
        <button class="modal-button" @click="hide">
          {{ type === 'landing'  ? '✕' : 'Закрыть' }}
        </button>
        <transition name="fade" mode="out-in">
          <component class="modal-content"
                     v-if="isVisible"
                     :is="type"
                     :firstInputOnKeyDown="firstInputOnKeyDown"
                     :lastInputOnKeyDown="lastInputOnKeyDown"></component>
        </transition>
      </div>
    </div>
  </transition>
</template>


<script>
  import { mapState, mapActions } from 'vuex';
  const BonusModal = () => import("./BonusModal");
  const ManagerModal = () => import("./ManagerModal");
  const UserModal = () => import("./UserModal");
  const LoginModal = () => import("./LoginModal");
  const DeleteImageModal = () => import("./DeleteImageModal");
  const StatementModal = () => import("./StatementModal");
  const PayModal = () => import("./PayModal");
  const CartCheckModal = () => import("./CartCheckModal");
  const LandingModal = () => import("./LandingModal");
  const ChangePasswordModal = () => import("./ChangePasswordModal");
  const PayVIPModal = () => import("./PayVIPModal");
  const BetModal = () => import("./BetModal");

  export default {
    name: 'Modal',
    computed: mapState('modal', [
      'isVisible',
      'type'
    ]),
    components: {
      check: CartCheckModal,
      pay: PayModal,
      statement: StatementModal,
      'delete-image': DeleteImageModal,
      login: LoginModal,
      manager: ManagerModal,
      user: UserModal,
      bonus: BonusModal,
      landing: LandingModal,
      'change-password': ChangePasswordModal,
      'pay-vip': PayVIPModal,
      bet: BetModal
    },
    methods: {
      keyDownHandler (event) {
        if (this.isVisible) {
          if (event.keyCode === 27) {
            this.hide();
            event.preventDefault();
          }
        }
      },
      firstInputOnKeyDown (e, refs) {
        let lastInput = refs.lastInput.$el ? refs.lastInput.$el : refs.lastInput;
        if (e.keyCode === 9 && e.shiftKey) {
          e.preventDefault();
          lastInput.focus();
        }
      },
      lastInputOnKeyDown (e, refs) {
        let firstInput = refs.firstInput.$el ? refs.firstInput.$el : refs.firstInput;
        if (e.keyCode === 9 && !e.shiftKey) {
          e.preventDefault();
          firstInput.focus();
        }
      },
      ...mapActions('modal', [ 'hide' ])
    },
    mounted: function () {
      document.addEventListener('keydown', this.keyDownHandler);
    },
    destroyed: function () {
      document.removeEventListener('keydown', this.keyDownHandler);
    }
  }
</script>

<style lang="scss">
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    overflow: auto;
    background-color: rgba(0, 0, 0, .45);
  
    .modal-window {
      position: relative;
      max-height: 100vh;
      padding: 4rem 1.5rem 2rem;
      border-radius: .5625rem;
      background-color: #4285f4;
      overflow-y: auto;
      
      &.landing {
        width: 27rem;
        padding: 3rem 3rem 3rem;
        border-radius: .3rem;
        border: solid 1px #e1e1e1;
        box-shadow: 2.3px 3.3px 10px 0 rgba(43, 43, 42, 0.6);
        background-color: #fff;
        
        .modal-button {
          color: #505050;
          text-decoration: none;
          font-size: 2rem;
        }
      }
      &.bonus {
        width: 25rem;
      }
      &.login,
      &.manager,
      &.user,
      &.change-password,
      &.pay-vip,
      &.bet {
        width: 20rem;
      }
      &.statement {
        width: 35rem;
      }
      &.pay,
      &.check,
      &.delete-image {
        width: 25rem;
      }
      .e-input:not(.-select):not(.bonus) {
        margin-bottom: .5rem;
      }
      .e-button {
        $h: 1.85rem;
        min-width: 10rem;
        height: $h;
        line-height: $h;
        margin-top: .5rem;
        font-size: 1rem;
      }
      .modal-button {
        position: absolute;
        border: none;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        color: #fff;
        font-size: .875rem;
        text-decoration: underline;
        text-align: right;
        cursor: pointer;
      }
      .modal-message {
        color: #231f20;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
</style>
