<template>
  <div>
    <p class="modal-message" v-if="params.result === 'success'">
      Необходимые документы были высланы, вам на почту.</p>
    <div v-else>
      <p class="modal-message">К сожалению, данные контейнеры были выкуплены:</p>
      <router-link class="link"
                   target="_blank"
                   :to="{ name: 'container-sale', params: { id: c.id } }"
                   :key="c.id"
                   v-for="c in params.data">
        {{ c.name }}
      </router-link>
      <p class="modal-message">Пожалуйста, повторите заказ.</p>
    </div>
    <div class="line">
      <button class="e-button" @click="hide">ОК</button>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from  'vuex';
  
  export default {
    name: 'PayModal',
    computed: mapState('modal', [ 'params' ]),
    methods: {
      ...mapMutations('modal', [ 'setOnHideFunction' ]),
      ...mapActions('modal', [ 'hide' ]),
      ...mapActions('cart', [
        'createOrder',
        'addOrRemoveContainers'
      ])
    },
    mounted () {
      this.setOnHideFunction(() => {
        if (this.params.result === 'success') {
          this.createOrder();
          this.$router.push('/');
        } else {
          let remove = [];
          for (let i = 0; i < this.params.data.length; i++) {
            remove.push({ container: this.params.data[i].id, action: 'sale' });
          }
          this.addOrRemoveContainers({ remove });
          this.$router.push({ name: 'cart-check' });
        }
      });
    }
  }
</script>

<style lang="scss" scoped>
  .link {
    display: block;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
  }
  .line {
    display: flex;
    justify-content: center;
  }
</style>
