<template>
  <form @submit.prevent="save">
    <div>
        <p class="modal-message">Стоимость подписки на оптовые предложения со скидкой - 5000р.</p>
        <button class="e-button" type="submit">Отправить заявку</button>
    </div>
  </form>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'PayVIPModal',
    data () {
      return {
      }
    },
    computed: {
      ...mapState('modal', [ 'params' ])
    },
    methods: {
      save () {
        this.$store.dispatch('auth/payVIP');
      }
    }
  }
</script>

<style lang="scss" scoped>
    form {
        text-align: center;
    }
    .e-button {
        min-height: 36px;
    }
</style>