<template>
  <div>
    <div v-if="$route.name === 'container-sale'">
      <div class="statement">
        <img class="e-image"
             :src="root + '/' + statement"
             alt="Акт Технического Состояния"/>
      </div>
    </div>
    <div v-else>
      <label class="statement e-add -bordered" v-if="!statement">
        <input class="_input"
               type="file"
               id="add-statement"
               @change="loadStatement('add-statement')"/>
        <span class="_plus"></span>
        <span class="_label">Добавить акт ТС</span>
      </label>
      <div v-else>
        <div class="statement">
          <img class="e-image"
               :src="root + '/' + statement"
               alt="Акт Технического Состояния"/>
        </div>
        <div class="line">
          <label class="e-button">
            <input type="file"
                   id="change-statement"
                   v-show="false"
                   @change="loadStatement('change-statement')"/>
            <span>Изменить</span>
          </label>
          <label class="e-button" @click="removeStatement">Удалить</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex';
  import { root } from '@/config';
  
  export default {
    name: 'StatementModal',
    data () {
      return {
        root: root,
        watcher: null,
        statement: null
      }
    },
    computed: mapState('container', {
      container: (state) => state.container,
      statementName: (state) => state.property.statementTC.name
    }),
    methods: {
      loadStatement (id) {
        let image = document.getElementById(id).files[0];
        let reader = new FileReader();
        let that = this;
        reader.onloadend = function() {
          let name = image.name.substring(0, image.name.lastIndexOf('.'));
          that.setLoadingFlag(true);
          if (that.$route.params.id === 'add') {
            that.addContainer({ statementTC: name + ':' + reader.result }).then(() => {
              that.setLoadingFlag(false);
            });
          } else {
            that.updateContainer({ statementTC: name + ':' + reader.result }).then(() => {
              that.setLoadingFlag(false);
            });
          }
        };
        reader.readAsDataURL(image);
      },
      removeStatement () {
        this.updateContainer({ statementTC: '' });
      },
      updateStatement () {
        this.statement = this.container[this.statementName];
        if (this.statement === 'media/default_name.') {
          this.statement = null;
        }
      },
      ...mapMutations('container', [ 'setLoadingFlag' ]),
      ...mapActions('container', [
        'updateContainer',
        'addContainer'
      ])
    },
    created () {
      this.updateStatement();
      this.watcher = this.$store.watch(
        (state) => state.container.container,
        this.updateStatement,
        { deep: true }
      );
    },
    destroyed () {
      this.watcher();
    }
  }
</script>

<style lang="scss" scoped>
  .e-image {
    @include object-fit(contain);
  }
  .e-button {
    margin: 0 .25rem;
  }
  .e-add {
    ._plus {
      $s: 3rem;
      width: $s;
      height: $s;
    }
    ._label {
      color: #fff;
    }
  }
  .statement {
    $h: 40rem;
    height: $h;
    margin-bottom: 1rem;
    
    .e-image {
      line-height: $h;
    }
  }
  .line {
    display: flex;
    justify-content: center;
  }
</style>
