<template>
  <div>
    <page-header class="e-section"></page-header>
    <div class="page-container">
      <router-view></router-view>
    </div>
    <page-footer class="e-section"></page-footer>
  </div>
</template>

<script>
  import PageHeader from "./PageHeader";
  const PageFooter = () => import("./PageFooter");
  
  export default {
    name: 'PageContainer',
    components: { PageFooter, PageHeader }
  }
</script>

<style lang="scss" scoped>
  .page-container {
    width: 100%;
    background-color: #c5e1f6;
    padding-bottom: .3125rem;
  }
</style>
