<template>
  <header class="header">
    <router-link class="logo" :to="{ name: 'catalog' }">
      <div class="_image">
        <a class="_link" href="https://refterminal.ru">Refterminal.ru</a>
      </div>
      <p class="_caption">Рефтерминал</p>
    </router-link>
    <div class="content">
      <p class="info _text"><i>15 лет назад продали первый контейнер</i></p>
      <router-link class="sale e-link -bordered -gear"
                   :to="{ name: 'manager' }">Продать контейнер</router-link>
      <div class="contacts">
        <p class="_text">Вопросы:</p>
        <a href="tel:8-800-250-26-55"
           class="e-link -default -large">8-800-250-26-55</a>
        <span class="e-link -default -door -small"
           href="#"
           v-if="isAuthorized">
          <router-link class="unlink"
                       :to="{ name: 'cabinet' }">Личный кабинет</router-link><br>
          <router-link class="unlink"
                       to="/manager">{{ managerName }}</router-link>
          <div class="_icon" @click="logoutAndGo"></div>
        </span>
        <a class="e-link -default -door -small"
           href="#"
           v-else
           @click="show({ type: 'login' })">
          <span>Войти в терминал</span>
          <div class="_icon"></div>
        </a>
      </div>
    </div>
    <vue-snotify class="material"></vue-snotify>
    <modal></modal>
  </header>
</template>

<script>
  import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
  import { SnotifyService, SnotifyPosition } from 'vue-snotify';
  import Modal from "./Modal/Modal";
  
  export default {
    name: 'PageHeader',
    computed:  {
      managerName () {
        return this.person.last_name + ' ' + this.person.first_name;
      },
      ...mapState('auth', [ 'person' ]),
      ...mapGetters('auth', [ 'isAuthorized', 'savedToken' ]),
      ...mapGetters('cart', [ 'isOrderCreated' ])
    },
    components: { Modal },
    methods: {
      logoutAndGo () {
        this.logout();
        if (this.$route.path.includes('manager')) {
          this.setLoadParams({ count: 0, parent: null });
          this.$router.push('/');
        }
      },
      ...mapMutations('auth', [ 'logout' ]),
      ...mapMutations('catalog', [ 'setLoadParams' ]),
      ...mapActions('auth', [ 'verify' ]),
      ...mapActions('modal', [ 'show' ]),
      ...mapActions('cart', [
        'getOrder',
        'createOrder'
      ])
    },
    created () {
      this.$store.dispatch('filter/getFilterList');
      if (this.isOrderCreated) {
        this.getOrder();
      } else {
        this.createOrder();
      }
    },
    mounted () {
      SnotifyService.setConfig({
        timeout: 2000,
        backdrop: -1,
        showProgressBar: false,
        titleMaxLength: 100
      }, {
        newOnTop: false,
        position: SnotifyPosition.rightTop
      });
    }
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    justify-content: space-between;
    min-height: 7.5rem;
    padding-top: .9375rem;
    padding-bottom: .5rem;
    
    .logo {
      width: 20rem;
      min-width: 20rem;
      text-decoration: none;
      
      ._image {
        float: left;
        width: 9rem;
        height: 7.5rem;
        @include background('../assets/images/logo', auto 100%, left);
      }
      ._caption {
        margin: 3rem 0;
        color: #2c2a29;
        font-size: 1.5rem;
      }
      ._link {
        display: block;
        margin-top: 5rem;
        color: #2c2a29;
        font-size: .96rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 5%;
      padding-top: 1.55rem;
      
      ._text {
        margin: 0;
        color: #231f20;
        font-size: .875rem;
      }
      .e-link {
        color: #fff;
        
        &.-default {
          display: block;
          height: 1.4375rem;
          line-height: 1.4375rem;
          margin-top: .3125rem;
          text-decoration-style: dotted;
        }
        &.-small {
          font-size: .875rem;
        }
        &.-large {
          font-size: 1.375rem;
        }
        &.-door {
          margin-top: 1rem;
          
          ._icon {
            display: inline-block;
            vertical-align: middle;
            width: 1.5625rem;
            height: 100%;
            @include background('../assets/images/door', contain, right);
            cursor: pointer;
          }
        }
      }
      .unlink {
        color: #fff;
        
        &:focus {
          outline: none;
        }
      }
      .info {
        width: 40%;
        margin: 1.9375rem 5% 0 0;
      }
      .sale {
        width: 13.5rem;
        min-width: 13.5rem;
        margin: 1.05rem 5% 0 0;
        padding: 0 2rem 0 1rem;
        @include background('../assets/images/gear', auto 70%, 10.8rem center);
      }
      .contacts {
        width: 20%;
        min-width: 11.25rem;
        margin-top: 0rem;
      }
    }
  }
</style>

<style lang="scss">
  .material {
    position: absolute;
    @import "../styles/snotify";
  }
</style>
