<template>
  <footer class="footer">
      <div class="_column">
        <p class="_link">© 2001-2017. Рефтерминал — интернет-терминал контейнеров.</p>
        <p class="_link">Все права защищены.</p>
      </div>
      <div class="_column">
        <router-link class="_link"
                     :to="{ name: 'landing' }">О компании</router-link>
        <a class="_link"
           href="https://refterminal.ru/static/documents/6%2C7%29%20%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.docx">
          Согласие на обработку персональных данных
        </a>
        <a class="_link"
           href="https://refterminal.ru/static/documents/8%29%20%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8%20%D0%B8%20%D0%B7%D0%B0%D1%89%D0%B8%D1%82%D1%8B%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD.docx">
          Политика обработки персональных данных
        </a>
      </div>
      <div class="_column">
        <a class="_link" 
           href="https://refterminal.ru/static/documents/АКТ Сдачи-приема (услуг).docx">
          Акт сдачи-приема (услуг)
        </a>
        <a class="_link" href="https://refterminal.ru/static/documents/АКТ-приема передача (купля).docx">
          Акт приема-передачи (купля)
        </a>
        <a class="_link" href="https://refterminal.ru/static/documents/АКТ-прием передачи (аренда).docx">
          Акт приема-передачи (аренда)
        </a>
      </div>
      <div class="_column">
        <a class="_link" href="https://refterminal.ru/static/documents/9%29%20%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8.docx">
          Положение о конфиденциальности
        </a>
        <a class="_link"
           href="https://refterminal.ru/static/documents/5%29%20%D0%9F%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%BE%D0%B5%20%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D0%B5%20.docx">
          Пользовательское соглашение
        </a>
        <router-link class="_link"
                     :to="{ name: 'faq' }">Часто задаваемые вопросы</router-link>
      </div>
      <div>
        <a class="_link" href="#">Вопросы:</a>
        <a class="_phone" href="tel:+7-800-250-26-55">8-800-250-26-55</a>
      </div>
    </footer>
</template>

<script>
  export default {
    name: 'PageFooter',
  }
</script>

<style lang="scss" scoped>
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    
    @include media(mobile) {
      flex-wrap: wrap;
    }
    ._column {
      margin-right: 1%;
    }
    ._link {
      display: block;
      margin: .25rem 0;
      color: #231f20;
      font-size: .875rem;
      text-decoration: none;
    }
    ._phone {
      display: block;
      margin: .5rem 0;
      color: #fff;
      font-size: 1.4375rem;
      word-break: keep-all;
      white-space: nowrap;
    }
  }
</style>
