<template>
  <div class="main-content">
    <div class="e-unauthorized" v-if="!isAuthorized">
      <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
    </div>
    <div v-else>
      <div class="e-section-header -default e-section">
        <h2 class="_text">Личный кабинет</h2>
      </div>
      <div class="content">
        <div class="left">
          <h2 class="_text">Редактирование информации</h2>
          <div @click="showModal('user')">
            <form class="e-section" novalidate id="info">
              <div class="_row">
                <p class="last-wrap _title -m">Основное</p>
                <label class="e-input -shadowed">
                  <span class="_label">Имя</span>
                  <input :value="personIsLoaded ? person.first_name + ' ' + person.last_name : 'Идет загрузка...'" class="_input" type="text" disabled />
                </label>
                <label class="e-input -shadowed">
                  <span class="_label">Номер телефона</span>
                  <the-mask :value="person.phone" class="_input" type="tel" mask="+7 (###) ###-##-##"
                    :masked="true" disabled></the-mask>
                </label>
                <label class="e-input -shadowed">
                  <span class="_label">Город</span>
                  <input class="_input" type="text" v-model.trim="person.city" disabled/>
                </label>
                <label class="e-input -shadowed">
                  <span class="_label">Почта</span>
                  <input :value="personIsLoaded ? person.contact_email : 'Идет загрузка...'" class="_input" type="email" disabled />
                </label>
              </div>
            </form>
          </div>
          <h2 class="_text">Смена пароля</h2>
          <div @click="showModal('change-password')">
            <div class="_row">
              <a  href="#" class="e-button">Смена пароля</a>
            </div>
          </div>
        </div>
        <div class="right">
          <div>
              <h2 class="_text">Навигация</h2>
              <router-link class="e-button" :to="{ name: 'my-orders' }">Мои заказы</router-link>
          </div>
          <br><br>
          <h2 class="_text">Оптовые предложения</h2>
          <div v-if="!person.is_staff">
            <div v-if="person.is_vip">
              <router-link class="e-button" :to="{ name: 'available-offers' }">Доступные мне</router-link>
            </div>
            <div v-else-if="person.is_vip_requested"">
              <p>Запрос на подписку обрабатывается.</p>
            </div>
            <div v-else>
              <p>Для доступа к оптовым предложениям необходимо оформить платную подписку.</p>
              <a class="e-button" href="#" @click="showModal('pay-vip')">Оформить подписку</a>
            </div>
          </div>
          <router-link class="e-button" :to="{ name: 'special-list' }">Мои предложения</router-link>
          <br><br>
          <div v-show="person.is_staff">
              <h2 class="_text">Конструктор бонусов</h2>
              <router-link class="e-button" :to="{ name: 'my-bonuses' }">Мои бонусы</router-link>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import { mapGetters, mapState } from "vuex";
    import { TheMask } from "vue-the-mask";

    export default {
      name: "Cabinet",
      data() {
        return {};
      },
      components: {
        TheMask
      },
      computed: {
        ...mapGetters("auth", ["isAuthorized"]),
        ...mapState("auth", ["person"]),
        personIsLoaded() {
          return Object.keys(this.person).length !== 0;
        }
      },
      methods: {
        showModal (name) {
          this.$store.dispatch('modal/show', { type: name })
        }
      }
    };
</script>

<style lang="scss" scoped>

.main-content {

  .content {
    display: flex;

    .left {
      padding: 1.2rem;
      width: 30%;
    }

    .right {
      padding: 1.2rem;
      margin-left: 25px;
      display: inline;
    }

    ._text {

      &.-default {
        margin: 0 .2rem .2rem 0;
      }

    }
  }
}

._row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.875rem;

  ._title {
    margin: 1rem 0 0.5rem;
    color: #93b7d2;

    &.-m {
      font-size: 0.875rem;
    }
  }

  .last-wrap {
    display: flex;
    flex-basis: 100%;
  }
}

.e-button {
  $h: 3.5rem;
  height: $h;
  line-height: $h;
  font-size: 1.25rem;
  min-width: 16rem;
  padding: 0px 20px;
  margin: 0.5rem 0;
  margin-right: 48px;
}

.e-input {
  width: 16rem;
  height: 3.6rem;
  margin: 4px 0px;
}

</style>
