<template>
  <div>
    <div class="e-unauthorized" v-if="!isAuthorized">
        <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
    </div>
    <div class="e-loader -default" v-else-if="!isLoaded">
        <div class="_loader"></div>
    </div>
    <div class="container-tracking" v-else>
        <div class="e-section-header -breadcrumbs e-section">
          <h2 class="_text">
            <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
            <span>➾</span>
            <span v-if="!isEmpty">
              Трекинг контейнера № {{ trackingInfo.container.id }}
            </span>
            <span v-else>
              Трекинг не найден
            </span>
          </h2>
        </div>
        <div class="content" v-if="!isEmpty">
          <table id="tracking_info">
            <tr>
              <td>Номер трекера:</td>
              <td>{{ trackingInfo.id }}</td>
            </tr>
            <tr>
              <td>Тип услуги:</td>
              <td>{{ trackingInfo.get_service_type_display }}</td>
            </tr>
            <tr>
              <td>Дата отправки:</td>
              <td>{{ trackingInfo.dep_date }}</td>
            </tr>
            <tr>
              <td>Получатель:</td>
              <td></td>
            </tr>
            <tr>
              <td>Номер заказа:</td>
              <td></td>
            </tr>
            <tr>
              <td>Контейнер</td>
              <td>{{ trackingInfo.container.name }}</td>
            </tr>
            <tr>
              <td>Статус:</td>
              <td>{{ trackingInfo.status }}</td>
            </tr>
          </table>

          <table id="steps_info">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Местоположение</th>
                <th>Статус</th>
              </tr>
            </thead>
            <tr v-for="step in trackingInfo.steps" :key="step.id">
              <td>{{ step.date_at }}</td>
              <td>{{ step.time_at }}</td>
              <td>{{ step.location }}</td>
              <td>{{ step.get_status_display }}</td>
            </tr>
          </table>
        </div>
        <div class="header-text" v-else>
          <p class="_text">К сожалению, трекинг пока не установлен для контейнера с ID={{ this.$route.params.id }}.</p>
        </div>
      </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
const OrderItem = () => import("../Cabinet/OrderItem");

export default {
  name: "ContainerTracking",
  data() {
    return {
      isEmpty: true
    };
  },
  computed: {
    ...mapGetters("auth", ["isAuthorized"]),
    ...mapState("cabinet", ["trackingInfo", "isLoaded"])
  },
  components: {
    OrderItem
  },
  methods: {
    ...mapActions("cabinet", ["getTracking"])
  },
  created() {
    this.getTracking(this.$route.params.id);
  },
  watch: {
    trackingInfo() {
      this.isEmpty = Object.keys(this.trackingInfo).length === 0;
    }
  }
};
</script>

<style lang="scss" scoped>

.container-tracking {
  min-height: 35rem;

  .content {
    background-color: white;
    min-height: 120px;
    margin: 30px 120px;
    padding: 24px;

    table tr th {
      text-align: left;
    }
    table tr td,
    table tr th {
      padding: 8px 12px;
    }

    table#tracking_info tr td:first-child {
      font-weight: bold;
    }

    table#steps_info {
      border-collapse: collapse;
      width: 100%;
      margin-top: 30px;
      font-size: 1.1rem;
    }
    table#steps_info tr:nth-child(2n) {
      background-color: rgba(197, 225, 246, 0.5);
    }

    table#steps_info tr th,
    table#steps_info tr td {
      padding: 12px 16px;
    }
    table#steps_info,
    table#steps_info thead tr {
      border: 1px solid black;
    }
  }

}

.e-loader {
  height: 30rem;

  ._loader {
    width: 7rem;
    height: 7rem;
    border-width: 0.6rem;
  }
}

.header-text {

  padding: 12px 36px;

  ._text  {
    color: #00aeef;
    font-size: 1.5rem;
  }
}

</style>
