<template>
  <div>
    <div class="e-unauthorized" v-if="!isAuthorized">
        <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
    </div>
    <div class="e-loader -default" v-else-if="!isLoaded">
        <div class="_loader"></div>
    </div>
    <div class="my-bonuses" v-else>
        <div class="e-section-header -breadcrumbs e-section">
          <h2 class="_text">
            <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
            <span>➾</span>
            <span>Конструктор бонусов</span>
          </h2>
        </div>
        <div class="content">
            <table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Условие</th>
                <th>Приз</th>
                <th>Время действия</th>
              </tr>
            </thead>
            <transition-group name="fade"
                            tag="tbody">
              <tr v-for="(b, i) in bonuses" :key="b.pk" @click="showModal('bonus', { id: b.pk, index: i })">
                <td>{{ b.description }}</td>
                <td v-if="b.activate_sum">Покупка от {{ formatPrice(b.activate_sum) }}&nbsp;₽</td>
                <td v-else colspan="2">{{ b.if_condition }}</td>
                <td v-show="b.activate_sum">Скидка {{ formatPrice(b.discount) }}&nbsp;{{ getSymbol(b.type) }}</td>
                <td><span v-if="b.expiration_date === null">Безлимитное</span><span v-else>{{ b.expiration_date }}</span></td>
              </tr>
            </transition-group>
            </table>
            <br>
            <div class="e-add"
                 key="add"
                 @click="showModal('bonus', 'add')">
              <div class="_plus"></div>
              <p class="_label">Добавить бонус</p>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  name: "MyBonuses",
  data() {
    return {
      isLoaded: true
    };
  },
  computed: {
    ...mapGetters('auth', [ 'isAuthorized' ]),
    bonuses () {
      return this.bonusList;
    },
    ...mapState('auth', [ 'person' ]),
    ...mapState('bonus', {
      bonusList: (state) => state.bonuses
    })
  },
  watch: {
    person () {
      this.updateBonuses()
    }
  },
  methods: {
    showModal (type, params) {
      this.$store.dispatch('modal/show', { type, params });
    },
    getSymbol (type) {
      return type === 'total' ? '₽' : '%';
    },
    formatPrice (value) {
      if (isNaN(value)) { return ''; }
      return (new Intl.NumberFormat("ru")).format(value);
    },
    updateBonuses() {
      if (this.person.id !== undefined) {
        this.$store.dispatch('bonus/getBonuses', this.person.id);
      }
    }
  },
  mounted () {
    this.updateBonuses()
  }
};
</script>

<style lang="scss" scoped>

.e-loader {
  height: 30rem;

  ._loader {
    width: 7rem;
    height: 7rem;
    border-width: 0.6rem;
  }
}

.e-add {
  ._plus {
    $s: 2.5rem;
    width: $s;
    height: $s;
  }
}

.my-bonuses {
  min-height: 35rem;

    .content {
      margin: 2rem;

      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.1rem;
        background-color: white;
        border: 1px solid black;

        tbody tr {
          cursor: pointer;
        }
        tbody tr:hover {
          background-color: rgba(197, 225, 246, 0.5);
        }
        tr td,
        tr th {
          padding: 12px 16px;
          text-align: left;
        }

        thead tr {
          border: 1px solid black;
        }

      }

    }

}

</style>
