<template>
    <div class="main-content">
        <div class="e-unauthorized" v-if="!isAuthorized">
            <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
        </div>
        <div class="e-loader -default" v-else-if="!isLoaded">
            <div class="_loader"></div>
        </div>
        <div class="my-orders" v-else>
            <div class="e-section-header -breadcrumbs e-section">
                <h2 class="_text">
                    <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
                    <span>➾</span>
                    <span>Заказы</span>
                </h2>
            </div>
            <div class="content">
                <div >
                    <order-item v-for="order in shortOrdersInfo" v-bind:order="order" :key="order.pk"></order-item>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import { mapGetters, mapActions, mapState } from "vuex";
const OrderItem = () => import("./OrderItem");

export default {
  name: "MyOrders",
  data() {
    return {};
  },
  components: {
    OrderItem
  },
  props: {},
  computed: {
    ...mapGetters("auth", ["isAuthorized"]),
    ...mapState("cabinet", ["shortOrdersInfo", "isLoaded"])
  },
  methods: {
    loadOrders() {
      this.getMyOrders();
    },
    ...mapActions("cabinet", ["getMyOrders"])
  },
  created() {
    this.loadOrders();
  }
};
</script>


<style lang="scss" scoped>
.e-loader {
  height: 30rem;

  ._loader {
    width: 7rem;
    height: 7rem;
    border-width: 0.6rem;
  }
}
</style>
