<template>
    <div class="order-item">
        <div class="left">
            <container-preview-slider class="slider" :id="order.pk" :content="order.common_images"></container-preview-slider>
        </div>
        <div class="right">
            <p class="title">Заказ № {{ order.pk }}</p>
            <table>
            <tbody>
                <tr>
                    <td>Дата отправки:</td>
                    <td>{{ order.created_at | onlyDate }}</td>
                </tr>
                <tr>
                    <td>Приблизительная дата получения:</td>
                    <td>{{ order.edited_at | onlyDate }}</td>
                </tr>
            </tbody>
            </table>
            <br>
            <router-link class="e-button"  :to="{ name: 'order-about', params: { id: order.pk } }">
                <span>О заказе</span>
            </router-link>
        </div>
    </div>
</template>

<script>
const ContainerPreviewSlider = () =>
  import("../Container/ContainerPreviewSlider");

export default {
  name: "OrderItem",
  data() {
    return {};
  },
  props: {
    order: {}
  },
  components: {
    ContainerPreviewSlider
  },
  filters: {
    onlyDate(value) {
      return value && value.includes("T")
        ? value
            .split("T")[0]
            .split("-")
            .reverse()
            .join(".")
        : "Не известно";
    }
  }
};
</script>

<style lang="scss" scoped>
.slider {
  background-color: #fff;
  height: 16rem;
  margin-bottom: 0.3rem;
}

.order-item {
  background-color: white;
  min-height: 16rem;
  margin: 40px 120px;

  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 8px;
  }

  .left {
    width: 320px;
    float: left;
    min-height: 16rem;
    overflow: auto;
    background-color: #bad4e7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    min-height: 16rem;
    overflow: auto;
    background-color: white;
    padding: 8px 48px;
  }

  table tr td {
    padding: 6px 4px 6px 0px;
    vertical-align: text-top;
  }
  table tr td:first-child {
    max-width: 180px;
    padding-right: 30px;
  }
}

.e-button {
  $h: 3rem;
  height: $h;
  line-height: $h;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  padding: 0px 20px;
  margin-right: 48px;
}
</style>
