<template>
    <div class="main-content">
        <div class="e-unauthorized" v-if="!isAuthorized">
            <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
        </div>
        <div class="e-loader -default" v-else-if="!isLoaded">
            <div class="_loader"></div>
        </div>
        <div v-else>
            <div class="e-section-header -breadcrumbs e-section">
                <h2 class="_text">
                <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
                <span>➾</span>
                <router-link class="_text" :to="{ name: 'my-orders' }">Заказы</router-link>
                <span>➾</span>
                <span>№ {{ this.$route.params.id }}</span>
              </h2>
            </div>
            <div class="content">
              <div v-if="orderInfo.pk">
                <div class="row">
                  <div class="left">
                    <div>
                      <table id="order-info-table">
                        <tbody>
                          <tr>
                            <td>Заказ №</td>
                            <td>{{ this.$route.params.id }}</td>
                          </tr>
                          <tr>
                            <td>Дата заказа:</td>
                            <td>{{ orderInfo.created_at | onlyDate }}</td>
                          </tr>
                          <tr>
                            <td>Дата отправки:</td>
                            <td>{{ orderInfo.created_at | onlyDate }}</td>
                          </tr>
                          <tr>
                            <td>Предполагаемая дата получения:</td>
                            <td>{{ orderInfo.edited_at | onlyDate }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="right">
                    <div>
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <b>Адрес доставки</b>:<br>
                              {{ orderInfo.properties | fullAddress }}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <b>Способ доставки</b>:<br>
                              Express Shipping
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <container-info-list v-bind:containers="all_containers" v-bind:hasTrack=true></container-info-list>
                <div class="e-preview">
                  <p class="total_price">
                    <span class="_text -def -xl"><b>Общая цена: {{ formatPrice(orderInfo.total_price ||
                        orderInfo.total_price_auction) }} ₽</b></span>
                  </p>
                </div>
              </div>
              <div v-else>
                <p>Не удалось найти заказ</p>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
const ContainerInfoList = () => import("../Container/ContainerInfoList");

export default {
  name: "OrderAbout",
  data() {
    return {
    };
  },
  props: {
    parent: String
  },
  computed: {
    ...mapGetters("auth", ["isAuthorized"]),
    ...mapState("cabinet", ["orderInfo", "isLoaded"]),
    all_containers() {
      return this.orderInfo.pk
        ? this.orderInfo.sale_trade_items.concat(this.orderInfo.rent_trade_items, this.orderInfo.auction_trade_items)
        : [];
    }
  },
  components: {
    ContainerInfoList
  },
  methods: {
    loadOrder() {
      this.getOrder(this.$route.params.id);
    },
    formatPrice(value) {
      if (isNaN(value)) {
        return "";
      }
      return new Intl.NumberFormat("ru").format(value);
    },
    ...mapActions("cabinet", ["getOrder"])
  },
  created() {
    this.loadOrder();
  },
  filters: {
    onlyDate(value) {
      return value && value.includes("T")
        ? value
            .split("T")[0]
            .split("-")
            .reverse()
            .join(".")
        : "Не известно";
    },
    fullAddress(value) {
      if (value === undefined) {
        return "Не известно";
      }
      var newValue = "";
      ["fio", "address", "phone"].forEach(function(elm, idx) {
        if (value.hasOwnProperty(elm)) {
          newValue += value[elm] + ", ";
        }
      });
      return newValue;
    }
  },
};
</script>

<style lang="scss" scoped>
.main-content {
  .content {
    padding: 30px;

    .row {
      margin-bottom: 20px;
      padding: 20px;
      background-color: white;
      display: inline-flex;
      width: 100%;

      .left {
        width: 50%;
        float: left;
        overflow: auto;
      }
      .right {
        overflow: auto;
      }
    }

    .e-preview {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      width: 100%;
      min-height: 4rem;

      .total_price {
        font-weight: bold;
      }
    }

    table tr td {
      padding: 8px 8px;
      vertical-align: text-top;
    }
    table#order-info-table tr td:first-child {
      font-weight: bold;
    }
  }
}

.e-loader {
  height: 30rem;

  ._loader {
    width: 7rem;
    height: 7rem;
    border-width: 0.6rem;
  }
}
</style>