<template>
  <div>
    <div class="e-unauthorized" v-if="!isAuthorized">
        <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
    </div>
    <div class="e-loader -default" v-else-if="!isLoaded">
        <div class="_loader"></div>
    </div>
    <div v-else>
        <div class="e-section-header -breadcrumbs e-section">
          <h2 class="_text">
            <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
            <span>➾</span>
            <span>Оптовые предложения</span>
          </h2>
        </div>
        <router-view></router-view>
        <div class="special">
            <h1>Оптовые предложения</h1>
            <table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Контейнеры</th>
                <th>Цена без скидки</th>
                <th>Цена со скидкой</th>
              </tr>
            </thead>
            <transition-group name="fade"
                            tag="tbody">
              <tr v-for="special in specialOffers" :key="special.id">
                <td>
                  <router-link class="_text" :to="{ name: 'special-edit', params: { id: special.id } }">{{ special.name }}</router-link>
                </td>
                <td>
                  <p v-for="c in special.containers">{{ c.container ? c.container.name + ' №' + c.container.id : '' }}</p>
                </td>
                <td>{{ formatPrice(special.total_cost) }}&nbsp;₽</td>
                <td>{{ formatPrice(special.total_with_discount) }}&nbsp;₽</td>
              </tr>
            </transition-group>
            </table>
            <router-link class="e-button" :to="{ name: 'special-edit', params: { id: 'add' } }">Добавить</router-link>
        </div>
      </div>
    </div>
</template>

<script>
  import { mapGetters, mapState, mapActions } from 'vuex';

  export default {
    name: 'SpecialOfferList',
    data() {
      return {
      }
    },
    computed: {
      ...mapState('cabinet', [ 'specialOffers', 'isLoaded' ]),
      ...mapGetters("auth", ["isAuthorized"])
    },
    methods: {
      loadOffer() {
        if (this.isAuthorized) {
          this.getSpecialOffers();
        }
      },
      formatPrice (value) {
        if (isNaN(value)) { return ''; }
        return (new Intl.NumberFormat("ru")).format(value);
      },
      ...mapActions('cabinet', [ 'getSpecialOffers' ])
    },
    created() {
      this.loadOffer();
    }

  }
</script>

<style lang="scss" scoped>
  table tr th {
    text-align: left;
  }
  table tr td,
  table tr th {
    padding: 8px 12px;
    vertical-align: top;
  }
  table tr td:first-child {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    font-size: 1.2rem;
    background-color: white;
  }
  table tbody tr:hover {
    background-color: rgba(197, 225, 246, 0.5);
  }

  table tr th,
  table tr td {
    padding: 12px 16px;
  }
  table ,
  table thead tr {
    border: 1px solid black;
  }

  table tr td a {
    text-decoration: none;
    color: #4285f4;
    font-size: 1.2rem;
  }
  table tr td p:first-child {
    margin-top: 0px;
  }

  .special {
    padding: 0px 30px 30px 30px;
  }
  .e-preview {
    min-height: 7rem;
  }
  .e-button {
    $h: 3rem;
    height: $h;
    line-height: $h;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    padding: 0px 20px;
    margin-right: 48px;
  }

  .e-loader {
    height: 30rem;

    ._loader {
      width: 7rem;
      height: 7rem;
      border-width: 0.6rem;
    }
  }
</style>
