<template>
    <div class="main-content">
        <div class="e-unauthorized" v-if="!isAuthorized">
            <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
        </div>
        <div class="e-loader -default" v-else-if="!isLoaded">
            <div class="_loader"></div>
        </div>
        <div v-else>
            <div class="e-section-header -breadcrumbs e-section">
                <h2 class="_text">
                <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
                <span>➾</span>
                <router-link class="_text" :to="{ name: 'special-list' }">Оптовые предложения</router-link>
                <span>➾</span>
                <span v-if="o.id">{{ o.name }}</span>
                <span v-else-if="this.$route.params.id === 'add'">Создание</span>
                <span v-else>№ {{ this.$route.params.id }}</span>
              </h2>
            </div>
            <div class="content">
                <div v-if="o.id || this.$route.params.id === 'add'">
                    <h1><span v-if="this.$route.params.id === 'add'">Создание</span><span v-else>Редактирование</span> оптового предложения</h1>
                    <form class="" @submit.prevent="save">
                        <div class="_line">
                          <label class="e-input -shadowed _field -l">
                            <span class="_label">Название</span>
                            <input class="_input"
                                   type="text"
                                   maxlength="100"
                                   required="required"
                                   v-model="o.name" />
                          </label>
                        </div>
                        <div class="_line">
                          <select class="e-input" id="containers">
                            <option v-for="c in specialContainers" :value="c.id" v-if="o.containers.indexOf(c.id) === -1">№{{ c.id }} – {{ c.name }}</option>
                          </select>
                          <button class="e-button" type="button" @click="selectContainer()">Добавить к предложению</button>
                        </div>
                        <div class="_line" v-if="o.containers.length">
                          <p class="_big">Выбранные контейнеры:</p>
                          <ul>
                            <li v-for="c in specialContainers" v-if="o.containers.indexOf(c.id) !== -1"><b>№{{ c.id }}</b> {{ c.name }} (<a @click="unSelectContainer(c)">удалить</a>)</li>
                          </ul>
                        </div>
                        <div class="_line" v-else>
                          <p class="_big">Пока не добавлено ни одного контейнера.</p>
                        </div>
                        <div class="buttons" v-if="this.$route.params.id === 'add'">
                            <button class="e-button" type="submit">Создать</button>
                        </div>
                        <div class="buttons" v-else>
                            <button class="e-button" type="submit">Сохранить</button>
                            <button class="e-button" type="button" @click="removeSpecialOffer()">Удалить</button>
                        </div>
                    </form>
                </div>
                <div v-else>
                    <p class="_big">Не удалось найти оптовое предложение</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { SnotifyService } from 'vue-snotify';

export default {
  name: "OrderAbout",
  data() {
    return {
      o: {
        name: '',
        containers: []
      }
    };
  },
  props: {
    parent: String
  },
  computed: {
    ...mapGetters("auth", ["isAuthorized"]),
    ...mapState("cabinet", ["specialOffer", "specialContainers", "isLoaded" ]),
  },
  methods: {
    initPage () {
      console.log('param id', this.$route.params.id);
      if (!this.isAuthorized) { return; }
      this.getSpecialContainers();
      let id = this.$route.params.id;
      if (id === 'add') {

      } else {
        this.getSpecialOffer(id).then(() => {
        });
      }
    },
    formatPrice(value) {
      if (isNaN(value)) {
        return "";
      }
      return new Intl.NumberFormat("ru").format(value);
    },
    selectContainer() {
      var e = document.getElementById("containers");
      if (e.selectedIndex === -1) {
        return;
      }
      var cid = e.options[e.selectedIndex].value;
      this.o.containers.push(parseInt(cid));
    },
    unSelectContainer(container) {
      var index = this.o.containers.indexOf(container.id);
      if (index > -1) {
        this.o.containers.splice(index, 1);
      }
    },
    save () {
      let exit = false;
      if (this.o.containers.length < 1) {
        SnotifyService.error('', 'Добавьте хотя бы один контейнер к предложению!');
        exit = true;
      }
      if (exit) {
        return;
      }
      if (this.$route.params.id === 'add') {
        this.addSpecialOffer(this.o).then(() => {
        });
      } else {
        this.updateSpecialOffer(this.o).then(() => {});
      }
    },
    ...mapActions("cabinet", [
      "getSpecialOffer",
      "updateSpecialOffer",
      "addSpecialOffer",
      "removeSpecialOffer",
      "getSpecialContainers",
    ]),
  },
  mounted () {
    this.initPage();
  },
  watch: {
    specialOffer() {
      if (this.specialOffer.hasOwnProperty('id')) {
        this.o = JSON.parse(JSON.stringify(this.specialOffer));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.main-content {
  .content {
    padding: 30px;

    .e-preview {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      width: 100%;
      min-height: 4rem;

    }

  }
}

p {
  font-size: 1.2rem;
}

._big {
  font-size: 1.5rem;
}

.buttons {
  padding: 20px 0px;
}
.e-button {
  min-width: 8rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.25rem;
}
.e-input {
  max-width: 24rem;
  height: 3.6rem;
  margin: 0 1.25rem 1.25rem 0;
  font-size: 1rem;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.e-loader {
  height: 30rem;

  ._loader {
    width: 7rem;
    height: 7rem;
    border-width: 0.6rem;
  }
}

ul li {
  margin: 10px 0px;
  font-size: 1.2rem;
}
ul li a {
  text-decoration: underline;
}
ul li a:hover {
  cursor: pointer;
}

</style>