<template>
  <div>
    <div class="e-unauthorized" v-if="!isAuthorized">
        <p class="_text">Для доступа к личному кабинету необходимо пройти процесс аутентификации.</p>
    </div>
    <div class="e-loader -default" v-else-if="!isLoaded">
        <div class="_loader"></div>
    </div>
    <div v-else>
        <div class="e-section-header -breadcrumbs e-section">
          <h2 class="_text">
            <router-link class="_text" :to="{ name: 'cabinet' }">Личный кабинет</router-link>
            <span>➾</span>
            <span>Оптовое предложение</span>
          </h2>
        </div>
        <router-view></router-view>
        <div class="special" v-if="currentSpecialContainers.length">
            <h1>Оптовое предложение</h1>
            <div v-if="currentSpecialContainers.length">
                <container-info-list v-bind:containers="currentSpecialContainers" v-bind:hasTrack=false></container-info-list>
                <div class="e-preview">
                    <p class="total_price">
                        <span class="_text -def -xl"><b>Общая цена: {{ formatPrice(totalWithDiscount) }} ₽</b></span>
                    </p>
                    <p class="total_price">
                        <span class="_text -def -l">Цена без оптового предложения: {{ formatPrice(totalCost) }} ₽</span>
                    </p>
                     <a class="e-button" @click="addToCard">Заказать</a>
                </div>
            </div>
        </div>
        <div class="special" v-else>
            <p>Оптовое предложение не найдено</p>
        </div>
      </div>
    </div>
</template>

<script>
  import { mapGetters, mapState, mapActions } from 'vuex';
  const ContainerInfoList = () => import("../Container/ContainerInfoList");

  export default {
    name: 'SpecialOffer',
    data() {
      return {
      }
    },
    components: {
      ContainerInfoList
    },
    computed: {
      ...mapState('cabinet', [ 'totalCost', 'totalWithDiscount', 'specialOffer', 'currentSpecialContainers', 'isLoaded' ]),
      ...mapGetters("auth", ["isAuthorized"])
    },
    methods: {
      loadOffer() {
        if (this.isAuthorized) {
          this.getFullSpecialOffer(this.$route.params.id);
        }
      },
      formatPrice(value) {
        if (isNaN(value)) {
          return '';
        }
        return (new Intl.NumberFormat("ru")).format(value);
      },
      addToCard () {
        let action = 'add';
        let type = 'sale'
        let data = {};
        data[action] = []
        this.currentSpecialContainers.forEach(function(container, idx) {
          data[action].push({ container: container.id, action: type });
        })
        this.addOrRemoveContainers(data);
      },
      ...mapActions('cabinet', [ 'getFullSpecialOffer' ]),
      ...mapActions('cart', [ 'addOrRemoveContainers' ])
    },
    mounted() {
      this.loadOffer();
    }

  }
</script>

<style lang="scss" scoped>
  .special {
    padding: 0px 30px 30px 30px;
  }
  .e-preview {
    min-height: 7rem;
  }
  .e-button {
    $h: 3rem;
    height: $h;
    line-height: $h;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    padding: 0px 20px;
    margin-right: 48px;
  }

  .e-loader {
    height: 30rem;

    ._loader {
      width: 7rem;
      height: 7rem;
      border-width: 0.6rem;
    }
  }
</style>
