@mixin media($media...) {
  @each $breakpoint in $media {
    @if $breakpoint == mobile {
      @media only screen and (max-width: $break-tablet) {
        @content;
      }
    }
    @else if $breakpoint == tablet {
      @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
        @content;
      }
    }
    @else if $breakpoint == desktop {
      @media only screen and (min-width: $break-desktop) and (max-width: $break-wide) {
        @content;
      }
    }
    @else if $breakpoint == wide {
      @media only screen and (min-width: $break-wide) and (max-width: $break-x-wide) {
        @content;
      }
    }
    @else if $breakpoint == x-wide {
      @media only screen and (min-width: $break-x-wide) {
        @content;
      }
    }
  }
}

@mixin background($name, $size: contain, $position: center, $repeat: no-repeat) {
  background-image: url($name + ".png");
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;

  @include media(tablet) {
    background-image: url($name + "@2x.png");
    background-size: $size;
  }
  @include media(desktop) {
    background-image: url($name + "@3x.png");
    background-size: $size;
  }
  @media only screen and (min-resolution: 2dppx) {
    background-image: url($name + "@3x.png");
    background-size: $size;
  }
}


/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}', Helvetica, Arial, sans-serif;
  }
}
