<template>
  <div class="m-select" :class="{ active: isOpen, above: isAbove }">
    <label class="e-input -select" :class="inputClass">
      <span class="_label">{{ inputLabel }}</span>
      <textarea class="_input -area"
                v-if="useTextarea"
                ref="input"
                :value="isOpen ? input : currentOptionLabel"
                @input="updateSearch($event.target.value)"
                @focus="activate"
                @blur="deactivate"
                @keydown.up.prevent="pointerBackward"
                @keydown.down.prevent="pointerForward"
                @keydown.enter.prevent.stop.self="selectPointer"
                @keyup.esc="deactivate()"></textarea>
      <input class="_input"
             v-else
             ref="input"
             :value="isOpen ? input : currentOptionLabel"
             @input="updateSearch($event.target.value)"
             @focus="activate"
             @blur="deactivate"
             @keydown.up.prevent="pointerBackward"
             @keydown.down.prevent="pointerForward"
             @keydown.enter.prevent.stop.self="selectPointer"
             @keyup.esc="deactivate()"/>
    </label>
    <div class="triangle" v-if="!useTextarea" @mousedown.prevent.stop="toggle"></div>
    <transition name="m-select">
      <div class="content-wrapper" v-show="isOpen"
           ref="content"
           :style="{ maxHeight: optimizedHeight + 'px' }">
        <ul class="content" ref="list">
          <li class="_element"
              :class="{
                '-selected': isInternalValueEqualTo(o),
                '-active': pointer === i
              }"
              v-for="(o, i) in filteredOptions"
              @mouseenter.self="pointer = i"
              @click="select(o)">
            {{ optionsLabel ? o[optionsLabel] : o }}
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'MSelect',
    data () {
      return {
        isAbove: false,
        hasFocus: false,
        maxHeight: 300,
        optimizedHeight: this.maxHeight,
        internalValue: this.getInternalValue(),
        search: '',
        input: '',
        pointer: 0
      }
    },
    computed: {
      isOpen () {
        return this.hasFocus && this.options.length > 0;
      },
      currentOptionLabel () {
        return typeof(this.internalValue) === 'object'
          ? this.internalValue[this.optionsLabel] : this.internalValue;
      },
      filteredOptions () {
        if (this.customFilter) return this.options;
        const search = this.search || '';
        const normalizedSearch = search.toLowerCase().trim();
        return this.options.filter(option => {
          let str = (this.optionsLabel ? option[this.optionsLabel] : option);
          return str.toLowerCase().includes(normalizedSearch);
        });
      },
    },
    props: {
      value: null,
      options: Array,
      optionsLabel: String,
      inputLabel: {
        type: String,
        default: ''
      },
      inputClass: {
        type: String,
        default: '-shadowed'
      },
      supportCustom: {
        type: Boolean,
        default: false
      },
      useTextarea: {
        type: Boolean,
        default: false
      },
      enableSearch: {
        type: Boolean,
        default: true
      },
      customFilter: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      value () {
        this.internalValue = this.getInternalValue();
      },
      filteredOptions () {
        this.pointer = 0;
      },
      pointer () {
        let parent = this.$refs.content;
        if (parent.clientHeight >= parent.scrollHeight) return;
        let element = this.$refs.list.children[this.pointer];
        if (parent.clientHeight <= element.offsetTop + 30) {
          parent.scrollTop = element.offsetTop;
        } else if (parent.scrollTop > element.offsetTop) {
          parent.scrollTop = element.offsetTop;
        }
      }
    },
    methods: {
      toggle () {
        this.hasFocus
          ? this.deactivate()
          : this.activate();
      },
      activate (e) {
        if (this.hasFocus) return;
        this.adjustPosition();
        this.hasFocus = true;
        this.pointer = 0;
        this.input = this.supportCustom ? this.currentOptionLabel : '';
        this.search = '';
        this.$refs.input.focus();
      },
      deactivate () {
        if (!this.hasFocus) return;
        this.hasFocus = false;
        this.$refs.input.blur();
      },
      select (o) {
        if (this.isInternalValueEqualTo(o)) return;
        this.internalValue = o;
        this.deactivate();
        this.$emit('input', this.internalValue);
      },
      adjustPosition () {
        if (typeof window === 'undefined') return;

        const spaceAbove = this.$el.getBoundingClientRect().top;
        const spaceBelow = window.innerHeight - this.$el.getBoundingClientRect().bottom;
        const hasEnoughSpaceBelow = spaceBelow > this.maxHeight;

        if (hasEnoughSpaceBelow || spaceBelow > spaceAbove) {
          this.isAbove = false;
          this.optimizedHeight = this.min(spaceBelow - 40, this.maxHeight);
        } else {
          this.isAbove = true;
          this.optimizedHeight = this.min(spaceAbove - 40, this.maxHeight);
        }
      },
      updateSearch(query, e) {
        if (!this.enableSearch) {
          this.$refs.input.value = '';
          return;
        }
        this.input = query;
        this.search = query;
        this.$emit('search-change', this.search);
        if (this.supportCustom) {
          this.internalValue = this.search;
          this.$emit('input', this.internalValue);
        }
      },
      getInternalValue () {
        return this.value && typeof(this.value) === 'object'
          ? { ...this.value } : this.value;
      },
      isInternalValueEqualTo (value) {
        return typeof(this.internalValue) === 'object'
          ? this.internalValue[this.optionsLabel] === value[this.optionsLabel]
          : this.internalValue === value;
      },
      min (a, b) {
        return a < b ? a : b;
      },
      pointerForward () {
        if (this.pointer >= this.filteredOptions.length - 1) return;
        this.pointer++;
      },
      pointerBackward () {
        if (this.pointer <= 0) return;
        this.pointer--;
      },
      selectPointer () {
        this.select(this.filteredOptions[this.pointer]);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .e-input {
    ._input:not(.-area) {
      padding-right: 2rem;
    }
    ._input.-area {
      width: 100%;
      height: 6rem;
      resize: none;
    }
  }
  .m-select {
    position: relative;
  }
  .triangle {
    display: block;
    position: absolute;
    top: 50%;
    right: .8rem;
    transform: translateY(-50%);
    box-sizing: border-box;
    height: .625rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    
    &:before {
      content: '';
      position: relative;
      top: .9375rem;
      border-style: solid;
      border-width: .9375rem .9375rem 0 .9375rem;
      border-color: #cae5f9 transparent transparent transparent;
      color: #cae5f9;
    }
  }
  .content-wrapper {
    position: absolute;
    z-index: 100;
    width: auto;
    min-width: 100%;
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
    border: 1px solid #92badb;
    border-top: none;
    overflow: auto;
    background-color: #92badb;
    cursor: pointer;
    
    .content {
      margin: 0;
      padding: .0625rem;
      list-style: none;
      
      ._element {
        padding: 4% .375rem;
        
        &.-selected {
          background-color: #c5e1f6;
        }
        &.-active {
          background-color: white;
        }
      }
    }
  }
  .active {
    .triangle {
      transform: rotateZ(180deg);
    }
  
    &:not(.above) .e-input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    &.above .e-input {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .above {
    .content-wrapper {
      bottom: 100%;
      margin-top: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: .375rem;
      border-top-right-radius: .375rem;
      border-bottom: none;
      border-top: 1px solid #a4c9e5;
    }
  }
  .m-select-enter-active,
  .m-select-leave-active {
    transition: all 0.15s ease;
  }

  .m-select-enter,
  .m-select-leave-active {
    opacity: 0;
  }
</style>
