<template>
  <div id="app" :class="$route.name === 'landing' ? '-landing' : '-default'">
    <div :class="{ 'app-content': $route.name !== 'landing' }">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style lang="scss">
  html {
    box-sizing: border-box;
    font-size: 10px;
    
    @include media(tablet) {
      font-size: 12px;
    }
    @include media(desktop) {
      font-size: 14px;
    }
    @include media(wide) {
      font-size: 16px;
    }
    @include media(x-wide) {
      font-size: 20px;
    }
  }
  * {
    box-sizing: inherit;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
  body {
    width: 100%;
    min-width: 600px;
    min-height: 100vh;
    margin: 0;
  }
  #app {
    &.-default {
      @include background('./assets/images/bg', 100% 80%, auto 0);
      background-color: #4285f4;
      font-family: Helvetica, Arial, sans-serif;
    }
    &.-landing {
      background-color: #fff;
      padding: 0;
      overflow-x: hidden;
      
      .content {
        width: 1180px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1%;
      }
    }
    .app-content {
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow-x: hidden;
  
      @include media(desktop, wide) {
        width: 87.5rem;
      }
      @include media(x-wide) {
        width: 2200px;
      }
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .3s
    }
    .fade-enter, .fade-leave-to {
      opacity: 0
    }
  }
</style>

<style lang="scss" src="./styles/elements.scss"></style>
